[2016-04-01 18:43] danehans opened #4 "Project Description"
I'm confused by the project description. Will addon-manager be pulled from k8s and live here? Are there bigger plans for this project?

[2016-04-05 15:09] justinsb opened #6 "Proposal for kube-up v1 -> kube-up v2 strategy"
Straw-man proposal for how we should get from kube-up v1 to kube-up v2:
- [ ] Create v2 of the create-instances-on-cloud-side (i.e. the bash side of kube-up).  We have a growing list of requirements for it.  We also have users that would use it today, to do tasks that the current kube-up tool is bad at.  (e.g. adding more nodes of a different instance type to an existing cluster)  My proposal is t

[2016-04-05 15:10] justinsb commented on #6
cc @mikedanese

[2016-04-07 01:30] mikedanese commented on #6
What is insufficient with the terraform config language that we need a tool to generate the config? I have only tinkered with terraform but I found it difficult to adopt existing resources. For example, say I want to either deploy into the network name foobar or create one with this config if it doesn't exist. I couldn't figure out how to do that. There other issue I had was accounting for resourc

[2016-04-07 01:51] mikedanese commented on #6
Here's another interesting use cause where a reasonably modular deployment automation should handle easily but saltv1 fails at misserably: [kubemark](https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/kubemark.md). Kubemark requires a cluster to be deployed normally (i.e. via kube-up). It then requires a second master, make a secret in the original cluster that contains the second

[2016-04-07 01:55] mikedanese commented on #6
ref https://github.com/kubernetes/kubernetes/issues/23174

[2016-04-29 18:51] errordeveloper commented on #6
This is are all really great ideas towards new provisioning tooling, I fully support use of Terraform, by the way. Also, please do to take a look at [our project](https://github.com/weaveworks/kubernetes-anywhere), it uses Weave Net as bootstrap/management network, but CNI plugins can be leveraged for alternative pod network implementations. The idea is to make the amount of work left for configur

[2016-05-01 13:43] luxas opened #10 "Move docker-multinode to this project"
Ref: kubernetes/kubernetes#21646

@mikedanese @fgrzadkowski @vishh @cheld @janetkuo @justinsb

[2016-05-01 21:53] mikedanese commented on #10
SGTM, would you like to prepare a PR?

[2016-05-02 06:41] cheld commented on #10
CC @zreigz, @batikanu

[2016-05-02 21:10] luxas commented on #10
@mikedanese Yes, in a few days I'll have one.

[2016-05-03 19:23] jimmyjones2 commented on #10
@luxas Isn't kube-deploy community maintained? But the [table of solutions](http://kubernetes.io/docs/getting-started-guides/) says Docker multinode is supported by the project?

[2016-05-04 21:02] luxas commented on #10
@jimmyjones2 It was Brendan's project, but he's not actively working on it anymore, so now the community maintains it.
But anyway, the line between community/k8s supported and this project isn't so sharp I think, we just want good k8s deployment code to `kube-deploy`

[2016-05-04 21:04] mikedanese commented on #10
Kubernetes is maintained by the community :) I agree that this is a good spot for it. It's at least better than cluster/.

[2016-05-04 21:05] luxas commented on #10
Yes, of course :smile:

[2016-05-05 05:01] cheld opened #13 "Deploy add-ons to docker-multinode"
The most important add-ons (DNS,Heapster,Dashboard) should be deployed easily or automatically when using docker-multinode

We have created an experimental implementation for that. It is an add-on container, similar to Hypercube:
https://github.com/FujitsuEnablingSoftwareTechnologyGmbH/k8s-docker-provisioner/tree/master/addons

One reason is that the descriptors are in yaml which requires kubectl.

[2016-05-05 05:01] cheld commented on #13
@luxas

[2016-05-07 20:54] luxas commented on #13
@mikedanese is working on `kube-addon-manager` that we're going to use: https://github.com/kubernetes/kubernetes/pull/23600#issuecomment-217634645

I'll port it to multiple arches soon

[2016-05-09 09:33] cheld commented on #13
hmm...it seems to be coupled to salt....Let's say I am dashboard developer: I run hypercube and want some add-ons to be deployed like DNS and Heapster. What would the workflow look like when using kube-addon-manager? In my understanding, some not so nice manual steps would be required.

I asume, a usage together with hypercube (kind of a stand-alone mode) would require to move the salt logic into

[2016-05-09 09:47] cheld commented on #13
CC @batikanu, @tamir

[2016-05-16 16:12] justinsb opened #29 "nodeup has hard-coded v1.2.2 in some image names"
It should honor the version passed by cloudup

[2016-05-16 16:12] justinsb commented on #29
@mikedanese can you assign to me please?

[2016-05-16 17:19] mikedanese commented on #29
Uggh permissions.... ok, you should be able to now

[2016-05-20 12:25] errordeveloper opened #35 "PKI can be created with Terraform"
Just for the record, certs [can be generated using Terraform](https://www.terraform.io/docs/providers/tls/). I haven't tested this feature and only learned about it somewhat recently, I would love to hear if anyone has tried it in Kubernetes context or in general. It does seem appropriate for min-turnup and any other solutions using Terraform.

[2016-05-23 22:54] mikedanese opened #37 "min-turnup: implement a phase 1 for GCE using deployment manager"
https://cloud.google.com/deployment-manager/docs/

[2016-05-24 14:46] luxas commented on #10
The PR is merged, I'm closing it

[2016-05-24 14:46] #10 closed, assigned to nobody

[2016-05-24 14:47] luxas commented on #13
For context see: kubernetes/kubernetes#25631
It will be available in v1.3, feel free to build hyperkube yourself and test it out

[2016-05-27 11:13] cheld commented on #13
LGTM

[2016-05-27 11:13] #13 closed, assigned to nobody

[2016-05-28 18:02] justinsb opened #42 "cloudup: fromPort/toPort on securityGroupIngress is ambiguous"
It means port range, but it is easy to confuse with source & destination ports.

[2016-05-30 13:34] justinsb opened #44 "Can we reuse componentconfig for our configuration spec?"
I'd like to experiment with using the componentconfig types for our configuration.  (I think it would be awesome if we could converge on a single configuration system for the various phases, and the types in k8s itself seem a logical choice)

Is there are way to instruct e.g. kubelet to read configuration from a JSON file containing a `componentconfig.KubeletConfiguration`?  Or to generate flags f

[2016-06-02 18:02] justinsb opened #52 "upup: tracking issue to reach v1"
Primary tasks before we can declare v1

P0
- [ ] finalize configuration schema (#44)
- [x] reach consensus on protokube
- [x] clean up terraform generation

P1
- [ ] fix tagging edge cases

P2
- [x] bring up master (& etcd) in ha mode
- [ ] decide if we want to use ELB on single-master
- [ ] store state in S3?
- [ ] encrypt state using KMS?

[2016-06-08 00:42] justinsb opened #68 "upup: issue pulling glog dependency (with glide)"
Issue reported to me:

[code]

Retrying did work.

[2016-06-08 13:57] justinsb opened #70 "upup: not all dependencies deleted"
We don't currently delete:
- the SSH keypair
- the IAM role / policy etc (we could maybe use the IAM path to mark these)
- the DNS zone (that is probably correct)

[2016-06-09 05:45] justinsb opened #73 "upup: Secret store / CA store not thread safe"
I think I saw an error which suggested that the secret store served an invalid JSON from the secret.  This would happen if we were mid-write during a read, I believe.  We should write files atomically (anyway), and we should probably do some locking, particularly during create-if-not-exists operations.

[2016-06-09 13:37] justinsb opened #74 "upup: terraform issue #2143 prevents creation of EC2 tags with dots"
Terraform issue 2143 prevents creation of EC2 tags with dots, which we use for `k8s.io/...`  It actually works for autoscaling groups; the only place it causes us trouble is with volumes.

Going to investigate a workaround where we create the volumes outside of terraform anyway, as you might not want terraform blindly deleting the crucial state of your cluster!

[2016-06-10 06:00] earthIsAPrisonIfYouNotAwareItCanNotOut opened #80 "all config lost when restart the master server by docker-mutinode"
unable to save current status when restart server and use master.sh again.

[2016-06-10 19:34] justinsb opened #91 "upup: race condition with kube-addons"
Sometimes, typically when something else goes wrong, kube-addons will be stuck in a loop:

[code]

This blocks cluster bring-up entirely.  KCM won't allocate PodCIDRs etc.

Restarting kube-addons causes it to recover and the cluster starts normally.

[2016-06-11 12:37] colemickens opened #94 "[min-turnup] kubelet.service can hangnode"
edit: see further down for the node hanging issue

---

I have something close to working with `min-turnup`, but I'm running into an issue with the playbook.

Where does `master_ip` get added to the `cfg` object [here](https://github.com/kubernetes/kube-deploy/blob/09c5d3c80c424d15c34bbf36624d15cb85e0369c/min-turnup/phase2/ansible/playbooks/roles/node/templates/kubeconfig.jsonnet#L16)?

[code]

[2016-06-11 12:46] colemickens commented on #94
I tweaked the config json to have `master_ip` to workaround and ran into this instead:

[code]

https://github.com/kubernetes/kube-deploy/blob/09c5d3c80c424d15c34bbf36624d15cb85e0369c/min-turnup/phase2/ansible/playbooks/roles/node/templates/kubelet.service.j2#L25

[2016-06-11 14:27] mikedanese commented on #94
Hi @colemickens . On gce, the config is shoved into the instance metadata, here https://github.com/kubernetes/kube-deploy/blob/master/min-turnup/phase1/gce/lib/gce.jsonnet#L25-L28. The entire cfg object plus some fields supplied by terraform e.g. master-ip are also added at this point. What version of ansible are you using? I've been working off of master since that seems to be what they recommend

[2016-06-11 22:10] colemickens commented on #94
I'm building the `install-k8s` container from the [Dockerfile](https://github.com/kubernetes/kube-deploy/blob/09c5d3c80c424d15c34bbf36624d15cb85e0369c/min-turnup/phase2/ansible/Dockerfile) which is building it from master.

Anyway, I've worked around this and the general lack of metadata in Azure so far - I boot the instances with `custom_data` which allows me to plumb the config, crypto assets an

[2016-06-11 22:25] justinsb opened #95 "upup: should be able to launch into existing VPC (on AWS)"
A consistent request is to make it easy to launch k8s clusters into an existing VPC.

Two parts, I think:
- Specifying an existing VPC
- Choosing a non-conflicting subnet and/or verifying that a provided subnet does not conflict

[2016-06-11 22:26] justinsb opened #96 "upup: we should verify that the zones are valid"
It is easy to typo a zone, or to type a duplicate zone.  We should do some validation on the user provided list of zones.

[2016-06-11 22:27] justinsb opened #97 "upup: describe vendoring and 1.5 build options"
We should support people building with golang 1.5 (or document a restriction if we can't do that).  This may be as simple as adding GO15VENDOREXPERIMENT=1 to the instructions / makefile.

[2016-06-11 22:44] janwillies opened #98 "upup: specify hosted zone for aws"
It should be possible to specify the Hosted Zone on AWS.

Currently it's implicit, e.g `MYZONE="test.foo.bar.example.com"` will result in `*awstasks.DNSZone     dnsZone/example.com` whereas the Hosted Zone actually is `foo.bar.example.com`

[2016-06-11 23:16] justinsb opened #99 "upup: unusual bug when deleting ASG"
[code]

I guess this is the "already deleted" message.

[2016-06-11 23:18] justinsb commented on #99
Also it then looped seemingly infinitely...

[2016-06-11 23:53] colemickens commented on #94
It gets more confusing. If I start `kubelet.service` without any manifests in the manifest directory, it will start fine. I can move the manifests into place and it will start the pods and I get a healthy cluster.

If I start `kubelet.service` with the manifests already in place as one normally would, it results in the hanging behavior described. [Here's a screenshot](http://i.imgur.com/EUj9kxi.pn

[2016-06-12 02:03] ghost opened #102 "Run master node failed with docker-multiplenode"
[code]

[2016-06-12 03:05] #73 closed, assigned to justinsb

[2016-06-12 03:06] #98 closed, assigned to nobody

[2016-06-12 03:07] justinsb commented on #96
Fixed by #100

[2016-06-12 03:07] #96 closed, assigned to justinsb

[2016-06-12 03:08] justinsb commented on #99
Should have been fixed by #101

[2016-06-12 03:08] #99 closed, assigned to justinsb

[2016-06-12 03:33] #97 closed, assigned to justinsb

[2016-06-12 23:47] justinsb commented on #29
No longer hard-coded :-)

[2016-06-12 23:47] #29 closed, assigned to justinsb

[2016-06-13 21:36] #95 closed, assigned to justinsb

[2016-06-14 15:52] justinsb opened #112 "upup: spurious changes on shared for VPC / InternetGateway"
The new Shared flag is giving us spurious changes...

[code]

[2016-06-17 14:15] knarz opened #117 "upup: support running etcd and apiserver on independent hosts"
Hello,

being able to run the etcd cluster independently from the apiservers would allow:
- managing the etcd cluster seperately
- performance isolation/scaling the api layer independently
- integrating with existing etcd setups

All other servers would then run etcd in proxy mode.

[2016-06-18 03:41] justinsb opened #118 "upup: We should figure out what to do with instance storage / root disks / btrfs"
We've had a number of problems with ephemeral storage on EC2, not least that newer instance types don't include them (e.g. https://github.com/kubernetes/kubernetes/issues/23787).  Also symlinking /mnt/ephemeral seems to confuse the garbage collector.

We should figure out how to ensure that we have a big enough root disk, maybe how to re-enable btrfs, and then if there is anything we can do with t

[2016-06-19 01:17] justinsb opened #120 "upup: allow ICMP 3:4 in master/minion groups?"
If we're going to accept traffic to the master (for the API server), we should probably allow ICMP 3:4

cf https://github.com/kubernetes/kubernetes/issues/24254

[2016-06-19 01:18] justinsb commented on #120
Looks like this in the API:

[code]

[2016-06-19 02:45] justinsb opened #121 "imagebuilder: we should set net.ipv4.neigh.default.gc_thresh1 = 0"
This is what AWS recommends and Amazon Linux does:
https://forums.aws.amazon.com/thread.jspa?messageID=572171

(Probably should check for any other "magic" settings in the official AWS AMIs)

cf https://github.com/kubernetes/kubernetes/issues/23395

[2016-06-20 10:46] stefanodoni opened #122 "How does docker-multinode differs from 'production' k8s clusters?"
Hi,

We're evaluating k8s internally and, to do so, I've brought up a 2-machines local cluster with kube-deploy docker-multinode scripts.

I've read some k8s developers saying that this deployment option is different (less reliable?) from standard 'production-ready' clusters deployed using (I think) kube-up clusters/ scripts.

Is it so? If yes, what are the main differences among the two deploymen

[2016-06-20 18:32] mikedanese opened #123 "sharing infrastruture between deployments"
There is a certain amount of tooling that will benefit all deployment automations. We should discuss how to develop this tools in a way that they benefit as many of the maintained deployments as possible. Some work that I can think of that would benefit all deployments:
- Config revamp. It's hard to configure kubernetes components.
  - Finish componentconfig https://github.com/kubernetes/kubernete

[2016-06-20 21:51] justinsb opened #124 "upup: support IP based firewalling of SSH / HTTPS ports"
cf https://github.com/kubernetes/kubernetes/pull/27061

[2016-06-20 21:59] justinsb commented on #123
That list looks like a great place to start :-)

For the standardized node container image, did you mean to link to #40?

[2016-06-20 22:22] mikedanese commented on #123
Nope, meant to link to #34, thanks.

[2016-06-22 13:41] faxioman commented on #80
+1

[2016-06-22 19:52] #35 closed, assigned to nobody

[2016-06-23 14:24] justinsb opened #128 "protokube: synchronize changes automatically from statestore"
upup includes a state store, currently S3 backed, but we can easily add GCS.  We could put e.g. addons into it, so that we can dynamically reconfigure them without any SSH tricks.

This could also be used to dynamically populate the initial manifests (e.g. apiserver, kcm, scheduler etc).  Maybe we could also include kubelet, in which case nodeup becomes even smaller.

[2016-06-23 14:33] justinsb opened #132 "upup: Verify terraform output is git-stable"
We need to check that the terraform output does not change spuriously between generations.

For example, that the blocks are always output in a consistent order.

[2016-06-23 14:46] justinsb opened #133 "upup: Create tool to export the statestore, for adding to git"
Users like to store their configuration in git.  We should create a command to export a copy of the state store.

[2016-06-23 14:51] justinsb opened #134 "upup: create DNS hosted zone in 'proto' phase?"
This would likely make for a better terraform experience, because the lifespan of a DNS zone is likely longer than a particular cluster (not least because users need to reconfigure their DNS hosts)

Or we could maybe mark it as ignored by terraform.

[2016-06-23 14:52] justinsb opened #135 "upup: verify multizone is enabled on GCE"
We've had some problems with it in kube-up, and it seems likely that we aren't setting multizone everywhere for GCE also.

[2016-06-23 14:53] justinsb opened #136 "upup: error in kube-scheduler log"
[code]

[2016-06-23 14:54] justinsb opened #137 "upup: review generated names for sanity"
In particular:
- Does the extra kubernetes prefix add anything?
- Do we want to set up names to allow multiple nodesets?

[2016-06-23 14:54] justinsb opened #138 "upup: support multiple nodesets"
We should support multiple nodesets in upup, at least in the configuration schema.

[2016-06-23 14:55] justinsb opened #139 "upup: prune configuration schema"
It is easy to add things later; hard to remove them.

If we aren't actively using something, remove it / comment it out from the configuration schema.

[2016-06-23 14:55] justinsb commented on #70
We could prefix our resources to allow them to be deleted, e.g. SSH keys with k8s.io/blabla.  Although  presumably terraform would flake because of the dots.

[2016-06-23 14:57] justinsb opened #140 "upup AWS: can we get instance names in AWS to match node names in k8s?"
It would be nice if the instance name in the AWS console matched the node name in k8s

[2016-06-23 14:59] justinsb opened #141 "upup: Add GCS support to vfs/statestore"
This will then let us store the state store on GCS buckets

[2016-06-23 15:00] justinsb opened #142 "upup: re-enable GCE"
We added a fail-fast for GCE, because upup support is lagging behind AWS

We should get GCE back up to par, and then remove the fail-fast

[2016-06-23 15:01] justinsb opened #143 "upup: encrypt secrets"
Support encryption for keystore keys and secretstore secrets.

Unclear whether this should be at the VFS level or not.

[2016-06-23 15:02] justinsb opened #144 "upup: easy editing of config file"
We should create a command that allows easy editing of the statestore config file, like kubectl edit.

[2016-06-23 15:03] justinsb opened #145 "upup: validate & document upgrade procedure"
We have an early upgrade procedure.  We should validate it for 1.3, including:
- pods with mounted volumes
- services with load balancers

And then document the final procedure.

[2016-06-23 15:10] justinsb opened #146 "upup: fix tagging edge cases"
There are some edge cases where items in AWS won't be tagged, primarily when there is no change other than tags.

We should split out tagging, and also check if we can somehow avoid failures when we exit in between resource creation & tagging

[2016-06-23 15:12] justinsb opened #147 "upup: decide if we want to use ELB on single-master & on multi-master"
Should we use ELB for single-master and multi-master configurations?

The DNS approach apparently has problems when not all nodes are available.

[2016-06-23 15:12] justinsb commented on #52
These issues have now all been split out, so closing

[2016-06-23 15:12] #52 closed, assigned to justinsb

[2016-06-23 15:13] justinsb commented on #44
We are now using the same names in our schema, although with changes to  add flag generation.

Remaining:  validate that the names that we are using don't have any obvious JSON problems,

[2016-06-23 17:53] philips opened #149 "protokube: what is it?"
I can't find any docs or anything?

[2016-06-23 18:42] mikedanese commented on #123
@aaronlevy @philips are CoreOS folks interested in claiming any of these items for v1.4 (that you haven't already claimed). Is there anything you want to add to this list?

[2016-06-23 18:49] mikedanese commented on #123
@jbeda @thockin @aronchick @bgrant0607 @smarterclayton @derekwaynecarr

[2016-06-23 19:09] derekwaynecarr commented on #123
I am not sure I follow the goal with #34 , are you proposing `rkt` is the foundation run-time to bootstrap a node?

[2016-06-23 19:13] aronchick commented on #123
Can you make it clear - is this the single repo? Or something else? Can we please find one repo, and kill all the rest?

[2016-06-23 19:27] mikedanese commented on #123
@derekwaynecarr there is no dependency on rkt although rkt can easily run that image. There's actually a minimal implemntation of what rkt fly does [here](https://github.com/mikedanese/kube-deploy/blob/3173ffd06edce04392130f4d4a9f27458cd33022/node-aci/unpack) the prepares the chroot to be run with systemd and the RootDirectory directive. The idea is to package kubelet and docker and all the variou

[2016-06-23 19:32] colhom opened #152 "Contribute kube-aws tool to kube-deploy repository"
[Kube-aws](https://github.com/coreos/coreos-kubernetes/tree/master/multi-node/aws) is what we use at CoreOS to deploy production Kubernetes clusters on AWS. It offers a number of features that make it well-suited for a production environment:
- reproducible, version-controllable deployment artifacts
- end-to-end encryption of TLS assets
- compresses and inlines all build artifacts- no reliance on

[2016-06-23 19:38] justinsb commented on #149
Good call.  It is where I've put the pieces that are needed to bring up a cluster that I think belong in kubelet (or where something that achieves the same goal could be implemented in kubelet).  Currently that is primarily discovering master disks, mounting them, and then creating etcd manifests for kubelet to launch.  It's where I'm experimenting with adding additional functionality that ideally

[2016-06-23 21:59] aaronlevy commented on #123
As far as "easier self-hosted control plane boostraping" -- what does this encompass in your view?

We have been working on https://github.com/coreos/bootkube as a means of demonstrating / running self-hosted control planes -- but I think a lot of this functionality could be removed (or simplified) given a writeable kubelet api (submit pods directly to kubelet which will be rectified with apiserve

[2016-06-24 01:27] bgrant0607 commented on #152
We can move the whole repo, but let's keep it in its own repo. I don't want kube-deploy to become another contrib. We can put docs and shared bits into kube-deploy.
cc @mikedanese

[2016-06-24 02:51] bgrant0607 commented on #123
cc @kubernetes/sig-cluster-lifecycle

[2016-06-24 02:54] bgrant0607 commented on #123
@aronchick We're moving towards lots of repos. That's github's reality. However, we are trying to merge redundant efforts, which I assume was your main concern.

[2016-06-24 02:59] bgrant0607 commented on #123
Some of this is in:

https://github.com/kubernetes/community/wiki/Roadmap:-Cluster-Deployment

[2016-06-24 05:19] bbreslauer opened #153 "On Ubuntu, Docker config file should use DOCKER_OPTS, not OPTIONS"
In docker-multinode/common.sh, the docker config file (/etc/default/docker) is modified and an OPTIONS line is added when being configured on Ubuntu:

kube::helpers::file_replace_line ${DOCKER_CONF} `# Replace content in this file` \
          "--bip" `# Find a line with this content...` \
          "OPTIONS=\"\$OPTIONS --mtu=${FLANNEL_MTU} --bip=${FLANNEL_SUBNET}\"" `# ...and replace the found li

[2016-06-24 05:52] mikedanese commented on #153
cc @luxas

[2016-06-24 06:13] bbreslauer opened #154 "file_replace_line function appends line instead of replacing"
I'm running the docker-multinode scripts on Ubuntu Trusty, and the part that edits the /etc/default/docker file always appends a line instead of replacing an existing line. When running master.sh, the following error is outputted, suggesting that the "--bip" is being interpreted as an option and not a pattern.

grep: unrecognized option '--bip'
Usage: grep [OPTION]... PATTERN [FILE]...
Try 'grep -

[2016-06-24 06:28] bbreslauer opened #155 "Add init script to OS when installing with docker-multinode"
It would be great to have an init script added to the OS (for example, as an upstart or systemd script) when running master.sh or worker.sh, so that when a host is rebooted, the appropriate stuff is started up automatically.

[2016-06-24 06:37] aronchick commented on #123
@bgrant0607 sorry, yes - you are correct. The latter was my issue - as per the community meeting today, I think we all agree we should just choose _one_ getting started center point for work, and focus our efforts there. I still don't understand why there's both kube-deploy and kube-anywhere, weren't those efforts already merged?

[2016-06-24 06:42] mikedanese commented on #123
@aronchick min-turnup and kubernetes-anywhere were merged and min-turnup was removed from kube-deploy. kube-deploy holds other projects. It's the contrib for deployment automation.

[2016-06-24 20:32] vishh commented on #123
@aaronlevy Take a look at https://github.com/kubernetes/kubernetes/issues/27980 . That should hopefully solve the config management issues wrt. self-hosting.

@derekwaynecarr @mikedanese Just to clarify, `rkt` will be a transient dependency for bootstrapping _just_ the kubelet right? https://github.com/kubernetes/kube-deploy/pull/34#issuecomment-228214828

[2016-06-25 01:58] philips commented on #152
This issue is what caused me to start the discussion on kubernetes-dev about how do we decide when something is added as a new repo. Probably best to sort that out before just unilaterally adding another repo for kube-aws: https://groups.google.com/d/msg/kubernetes-dev/o6E1u-orDK8/SAqal_CeCgAJ

[2016-06-25 01:59] philips commented on #149
Sounds good.

[2016-06-26 23:16] zapman449 opened #157 "upup and support for private subnets"
upup needs the capability to create subnets which are both public and private.  This should do three things:

1) Create an ASG spread across the private subnets
2) Create an ASG on the public subnets (with EIPs ideally)
3) Label the instances distinctly between the ASGs (external / internal or similar)

[2016-06-27 03:16] justinsb commented on #42
It is ambiguous, but the EC2 API uses the same name (and therefore Terraform does as well).  We also can in theory change this in future - it is the fi contract, not the cluster contract.

Closing as "won't fix"

[2016-06-27 03:16] #42 closed, assigned to justinsb

[2016-06-27 04:38] #132 closed, assigned to nobody

[2016-06-27 04:41] justinsb commented on #138
This is supported as of #158

[2016-06-27 04:41] #138 closed, assigned to nobody

[2016-06-27 04:43] justinsb commented on #44
Names looks sensible as of #158

[2016-06-27 04:43] #44 closed, assigned to nobody

[2016-06-30 16:58] virtuald opened #167 "docker-multinode offline support"
I'm working on modifying the scripts to make this possible, if anyone else is interested post here and I can push my modifications up. Once I get it working, I'll do a PR.

At the moment, my approach is to provide an `offline.sh` script that can download all the images from the internet, and optionally push them to a private registry, and then also pull them from a private registry and retag them

[2016-07-04 08:45] teaspoon commented on #122
I'd be interested in which route you went with? Pretty new to Kubernetes and deploying it via docker-multinode looks like the easiest way to get a cluster up and running in production. Would love to know if people are using this in production and how they are finding it?

[2016-07-04 09:20] colachg commented on #155
I run master.sh in ubuntu 16.04  after I rebooted, some containers couldn't be started up. who can help me?

[2016-07-04 09:48] stefanodoni commented on #122
Hi,

we're still in the tech evaluation phase, no production usage yet.

Unfortunately my first experience with k8s deployment has been a bit rough, I've tried 5 (!!) deployment options before being actually able to get a working k8s cluster that satisfied my requirements:
- local setup (no cloud)
- physical machines (no VMs)
- all-included, i.e with DNS and cluster monitoring addons
- ubuntu-base

[2016-07-04 12:03] teaspoon commented on #122
@stefanodoni Thanks for the response. I actually tried installing it on one of our Ubuntu machines and received an error
!!! [0704 11:11:13] flannel failed to start. Exiting...
Probably because I am also running docker 1.11 so thanks for the heads up.

[2016-07-04 20:31] justinsb opened #171 "imagebuilder: assumes we are running in imagebuilder dir"
Probably need to add this to README:

`cd`${GOPATH}/src/k8s.io/kube-deploy/imagebuilder`

[2016-07-05 14:57] colachg opened #173 "docker-multinode: etcd failed to start. Exiting..."
Here is my problem:
**First,I ran ./master.sh**

[code]

**Then, I ran it again:**

[code]

**The third time:**

[code]

**after add  '--no-sync'  in common.sh (#start etcd container)**

[code]

How to debug where etcd failed? My OS is ubuntu 14.04.4. docker version is 1.11.2.

[2016-07-05 17:00] justinsb opened #174 "imagebuilder: does not work in cn-north-1"
Imagebuilder currently assumes we build the image in us-east-1, and then copies it to other regions.

We should both remove that assumption (e.g. when replicate=false) and upload the fixes for running in cn-north-1 (I have them locally)

[2016-07-05 17:01] justinsb commented on #149
Added some high level docs: https://github.com/kubernetes/kops/blob/master/protokube/README.md

[2016-07-06 09:18] dennis-bell commented on #173
Same problem here with Docker 1.11.2 and Ubuntu 16.04 LTS
Seems to be working better with an older Docker engine version (1.9.1) however that is missing the -v shared option again.
Will try some more with Docker 1.10.2

[2016-07-06 12:38] colachg commented on #173
**I have it run on Ubuntu 14.04.4 with docker 1.11.2 just now.**After reboot, it works well.

First, I setup  [bootstrap docker](http://kubernetes.io/docs/getting-started-guides/docker-multinode/master/) daemon, touch `/etc/init/docker-bootstrap.conf`(according to **docker.conf** in this dir).set the parameters after `docker daemon` in this file: `/etc/default/docker-bootstrap`(copied from _docker

[2016-07-06 12:41] #173 closed, assigned to nobody

[2016-07-06 12:47] colachg commented on #102
I think you can find this:

in **common.sh**, and then copy the cmds to your shell directly to debug where the docker bootstrap failed to start.

[2016-07-11 15:13] taimir opened #176 "Flannel daemonset for docker-multinode"
With the introduction of https://github.com/kubernetes/kube-deploy/pull/115 to the `docker-multinode` project, it would be natural to follow up with a daemonset for `flannel`.

I've already created one and tested it in a small 3-node setup and it seems to work fine (addons start properly, I can deploy guestbook and there's connectivity between all pods). In the process I stumbled upon two issues:

[2016-07-11 19:30] luxas commented on #155
@bbreslauer Can I assign this to you? (I can't assign it to here on Github, but can you do/test it?)

[2016-07-11 19:58] bbreslauer commented on #155
Sorry but I don't think I'll get around to this, since I'm starting/installing Kubernetes through a different method now. I could provide pointers/examples for the Upstart scripts, but I don't have anything for systemd.

[2016-07-11 20:08] luxas commented on #167
Migrated from kubernetes/kubernetes:

[2016-07-11 20:09] luxas commented on #154
@bbreslauer Is this fixed with #164?

[2016-07-11 20:40] bbreslauer commented on #154
Yes, closing. Thanks!

[2016-07-11 20:40] #154 closed, assigned to nobody

[2016-07-11 20:41] bbreslauer commented on #153
This is fixed with #164

[2016-07-11 20:41] #153 closed, assigned to nobody

[2016-07-12 00:08] virtuald commented on #167
As mentioned in the other issue, my [PR](https://github.com/kubernetes/kube-deploy/pull/168) provides mechanisms that facilitate using the docker-multinode scripts in an offline manner. While I agree that keeping the contents of common.sh should be kept to a minimum, kubectl et al does not seem to provide the necessary functionality.

In particular, the difficult parts are:
- Actually figuring out

[2016-07-12 07:31] luxas commented on #176
Huge +1 on this. I'll try to get cni merged into `v1.4.0-alpha.1` so we may test it officially

[2016-07-27 00:37] philips commented on #149
"Mount and discover master volumes": why is this necessary? etcd floats around the cluster and is backed by EBS?

[2016-07-27 00:52] justinsb commented on #149
@philips  Exactly right - following this approach: https://github.com/coreos/etcd/issues/5418  Will add a note as to motivation, and a link

[2016-07-27 15:41] justinsb commented on #157
Moved to https://github.com/kubernetes/kops/issues/220

[2016-07-27 15:41] #157 closed, assigned to justinsb

[2016-07-29 12:51] faxioman opened #179 "Unable to start a master node"
I'm trying many versions of docker on many os (Ubuntu, Debian, Centos).
I am having different errors for each combination.
Which precise version of os/docker setup you are using for your tests?
Thanks

[2016-07-29 13:07] luxas commented on #179
Can you provide an example error message?
I'm using Ubuntu 15.10 (aka systemd) and docker 1.11

[2016-07-29 13:22] faxioman commented on #179
Launching master.sh:
- sed error on centos 7 and api server not starting. From the docker log:

[code]
- debian 8.5

[code]
- ubuntu 16.04 and 14.04

[code]

I'll try with your setup in an hour.

[2016-07-29 13:51] faxioman commented on #179
Ubuntu 15.10 with docker 1.11.2:

[code]

[2016-07-29 14:10] luxas commented on #179
Hmm, very stange.
How is your network set up? It might be something special there (eno16777984)
Also, are you using the latest version of docker-multinode?
If that doesn't help, you may also try to check out my PR

What does `docker -H unix:///var/run/docker-bootstrap.sock logs {etcd container}` say?

[2016-07-29 14:20] faxioman commented on #179
I have a standard network configuration with an ethernet card with a static dhcp lease. Note that a month ago (the kube version was 1.2) the deploy on centos was working perfectly.
Now I'm creating a new centos machine (centos 7.1 + docker 1.10.2) and I get this error:

[code]

[2016-07-29 14:55] faxioman commented on #179
I give up ... I hope for an ansible playbook for installing kubernetes in the near future ;)
Bye.

[2016-07-29 14:55] #179 closed, assigned to nobody

[2016-07-30 11:42] NamPNQ opened #181 "docker-multinode kubectl?"
Where I can get kubectl in docker-multinode?

[2016-07-30 18:53] eddytruyen opened #182 "docker-multinode: Running cloud-provider specific code"
I am facing an issue that I want to add specific options to the hyperkube command such as  --cloud-provider=openstack.  I modified the worker and master scripts then such that:
- --cloud-provider and --cloud-config options are added to the hyperkube  command
- I mount a host dir with the cloud_config file into the kubelet container (with the -v option)

[code]

However the cinder plugin of kuberne

[2016-07-30 19:14] luxas commented on #181
You may download it from here:

[code]

(Just replace v1.3.0 with the version you want and amd64 with the arch you want)
If you want to make a PR for this, feel free to

[2016-08-01 11:13] #181 closed, assigned to nobody

[2016-08-02 02:05] 0x5143 opened #185 "docker-multinode: dashboard&kubedns cannot route to api server"
K8S_VERSION is set to: v1.3.4
ETCD_VERSION is set to: 2.2.5
FLANNEL_VERSION is set to: 0.5.5
FLANNEL_IPMASQ is set to: true
FLANNEL_NETWORK is set to: 10.1.0.0/16
FLANNEL_BACKEND is set to: udp
RESTART_POLICY is set to: unless-stopped
MASTER_IP is set to: 10.10.1.70

dashboard and kubedns cannot connect to api server with wrong server address.

[code]

[2016-08-02 12:08] luxas commented on #182
Thanks!
At the meantime, this is a hard issue to solve.
We have to balance size of the hyperkube image vs usability (only the required packages for kubernetes to run vs all possible packages that could be required)

And right now `cinder` isn't installed in the hyperkube image.
What do you think is the best option to do?
I've been thinking about an option to run kubelet on host, but then it will b

[2016-08-02 12:09] luxas commented on #185
Which os are you on? Which commit of kube-deploy?

[2016-08-02 12:10] luxas commented on #155
The docker containers are automatically restarted when using CNI, so if docker comes up, then everything probably comes up
@cheld @zreigz

[2016-08-02 12:13] luxas opened #188 "e2e testing of docker-multinode"
@zreigz Can you add a Vagrantfile for a two-machine cluster with Ubuntu 16.04 that runs conformance test?

Last time I ran conformance tests, 92 of 96 passed :)
We should make it automatic

[2016-08-02 12:36] eddytruyen commented on #182
Ok, your answer confirms what I've been experiencing with the Cinder plugin and the cloud-provider plugin of openstack.

As an alternative option you can install Flocker on the host, configure Flocker to use Cinder volumes,  and then integrate Flocker with hyperkube. I made a very simple extension of docker-multi-node's `common.sh` to pass the necessary environment variables and security credentia

[2016-08-02 12:37] zreigz commented on #188
Yes sure. It is very good task. Do you think about full automatic path where:
- up vagrant instances

On cluster instances:
- install docker
- clone kube-deploy
- start master and node

On test instance
- clone/download kubernetes
- run e2e conformance tests
- display result

[2016-08-02 12:46] zreigz commented on #188
It could be like this:

[code]

[2016-08-02 14:36] 0x5143 commented on #185
I have fixed it with remove secret and pod.

[2016-08-02 14:36] #185 closed, assigned to nobody

[2016-08-03 06:25] cheld commented on #155
In general, containers will be restarted by Docker depending on the docker run flags. The script provides variable RESTART_POLICY to control the restart behavior:

https://github.com/kubernetes/kube-deploy/blob/master/docker-multinode/common.sh#L45

Currently, the script provides two quite different ways of starting kubernetes. The 'old bootstrap' and the new cni way. You can enable CNI with the U

[2016-08-03 06:28] bbreslauer commented on #155
Yes, the init scripts I was referring to are to start up the docker daemons (without CNI, which I don't think existed when I filed this issue).

[2016-08-03 06:35] cheld commented on #188
You might want have a quick look at boot-kube on how they run the conformance test. Maybe we can borrow a good idea

[2016-08-03 07:04] cheld commented on #182
Ok, if I understood @luxas correctly than cinder/nova client stuff (which might require python) has to be installed to the hyperkube image (kind of apt-get install ...)

In my understanding the situation is particular bad on bare metal. We have lots of storage providers and some are even proprietary and not part of the distro.

The only solution that comes to my mind is to split kubelet into two c

[2016-08-03 07:50] luxas commented on #155
You're right that the CNI option didn't exist when you filed the issue, but unfortunately restarting bootstrap will be out of scope, sorry.

I'm fully focusing now on making CNI the best option for deploying kubernetes

[2016-08-03 08:59] batikanu commented on #182
I had the similar problem with openstack cinder volumes. I realized that after restarting/recreating kubelet it manages to create volume without error. In my case the os.Stat(devicePath) function in cinder_utils.go was causing the problem. I could verify the devicePath manually by logging into kubelet and running stat command which actually works. However it can't find the path which already exist

[2016-08-04 09:34] zreigz commented on #188
PR created https://github.com/kubernetes/kube-deploy/pull/189

[2016-08-04 22:25] faxioman commented on #179
All problems solved with latest kube-deploy updates ;)

[2016-08-08 11:58] zreigz opened #192 "docker-multinode: what next"
I would like open discussion about future plans for docker-multinode. I assume the CNI is still a hot topic. Regarding this some PRs are still waiting to be merged, so we have to wait.
Is there anything I can help with?

[2016-08-08 12:12] cheld commented on #192
CC @cheld

[2016-08-08 12:14] zreigz commented on #192
cc @luxas

[2016-08-08 12:37] cheld commented on #192
Things that come to my mind are rather big and complicated:

Reduce amount of shell script / run hyperkube as single docker command
- [x] flannel daemon set (in progress)
- [x] proxy daemon set (https://github.com/kubernetes/kube-deploy/pull/184)
- [ ] add etcd to master as static pod

Enhancements
- [ ] Add heapster. cross complication needed
- [ ] Configuration, e.g. how do I change default port

[2016-08-09 12:20] luxas commented on #192
One thing in mind:
If you start a master once; and don't remove the /var/lib/kubelet in between, you'll see logs such as this the second time:

[code]

The errors come from `pkg/kubelet/kubelet.go:2037`, where the pods should be unmounted before they are removed.

[code]

I think kubernetes/kubernetes#14403 may be fixed already

[2016-08-09 20:54] zanhsieh commented on #192
How about: support debian jessie?

Have tried vagrant with debian/contrib-jessie64 box with test (see my fork for test [here](https://github.com/zanhsieh/test-jessie)). master only has kubelet up.

[2016-08-10 05:12] zreigz commented on #192
According to @luxas suggestions I am going to get rid off ansible from Vagrant test project

[2016-08-10 09:17] maciaszczykm commented on #192
@luxas I'll work on it.

[2016-08-10 12:11] maciaszczykm commented on #192
@luxas I'm working on it, but cannot reproduce it currently. Could you tell me what your setup was? Which versions (Kubernetes, Docker, OS) did you use?

[2016-08-10 13:09] cheld commented on #192
@maciaszczykm I could reproduce easily:

Docker: 1.10 +
Kubernetes: 1.4.0-alpha2
USE_CNI=true
Ubuntu 15

Check logs from kubelet

[2016-08-10 13:55] maciaszczykm commented on #192
@cheld Yeah, I'm checking them with `docker logs 0b411406b537 2>&1 | grep 'Failed'` command, where `0b411406b537` is  `hyperkube kubelet` container ID, and there is no such error. My test setup was following:

[code]

[code]

I'll change `USE_CNI` to `true`, but I think, that cluster contents may be important. At the moment I've pods, secrets and few other resources, but perhaps some specific reso

[2016-08-11 08:22] peihsinsu commented on #173
I find you can remove the ":shared" in "kube-deploy/docker-multinode/common.sh", and it can be start normally.

I tested on CoreOS 1068.9.0 (MoreOS) with docker 1.10.3 and Ubuntu 15 with docker 1.12.x.

Does it very important for use ":shared" in kubelet??

[2016-08-12 06:46] cheld commented on #192
I will check

[2016-08-12 07:14] zreigz commented on #192
I run e2e tests. This is the last result:

[code]

[2016-08-12 07:16] zreigz commented on #192
Currently I have been working with:

[code]

My first investigation indicates configuration problem. When I confirm it I will create PR for tests

[2016-08-12 07:27] luxas commented on #192
@zreigz I think you'll get more accurete e2e results if you're using a e2e.test binary that equals the version of the tested env. Right now e2e.test is HEAD and the cluster v1.3.4

[2016-08-12 07:47] cheld commented on #192
@maciaszczykm

I can reproduce with the following steps:

[code]

I could not reproduce with 1.4 only. Maybe the switch from 1.3 to 1.4....

[2016-08-12 11:24] maciaszczykm commented on #192
@cheld I don't know where I can find `./build/hyperkube.sh` script. It's in your home directory, but not in `kube-deploy` project.

I am using `v1.4.0-alpha.2`.

[2016-08-12 11:33] zreigz commented on #192
@luxas I will add possibility to checkout k8s branch to correct version in this PR https://github.com/kubernetes/kube-deploy/pull/194

[2016-08-12 16:44] mlbiam opened #195 "docker-multinode: how to access master and how to change api server config"
I have the master up and running, but I'm very confused about how to access it.  None of the containers are exposing ports and neither 8080 or 8443 is available.  Also, how can I change the API server config?  I want to get OpenIDConnect integration working.

[2016-08-15 04:06] huangfushun opened #196 "docker-multinode:containerized is required for volume mount"
when add --containerized on kubelet it solved.

[2016-08-16 06:46] zreigz commented on #192
@luxas I have more accurate tests result from https://github.com/kubernetes/kube-deploy/pull/194

I used v1.4.0-alpha.2 for tests

[code]

The first failing test `Fail] [k8s.io] Networking [It] should function for intra-pod communication [Conformance]` looks suspicious. Today I will take a look closer because it shouldn't happend

[2016-08-16 12:04] maciaszczykm commented on #192
Okay, finally I'm able to reproduce issue thanks to @cheld's tips.
1. To reproduce start with clean up. Use `docker kill $(docker ps -q)` and `sudo ./turndown` commands.
2. Build using older version of Kubernetes (1.3). Go to Dashboard project and `./build/hyperkube.sh`.
3. Deploy all kinds of resources.
4. Kill all Docker containers with `docker kill $(docker ps -q)` command.
5. Run Docker multin

[2016-08-16 15:22] luxas commented on #192
@maciaszczykm See the comment here how to maybe fix it: https://github.com/kubernetes/kube-deploy/issues/192#issuecomment-238535987

[2016-08-16 15:36] luxas commented on #195
Hi @mlbiam! It might look a bit confusing when the ports aren't exposed, but that's because they're attached to the host network (`--net host`), so ports are automatically opened on 8080 and 6443.
You should just be able to run `kubectl get po` straight away :)

Right now, it's unfortunately very hard to customize the apiserver's config, but we're working on improving the UX for that. Now you
a) E

[2016-08-16 15:39] luxas commented on #196
Yes, we're aware of that.
Earlier, with `--containerized`, nsenter was used to enter the host's mount namespace, and therefore you were able to use glusterfs when it was installed on the host. However, --containerized also has some bad side-effects, which was the reason we switched to the shared mount solution. Now, since gluster isn't installed in the container (we can't install every possible st

[2016-08-16 15:40] luxas commented on #179
I'm really glad to hear that! :smile:
And apologies for the earlier a bit flaky state!

[2016-08-16 15:40] luxas commented on #196
see #182

[2016-08-16 15:47] luxas commented on #188
@zreigz your latest results:

[code]

are looking very good. Paste more results here when you have them :+1:

[2016-08-16 18:25] mlbiam commented on #195
Thanks @luxas I think the initial problem I had was related to running the build on CentOS7, there were a bunch of errors in firewalld related to iptables.  When I couldn't get that working I switched to Ubuntu and was able to get everything (mostly) working.  Trying to get the dashboard working now.

As for customizing the config, I was able to:
1.  Fire everything up with ./master.sh
2.  Once up

[2016-08-17 08:16] corentin-larose opened #198 "Docker-multinode error while pulling not existing repo in master.sh"
Hello,

I just tried to run master.sh from Docker-multinode (452cf54), it seems that it tries pulling a repo that doesn't exist (at least publicly): `quay.io/coreos/flannel-amd64`

[code]

In `common.sh:43`:
Changing

[code]

for

[code]

In `common.sh:152`:
changing

[code]

for

[code]

Didn't make a PR since naming convention changed in flannel repo, not sure it would work with all versions.

S

[2016-08-17 16:55] faxioman commented on #198
Same problems here.
Please kube-deploy team: test, test and, when finished, again test your code....

[2016-08-18 04:32] sekka1 commented on #198
Ran into this problem also.  It looks like the docker repo at quay for coreos has changed.  I dont see a repo named `quay.io/coreos/flannel-amd64` here: https://quay.io/organization/coreos

I think we need to change the image to this one?

https://quay.io/repository/coreos/flannel?tab=tags

Not sure..im testing it right now.

[2016-08-18 05:36] sekka1 commented on #198
Using the image `quay.io/coreos/flannel:v0.6.0-amd64` flannel does not startup outputting this error:

[code]

I had an other cluster up about 10 days ago using this method it is using this flannel image `quay.io/coreos/flannel:0.5.5`.  So i switched it over to this image and flannel started with no errors.

However now i am trying to bring up this cluster on a CoreOS beta (1122.1.0) machines and

[2016-08-18 11:32] zreigz commented on #192
I was investigating the issue `should function for intra-pod communication` and it seems to be related with vagrant.

When I created cluster on two physical machines everything is fine.  There is a strange behavior on Vagrant VMs. Service `kubernetes` listening on `10.0.0.1:443` refuse connections from worker nodes. I can ping  `10.0.0.1` from worker node and also `nmap` shows the port `443` is op

[2016-08-18 12:34] zreigz commented on #192
There is only problem with kubernetes service When I created guestbook from examples other services work fine and can be accessible from nodes

[2016-08-18 18:01] sekka1 commented on #198
Here is a quick fix that is working for me:

https://github.com/kubernetes/kube-deploy/pull/201/files

[2016-08-18 18:29] laurensvr commented on #198
Changing the URL and the version to 0.5.5 or 0.5.0 seems to be working for _master.sh_, properly starting the Flannel container.

However, for _worker.sh_, it seems to result in:
!!! [0818 20:22:37] flannel failed to start. Exiting...

Update:
Flannel was failing on Fedora 24.
The cluster works fine on Ubuntu now. The revert seems to have fixed it,

[2016-08-19 16:41] luxas commented on #198
Sorry for the mess everyone, seems like
a) the image name was wrong (the flannel team somehow didn't [release from their scripts](https://github.com/coreos/flannel/blob/master/Makefile#L66)) and
b) the flannel team didn't build a working v0.6.0 image. We have to wait for newer versions.

I don't really understand what has been going on with their release, but still I should have verified that the

[2016-08-19 16:41] #198 closed, assigned to nobody

[2016-08-23 07:07] luxas opened #205 "Merge kube-deploy with the ubuntu deployment"
ref: https://github.com/kubernetes/kubernetes/pull/29180#issuecomment-241063229

We should merge the deployments step-by-step, and eventually end up with one or two.
Also in the future, we should merge kube-deploy with the new deployment process we're designing in @kubernetes/sig-cluster-lifecycle, but this is an intermediate step

@mikedanese @wangzhezhe

[2016-08-24 11:51] zreigz commented on #192
I have created PR for intra-pod communication issue: https://github.com/kubernetes/kube-deploy/pull/207

Currently I am working with another test issue:
`
[Fail] [k8s.io] ResourceQuota [It] should create a ResourceQuota and ensure its status is promptly calculated.
`
It also looks like Vagrant problem because I don't have this errors when I start e2e test on my local machine

[2016-08-24 21:12] tmansson opened #209 "Updating kubernetes"
Hi

I've using the docker-multinode project to spin up a Kubernetes cluster using three Raspberry Pi, and everything seems to be working as it should. And I think I have a good grasp on how the pieces of the installation fit together.

I'm looking into setting up a production-grade Kubernetes cluster using a mixed architecture setup in the long run, and also being able to contribute more once I ha

[2016-08-24 22:10] sekka1 opened #210 "docker-multinode: rebooting a node"
When i reboot the master node the next time the cluster comes up there are problems with it

Looks like the DNS pod cant talk to the kube api b/c of the certs

[code]

Is there a way to make this recover after a reboot?

[2016-08-24 22:12] sekka1 opened #211 "docker-multinode: Problems mounting EBS volumes"
Using Hyperkube v1.3.5 on CoreOS systems

https://github.com/kubernetes/kube-deploy/tree/master/docker-multinode

It seems to mount the EBS volume ok

controller

[code]

But it doesnt seem to be available for use:

kubelet

[code]

@justinsb Thanks for initially helping me out on the slack channel.  I dont know where else to look for more information on what is wrong here.

[2016-08-25 09:05] maciaszczykm commented on #192
If you start a master once; and don't remove the /var/lib/kubelet in between, you'll see logs such as this the second time:
[code]

@luxas It seems, that this issue does not longer occur on current master. Can you still reproduce it? Me and @floreks cannot, we were following test cases which I've described in previous comment (using Kubernetes master).

[2016-08-25 09:15] cheld commented on #210
How did you set the variable USE_CNI=true when starting the cluster?

[2016-08-25 09:50] maciaszczykm commented on #192
@luxas Okay, it seems, that me and @floreks have found out what causes the issue with cleaning up orphaned pods.

On newest master version we're no longer able to reproduce it using steps, that I've previously described, but the issue still occurs. Simplest way to reproduce it is to clean and restart `etcd` and then re-run `kubelet`. When `kubelet` is starting it tries to cleanup orphaned pod dire

[2016-08-25 11:00] zhjwpku opened #212 "worker.sh flannel failed to start"
I have run the master.sh on master host and seems it's ok, but when I try to adding a worker node,
I got:
[root@c3po docker-multinode]# export MASTER_IP=10.0.63.202
[root@c3po docker-multinode]# ./worker.sh
+++ [0825 06:55:02] K8S_VERSION is set to: v1.3.5
+++ [0825 06:55:02] ETCD_VERSION is set to: 3.0.4
+++ [0825 06:55:02] FLANNEL_VERSION is set to: v0.6.1
+++ [0825 06:55:02] FLANNEL_IPMASQ is s

[2016-08-25 12:18] cheld commented on #212
Could you please post the logs of the flannel container?

[2016-08-25 13:27] cheld commented on #209
I have looked only a little bit into boot-kube. The focus of this project is to self-host api-server and kubelet.
For docker-multinode, selfhosted api-server and kubelet is currently not a goal. However, we run api server as static pod and kubelet as container. In addition we try to self-host all other components. E.g. flannel, proxy, dashboard.... under the bottom line the difference is not so bi

[2016-08-25 14:32] cheld commented on #196
@luxas what about if we start kubelet using nsenter and mount the host filesystem as / and the container filesystem as working directory. Like this:

[code]

A bit weired. I have taken this from boot-kube. I assume that in boot-kube it is done for other reason (shared mount propagation), but in our case it might help as well. WDYT?

[2016-08-25 14:53] sekka1 commented on #210
I didnt set that.

[2016-08-25 16:33] cheld commented on #210
The old, docker-bootstrap version does not survive a reboot. Can you switch to 1.4.0-alpha.2 and cni?

[2016-08-25 16:37] sekka1 commented on #210
Yeah, i can.  Let me try.

[2016-08-25 23:53] LaurentDumont commented on #210
Ran into the same issue. The worker.sh host seems to be okay as soon as you run the master.sh script on the master node. That does wipe your previous install so obviously not a solution.

Will try v1.4.0-alpha.2 and cni.

(you need the v there or the script regex fails!)

[2016-08-26 00:48] LaurentDumont commented on #210
Looks good! Running v1.4.0-alpha.2 and cni on the master and worker. Everything seems to survive a reboot.

[2016-08-26 01:31] zhjwpku commented on #212
I'd love to, but could you tell me where the logs located?

[2016-08-26 05:17] zreigz commented on #188
Last tests result

[code]

I think those tests can be fix because they are related with cluster configuration:

[code]

I will work on this.

[2016-08-26 05:26] cheld commented on #188
auto-scaling requires heapster, which is still missing

[2016-08-26 05:34] zreigz commented on #188
I think I can add and configure heapster in script for Vagrant cluster.

[2016-08-26 06:15] cheld commented on #188
The problem is that heapster is not cross-compiled. That's why it is missing. Not sure if I understood correctly, but I don't think it is a good idea to alter the provisioning for the tests as the tests should reflect the quality of the provisioning script by end users and not a patched version that is only used by tests.

[2016-08-26 06:18] zreigz commented on #188
OK you are right so I will take another problem related to zones

[2016-08-26 06:51] cheld commented on #212
Use `docker logs`  for the flannel container
e.g.

[code]

[2016-08-26 06:52] zreigz commented on #212
Second instance of Docker `docker-bootstrap` starts etcd and flannel. Logs for it you can find here:
`/var/log/docker-bootstrap.log`

[2016-08-26 07:04] zreigz commented on #155
CNI is supported from version: 'v1.4.0-alpha.2' Adding environment variables to upstart or systemd:

[code]

fixes the reboot problem

[2016-08-26 07:04] cheld commented on #212
Ah correct. Up to version 1.3 two docker daemons have been started. You must use the bootstrap socket like this: `docker -H unix:///var/run/docker-bootstrap.sock ps -a` in order to query the correct daemon.

This should work as well:

[code]

[2016-08-26 09:20] zhjwpku commented on #212
Something like this:

E0826 09:17:06.265830 00001 network.go:106] failed to retrieve network config: client: etcd cluster is unavailable or misconfigured
E0826 09:17:07.266507 00001 network.go:106] failed to retrieve network config: client: etcd cluster is unavailable or misconfigured
E0826 09:17:08.267148 00001 network.go:106] failed to retrieve network config: client: etcd cluster is unavailable

[2016-08-27 20:51] adiri commented on #176
Super +1 :)

[2016-08-28 20:04] tmansson commented on #209
I see, so this is more of a way for developers of kubernetes to test out the platform then for building a production environment?

I've been trying to find a way of building a kubernetes cluster, and find the official documentation to verbose and prone to errors. I'm looking at a project like this for a well-defined "best-practice" build.

So far I've had good progress with handling nodes, but the

[2016-08-29 07:18] maciaszczykm commented on #192
Moved discussion to https://github.com/kubernetes/kubernetes/issues/31596.

[2016-08-29 09:04] wenerme opened #215 "docker-multinode allow to change cluster ip range"
FLANNEL_NETWORK is config-able, but that's not enough, No way to change dns ip(hard coded) and cluster ip range. So I suggest
- Put config outside the container.
- Allow use env var to change ip range.

My cloud provider (AliYun) use `10` ip range as internal network, so the default docker-multinode doesn't works with this ip(dns problem, networking communication problem), I have to change the ip

[2016-08-30 05:52] zreigz commented on #192
I have been introducing heapster to hyperkube. I will test it on amd64 and arm platforms

@luxas What is the best way to install go and docker on RaspberryPi ?

[2016-08-30 06:36] cheld commented on #192
I have not done before, but maybe this document helps:
https://github.com/google/cloud-print-connector/wiki/Build-from-source#footnote-compiling-go

[2016-08-30 07:22] zreigz commented on #192
I found the newest versions but they don't work because of QEMU simulator problem:

[code]

I am not sure if docker and go work on simulator.

@luxas do you have some experience with QEMU and Raspbian

[2016-08-30 14:15] cheld commented on #209
IMHO docker-multinode using K8S_VERSION=v1.4.0-alpha.3 and USE_CNI=true is usable, but has some limitations as mentioned above.

sig-cluster-lifecycle is working on a easy and secure setup. It might replace or included in docker-multi node. We will know when running code is available.

[2016-08-30 14:20] cheld commented on #215
I assume you provider uses 10.0.0.1/16, right ? I think we should replace the defaults to something less common e.g. 10.13.0.1/16

Making everything configurable that is acceptable to everyone is a bit more complicated. But it will be addressed rather soon

[2016-08-30 16:46] wenerme commented on #215
My provider use 10.25.30.1/22(HuaDong2 region),10.204.1.1/21(HK region),10.165.95.1/23(Another HuaDong2 region),I am not sure we will never overlap(10.13.0.1/16),quite uncommon ha 😂.AliYun is the main provider in China.

Making everything(dns,proxy,dashboard,api,kubectl... and more in future) configurable(move _.yaml/_.json *.sh out of container) and have a good default value will let docker-multi

[2016-08-31 00:35] farmdawgnation opened #216 "Support custom hyperkube image for docker-multinode"
Presently, there's no way to override the default hyperkube image path. This creates a bit of an awkward situation if you need to install additional things into the image to make Kubernetes do what you want - as I had to do today when I installed NFS in one of our hyperkube containers locally on the box.

Would there be support for the addition of an environment variable that allows the user to ov

[2016-08-31 18:54] LaurentDumont commented on #196
Sorry to bump this, but is gluster supposed to be functionnal with kube-deploy? Or could I maybe install the glusterfs-client in the kubelet container?

[2016-09-02 14:31] luxas commented on #216
Feel free to send a PR :)

[2016-09-02 14:32] luxas commented on #215
Feel free to make a PR of what you're planning and we'll see :)

[2016-09-02 14:33] farmdawgnation commented on #216
Cool. :)

[2016-09-02 16:57] cheld commented on #215
I don't see an overlap in the IP ranges.....

(btw I am on holidays)

[2016-09-04 03:20] farmdawgnation commented on #216
Sorting out the CLA details on my end, but still planning on submitting a PR here.

[2016-09-04 15:09] wsxzhmzwdfxeds commented on #215
I setup a multi-node cluster , and I can see some info using curl http://ip:8080,
but  kubectl returns nothing ,  what's wrong with this ?

[2016-09-05 02:24] rusher81572 opened #219 "Raspberry Pi: Containers can not resolve services when on different nodes"
Hello. I just setup a 4 node cluster and  noticed that I can not ping/resolve services when they are running on other nodes.

Docker version 1.12.1, build 23cf638, experimental
Latest Kube-Deploy as of 9/4/2016 @ 7:23 PM PST
Debian 8.0 Jessie

Steps to reproduce:

[code]

When I try to ping the service "mysql", it never replies. Same behavior with curl on the port 3306. All the machines have the v

[2016-09-05 03:04] rusher81572 opened #220 "External IP for services never gets an IP"
Hello, I have a two node Raspberry Pi cluster and am using the docker-multinode images  provided. I created two services but they never get an external IP? Is there some limitation with this version?

[code]

After a few minutes it looks like this:

[code]

When trying to access it from a browser I get:
http://192.168.0.104:8080/api/v1/proxy/namespaces/default/services/nodechat/

[code]

However,

[2016-09-05 05:16] thockin commented on #219
Can you talk about what your networking model is?  You mention VXLAN - are you using Flannel or Docker's native stuff or other?

[2016-09-05 05:18] rusher81572 commented on #219
I am using whatever is provided in the docker images. I think it is flannel. I mentioned vxlan because that is what it took to get Docker Swarm's multi-host networking to work.

[2016-09-05 05:26] thockin commented on #219
Ahh, right, this is on kube-deploy, with which I do not have direct experience.  Which instructions did you follow?

[2016-09-05 05:27] rusher81572 commented on #219
These: https://github.com/kubernetes/kube-deploy/blob/master/docker-multinode/README.md

[2016-09-05 06:11] thockin commented on #219
I am not deeply familiar with those instructions any more.

Things to check:

a) is flanneld running?
b) what IPs are being assigned to containers and to cbr0 and flannel0 ?
c) can pods ping each other across machines?

Services do not respond to ICMP, so that is a dead-end test :)

On Sun, Sep 4, 2016 at 10:27 PM, Phillip Tribble <notifications@github.com>
wrote:

[2016-09-05 06:36] rusher81572 commented on #219
a) is flanneld running?

Yes
[code]
slave:
ps aux | grep -i flanneld
root     22774  0.0  0.9 873112  9668 ?        Ssl  23:25   0:00 /opt/bin/flanneld --etcd-endpoints=http://192.168.0.104:2379 --ip-masq=true --iface=192.168.0.103
[code]
Master:
flannel0  Link encap:UNSPEC  HWaddr 00-00-00-00-00-00-00-00-00-00-00-00-00-00-00-00
          inet addr:10.1.80.0  P-t-P:10.1.80.0  Mask:255.255.0.0
[cod

[2016-09-05 06:42] thockin commented on #219
On Sun, Sep 4, 2016 at 11:36 PM, Phillip Tribble
<notifications@github.com> wrote:

This is wrong.  That looks like a Docker default address, so no wonder
it would not work.  I can't say for sure WHY that is getting assigned
but i can say it is wrong.  Look at the setup on that node.

Pods don't have names in the same way that Services do.  Try ping by IP

[2016-09-05 06:44] rusher81572 commented on #219
Thanks. There is nothing to configure when using this image, it is just plug and play. I am not sure where to start.

I can ping 10.1.62.2 from 172.17.0.2.

I can not ping 172.17.0.2 from 10.1.62.2

[2016-09-05 06:46] rusher81572 commented on #219
Docker0 on one node is

docker0   Link encap:Ethernet  HWaddr 02:42:dc:5c:31:48
          inet addr:172.17.0.1  Bcast:0.0.0.0  Mask:255.255.0.0

And on the other:

docker0   Link encap:Ethernet  HWaddr 02:42:41:4c:c0:60
          inet addr:10.1.62.1  Bcast:0.0.0.0  Mask:255.255.255.0

[2016-09-05 06:47] thockin commented on #219
I have to crash now.  I'll see if I can look at those instructions
tomorrow.  at least you know what's wrong now...

On Sun, Sep 4, 2016 at 11:46 PM, Phillip Tribble <notifications@github.com>
wrote:

[2016-09-05 06:48] rusher81572 commented on #219
Thanks.

I added another node and this is the IP of docker0
[code]

[2016-09-05 07:08] rusher81572 commented on #219
docker0 info on al hosts. Looks like mixed subnets
[code]
[code]
[code]
[code]

[2016-09-05 09:21] wenerme commented on #215
@cheld Cluster use 10/8, server use 10/22, flannel use 10.1.0.0/16, they do overlap.

[2016-09-05 18:20] rusher81572 commented on #219
I cleaned up the systemd docker.service file and remove the mtu and bip entries and rebooted. Here are the docker0 IP's now.
[code]

I still have the same problem when trying to connect to a service

[code]

[2016-09-05 21:15] wlami commented on #215
Hi, are there instructions on what changes need to be made in order to switch to another ip range? When executing the master.sh it freezes at

Unfortunately repeating the steps of the original post does not work for me. My servers are using 10/8 range for internal IPs.

~~Changing the `FLANNEL_NETWORK` to 192.168/17 **AND**  `--cluster-dns=10.0.0.10` in `common.sh` to e.g. `--cluster-dns=192.168.2

[2016-09-06 05:42] thockin commented on #219
That looks better.  Can your containers ping each other across nodes now?

On Mon, Sep 5, 2016 at 11:20 AM, Phillip Tribble <notifications@github.com>
wrote:

[2016-09-06 08:48] tmansson commented on #209
I think I've got a better grasp of these issues now, thanks for the help. Closing.

[2016-09-06 08:48] #209 closed, assigned to nobody

[2016-09-06 14:33] stefanodoni opened #221 "Container command '/usr/local/bin/etcd' not found or does not exist.."
Hi,

Just cloned the kube-deploy repo and I'm not able to setup the master node anymore:

$ sudo ./master.sh
+++ [0906 16:28:31] K8S_VERSION is set to: v1.3.6
+++ [0906 16:28:31] ETCD_VERSION is set to: 3.0.4
+++ [0906 16:28:31] FLANNEL_VERSION is set to: v0.6.1
+++ [0906 16:28:31] FLANNEL_IPMASQ is set to: true
+++ [0906 16:28:31] FLANNEL_NETWORK is set to: 10.1.0.0/16
+++ [0906 16:28:31] FLANNEL

[2016-09-06 15:53] rusher81572 commented on #219
Reinstalled. Deployed two pods running on different hosts: empty1 and empty2.

empty1: Pod IP: 10.1.7.4      Docker0ip: 10.1.7.1
empty2:  Pod IP: 10.1.59.3  Docker0ip: 10.1.59.1

I logged in empty1. It can ping itself but not empty2.
The same goes when I logged in empty2.

So DNS is not working correctly so now it is time to test pinging the IP. I installed ifconfig in each pod to get the IP and t

[2016-09-06 16:02] thockin commented on #219
DNS for pods is not expected to work - we don't give names to pods in the
same way we do for Services.

So you can ping in one direction but not the other?  That's odd.  Can you
try something that isn't ping - maybe run `date  | nc -l -p 1234` on one
and `nc <otherip> 1234` on the second (and vice versa).  That will send TCP
traffic across.  If that still fails, You might need to tcpdump or worse

[2016-09-06 16:06] rusher81572 commented on #219
That had the same results as the ping test. Works from one host but not the other

[2016-09-06 16:53] rusher81572 commented on #219
There has to be some bug with kube-deploy because I  removed all traces of docker and did a fresh install and I can see that kube-deploy modifies the docker systemd file with  --bip=10.1.59.1/24 but docker0 is not reflecting  that.

Example:

docker0   Link encap:Ethernet  HWaddr 02:42:0d:a1:cd:88
          inet addr:172.17.0.1  Bcast:0.0.0.0  Mask:255.255.0.0

[2016-09-06 18:38] thockin commented on #219
A few messages back you said:

Now you're saying it's a 172... - which is correct?  172 will not work.

On Tue, Sep 6, 2016 at 9:53 AM, Phillip Tribble <notifications@github.com>
wrote:

[2016-09-06 20:01] rusher81572 commented on #219
One Pi keeps using a 172 address. Kube-deploy tries to modify the init script but docker never accepts the change to the 10.x address

[2016-09-06 20:10] thockin commented on #219
Do you feel you have a handle on it?

On Tue, Sep 6, 2016 at 1:01 PM, Phillip Tribble <notifications@github.com>
wrote:

[2016-09-06 20:11] rusher81572 commented on #219
No because I think there is something wrong with kube-deploy not controlling the Docker engine properly.

[2016-09-06 20:44] thockin commented on #219
I don't understand why it would work on one node but not another.  That said, I don't know that these instructions were tested against Jessie.  If you restart docker, does it come up with the correct flags?

[2016-09-06 20:48] rusher81572 commented on #219
I restarted and rebooted and removed the flags in the service file and it is still the same.

[2016-09-06 20:54] thockin commented on #219
so `ps auxw | grep docker` shows no --bip flag?

On Tue, Sep 6, 2016 at 1:48 PM, Phillip Tribble <notifications@github.com>
wrote:

[2016-09-06 21:11] rusher81572 commented on #219
root       592  1.8  3.4 985464 34448 ?        Ssl  10:37   3:53 /usr/bin/dockerd --storage-driver overlay -H fd:// --insecure-registry registry:5000 --label node=rpi-1

No --bip.

kube-deploy may need to be updated to support the different  Docker 1.12 init scripts?

Some Docker hosts use
[code]
and some use

[code]

It is a mess =(

[2016-09-06 21:18] thockin commented on #219
Are your nodes identical or mix-and-match?

On Tue, Sep 6, 2016 at 2:11 PM, Phillip Tribble <notifications@github.com>
wrote:

[2016-09-06 21:19] rusher81572 commented on #219
Identical using the same Docker installation method from GitHub with curl and bash.

[2016-09-06 21:28] thockin commented on #219
and they have different init scripts?  How ... how does that happen?

On Tue, Sep 6, 2016 at 2:19 PM, Phillip Tribble <notifications@github.com>
wrote:

[2016-09-06 21:49] rusher81572 commented on #219
Same problem after testing again.

[2016-09-06 21:54] thockin commented on #219
back to 172.17. or same problem between 10. IPs?

On Tue, Sep 6, 2016 at 2:49 PM, Phillip Tribble <notifications@github.com>
wrote:

[2016-09-06 21:56] rusher81572 commented on #219
All 10's now =)

[2016-09-06 22:06] thockin commented on #219
And you can still only ping in one direction?  I am at a loss.  They are
all 10.x addresses and flannel interfaces are all valid?

Can you run `ip addr` and `ip route` on both nodes and paste here?  That
will show me the bridges, netmasks, and routes.

On Tue, Sep 6, 2016 at 2:56 PM, Phillip Tribble <notifications@github.com>
wrote:

[2016-09-07 06:38] zreigz commented on #221
You can find what happened in logs `/var/log/docker-bootstrap.log`

[2016-09-07 06:41] zreigz commented on #221
Or you can get logs from docker: `docker -H unix:///var/run/docker-bootstrap.sock logs $(docker -H unix:///var/run/docker-bootstrap.sock ps -a | grep etcd | awk 'NR==1{print $1}')`

[2016-09-07 06:46] zreigz commented on #188
For version 1.3.6 I've noticed some regression in test:

[code]

I will try figure out what is wrong

[2016-09-07 06:55] zreigz commented on #212
I noticed sometimes docker bootstrap is not stoped|killed properly. You can try add `kill -9 ${DOCKER_BOOTSTRAP_PID}`
to line https://github.com/kubernetes/kube-deploy/blob/master/docker-multinode/common.sh#L277 and try it. Additionally you can also remove all running docker containers: `docker rm -f $(docker ps -a -q)` before you start cluster

[2016-09-07 07:03] zreigz commented on #220
Can you provide content of your services ?

[2016-09-07 07:25] stefanodoni commented on #221
Hi,

Thanks for the prompt reply.

This morning I have cleaned up the environment and cloned kube-deploy again
and I'm still getting etcd troubles, with a different error though.

First of all, I made sure that no container was running in either docker
(main one and bootstrap):

$ sudo docker ps
CONTAINER ID        IMAGE               COMMAND             CREATED
    STATUS              PORTS

[2016-09-07 07:34] zreigz commented on #221
The strange thing is why those two additional etcd are in version `2.2.5` It seems like something else start it. Master starts etcd in version  `3.0.4`

[2016-09-07 07:37] stefanodoni commented on #221
Thank you,

I didn't notice it.

Actually I had kubernetes 1.2 previously installed on this machine (always
with kube-deploy docker-multinode), which actually used etcd 2.0.5.

Could it be that something is still laying around? How can I clean the
whole environment?

On 7 September 2016 at 09:34, Lukasz Zajaczkowski notifications@github.com
wrote:

##

_Stefano Doni_
Mobile +39 348 9691385
stefano

[2016-09-07 07:38] stefanodoni commented on #221
Sorry, I meant etcd 2.2.5, here is the docker bootstrap ps on another
machine correctly running with kube 1.2:

$ sudo docker -H unix:///var/run/docker-bootstrap.sock ps
CONTAINER ID        IMAGE                                          COMMAND
                 CREATED             STATUS              PORTS
  NAMES
9b26073578ce        gcr.io/google_containers/flannel-amd64:0.5.5
"/opt/bin/flanneld

[2016-09-07 07:41] zreigz commented on #221
Try kill everything `docker rm -f $(docker ps -a -q)` Remember to check if everything was removed by using `docker ps -a` Just `docker ps` is not enough and you can have some leftovers

[2016-09-07 07:48] stefanodoni commented on #221
Great Lukasz,

After killing and removing all of the leftover containers, now the master.sh brings up a working cluster!

Thanks a lot!

[2016-09-07 07:48] #221 closed, assigned to nobody

[2016-09-07 07:48] zreigz commented on #212
One idea. Please check if you have already running etcd in different configuration

[code]

You should clear your environment before you start cluster

[2016-09-07 08:10] stefanodoni opened #223 "Enable ABAC authorization mode in docker-multinode"
Hi,

I would like to test the ABAC authorization mode as per instructions outlined here:

http://kubernetes.io/docs/admin/authorization/

Is it possible to enable the ABAC plugin on the docker-multinode deployment?

It seems that currently the apiserver is not being configured with the ABAC mode:

$ sudo docker exec 46a ps aux
USER       PID %CPU %MEM    VSZ   RSS TTY      STAT START   TIME COMMAN

[2016-09-07 16:21] rusher81572 commented on #220
Sure. It is a simple MySQL backend with a Node.js webapp for the front end.
[code]

[2016-09-08 06:05] zreigz commented on #220
I think this is the answer for your problem: https://github.com/kubernetes/kubernetes/issues/23562

[2016-09-09 02:59] zhjwpku commented on #212
I had a 3 node etcd cluster and they are running with docker, I will try this later, anyway, thanks for the help, I will close this issue and reopen it when I come across the problem again :)

[2016-09-09 02:59] #212 closed, assigned to nobody

[2016-09-09 10:43] cheld commented on #219
Let me double check that you understand the kubernetes concepts: You have three networks:
1. The physical (underlay) network
2. The overlay network with virtual IP
3. The service/proxy network. The virtual cluster IPs are mapped to overlay IP directly on host. Thus they do not have to be routable.

To simplify everything, I recommend:
1. to use the latest Kubernetes version v1.4.0-alpha.3 and set

[2016-09-09 16:42] rusher81572 commented on #219
Thanks for the response.  Everything is always ok in the cluster dashboard. These steps are about using kube-deploy which is the only working method of installing k8s on a Raspberry Pi. I hope that the official installation instructions will support ARM in the next release.

Regarding the troubleshooting steps, I have done them already over and over. Regarding  access a deployed service from the o

[2016-09-10 06:14] sekka1 commented on #210
This works for me as well.  Going to close this ticket.

[2016-09-10 06:14] #210 closed, assigned to nobody

[2016-09-10 14:59] garrettheaver commented on #155
Came here to ask for feedback on the solution I used for this bootstrap problem but see its not in scope and CNI is going to become the default. In any case I updated deploy scripts to create a systemd service for docker-bootstrap for anyone interested.

https://github.com/garrettheaver/kube-deploy/blob/master/docker-multinode/docker-bootstrap.sh

[2016-09-11 07:13] cheld commented on #219
What do you mean with cluster dashboard? Not 100% sure if there are currently issues with Raspberry, but I would assume it works fine.

A couple of the described steps are a bit vague. I cannot tell if your attempts are going in the right direction.
Please note: it seems that you use USE_CNI =false (default). In this case a second docker deamon is started. This daemon does not survive a reboot. In

[2016-09-11 17:28] rusher81572 commented on #219
Thanks for the reply. The dashboard always shows all the services in green, no errors. v1.4.0_alpha.2 has known issues on arm and does not work properly. Several issues are filed. I also tried USE_CNI=true. I will try again  now with hyperkube-arm:v1.4.0-alpha.3

[2016-09-11 17:55] rusher81572 commented on #219
Still does not work....
[code]

Hyperkube:

[code]

[2016-09-12 16:51] justinsb commented on #118
Moved to https://github.com/kubernetes/kops/issues/429

[2016-09-12 16:51] #118 closed, assigned to justinsb

[2016-09-14 05:49] LaurentDumont opened #228 "Ansible and kube-deploy"
Hi,

I'm trying to integrate Ansible into kube-deploy to allow for a faster and smoother deployment. I've ran into a strange issue where if I'm running the script for the ansible playbook, I cant mount gluster volumes in pods. But, if I run the worker.sh/master.sh locally after sudoing myself (or with sudo) everything seems to work fine.

Here is an example of the Ansible playbook for a master nod

[2016-09-14 21:45] LaurentDumont commented on #228
As an aside, I've tried using the command module instead of shell, removing the chdir, removing the "echo Y" and directly removing the /var/lib/kubelet folder without success. If a master/worker is started from Ansible, it cannot mount a glusterFS volume target. It seems to be related to the mounting of the root volume from USE_CONTAINERIZED? I'm using that flag since a Glusterfs volume target wou

[2016-09-14 23:19] LaurentDumont commented on #192
Sorry to bump this, but is Heapster currently supported on 1.4.0 on amd64? I couldn't find much info on that and the setup scripts from the main Heapster repo dont seem to work too well

[2016-09-15 06:24] cheld commented on #192
yes, of course. Do you need a sample manifest file?

[2016-09-15 16:48] LaurentDumont commented on #192
@cheld Definitely! I was using the .yml files from https://github.com/kubernetes/heapster/blob/master/docs/influxdb.md but both the grafana.service and heapster.service failed to come up.

I would be more than happy to try your sample files.

[2016-09-15 16:52] luxas commented on #192
Just a general quick update on docker-multinode.
Slowly we're gonna migrate docker-multinode to the upcoming kubeadm approach.
Keep your eyes open for that deployment!

[2016-09-16 14:02] cheld commented on #192
@LaurentDumont this one is old, but might help you as a starting point.
https://github.com/FujitsuEnablingSoftwareTechnologyGmbH/kubernetes/blob/master/cluster/images/hyperkube/addons/heapster-rc.yaml

https://github.com/FujitsuEnablingSoftwareTechnologyGmbH/kubernetes/blob/master/cluster/images/hyperkube/addons/heapster-svc.yaml

@luxas I am aware of kubeadm and I agree users should follow this p

[2016-09-17 08:36] ekozan commented on #228
it's already exist ->  https://github.com/kubernetes/contrib/tree/master/ansible

[2016-09-17 15:41] luxas commented on #192
Yes, I'm spending all my deployment efforts right now on kubeadm; a pure Go-written tool for managing Kubernetes deployments is always gonna be better than Bash scripts, which in turn are much easier to write once, but hard to maintain.

Another upcoming kubeadm favor is the boosted security and the folks that are working on it; I think that this is deployment project that has got most people work

[2016-09-17 16:11] LaurentDumont commented on #192
How close is kubeadm to dev/prod ready? I was using kube-deploy for how easy it was to deploy stuff. :D

[2016-09-17 16:14] LaurentDumont commented on #228
That ansible playbook doesnt seem to be for a k8s docker based deployment. And it also doesn't seem to be supporting Debian jessie, only 9.0 and up

[2016-09-17 18:38] #171 closed, assigned to justinsb

[2016-09-17 19:25] luxas commented on #192
When we release kubeadm alpha now with v1.4 k8s, it will be more dev/prod ready than docker-multinode (due to it's security features), but many things are still left to be done.

[2016-09-17 19:34] LaurentDumont commented on #192
Awesome, I'll be sure to check out kubeadm alpha when it's out.

[2016-09-18 16:05] kingspp opened #235 "docker-multinode: Unable to install and use docker-multinode offline"
I am currently using kube-deploy/docker-multinode kubernetes deployment solution in a VPN. The VPN is strictly offline and hence I am transferring and loading the required docker images using scp. Among 9 images, master and worker scripts fails to recognise etcd and flannel images.

We can see that the machine already has etcd-amd64 loaded in docker. But unfortunately for the initial master startu

[2016-09-19 06:34] cheld commented on #235
Docker multi-node is not supporting officially offline installation. However, it is possible. You can save the docker images locally. This PR

https://github.com/kubernetes/kube-deploy/pull/168

might help you.

[2016-09-20 04:34] prathyush-rzt commented on #235
@cheld As I mentioned earlier, I am able to install 7/9 images locally using docker load. But the scripts are not able to find etcd and flannel even though they are installed locally.

[2016-09-20 14:09] muka commented on #212
Hi,
I have the same issue. I tried to kill/rm all the instances but I am still having the above error.

[code]

flanneld docker logs says

[code]

Do you have any hint?

Thank you

[2016-09-21 05:00] zreigz commented on #212
Try execute this command before you start cluster: `sudo docker -H unix:///var/run/docker-bootstrap.sock rm -f $(sudo docker -H unix:///var/run/docker-bootstrap.sock ps -a -q)`

It will clear all Docker bootstrap instances also with previous versions

[2016-09-21 05:15] LaurentDumont commented on #192
Out of curiosity, is the Elastic Search / Kibana stack supported with Kube Deploy?

[2016-09-21 06:13] cheld commented on #192
No, it is not part of hyperkube. But you can add yourself. I assume that ELK and InfluxDB/Grafana is not cross-compiled

[2016-09-21 10:10] muka commented on #212
Thank you, yes I've  killed and rm the instances but the issue still arise

[2016-09-22 04:52] zreigz commented on #212
After those commands:

[code]

you have clear environment (no instances are running before you start cluster ?)

If you still have problem please paste logs from etcd and flannel:

[code]

It should give us some ideas.

[2016-09-22 07:20] muka commented on #212
I tried the commands and here is the issue: flanneld complain about etcd, in fact there is no `etcd` instance in the docker `ps` list

`docker -H unix:///var/run/docker-bootstrap.sock ps -a`

[code]

I am on Ubuntu 16.04 and docker version 1.12.1, build 23cf638

Thank you

[2016-09-22 07:51] zreigz commented on #212
You can find out what is wrong with etcd when you check the logs: `/var/log/docker-bootstrap.log`

[2016-09-22 08:42] muka commented on #212
I had a firewall in place :anguished: opened up and everything worked fine at first shot.

Sorry for wasting your time, thank you

[2016-09-22 08:43] zreigz commented on #212
No problem Good luck with it :)

[2016-09-22 09:59] sails opened #237 "docker-multinode: dashboard&kubedns unable start when I set K8S_VERSION:v1.4.0-beta.8 and USE_CNI:true"
when I set K8S_VERSION:v1.4.0-beta.8 and USE_CNI:true:
![image](https://cloud.githubusercontent.com/assets/1535004/18743970/3b94b64a-80ee-11e6-8346-fd06f276af48.png)

[2016-09-22 12:30] cheld commented on #237
It seems add-on manager was not started/died. Can you do `docker ps -a` and post the logs of addon-manager?

[2016-09-22 21:03] vpaul opened #238 "SCSI mount"
Trying to set up 1.3.7 cluster using docker-multinode deployment on Ubuntu 14.04. USE_CONTAINERIZED variable is set to true. I'm able to mount successfully an NFS mount point without installing nfs-common to inside kubelet container.
However, iSCSI mount doesn't work in spite I'm able to mount it manually on the node.

~/kube-deploy/docker-multinode# iscsiadm -m session -o show
tcp: [1] 192.168.0.

[2016-09-23 01:14] sails commented on #237
@cheld ,thanks! I found that it failed to download kubernetes-dashboard-amd64:v1.4.0

[2016-09-23 01:14] #237 closed, assigned to nobody

[2016-09-24 18:33] sneako commented on #212
I was getting the same issue. Refer to this link to see which ports need to be open. As soon as I opened them, everything worked! https://coreos.com/kubernetes/docs/latest/kubernetes-networking.html

[2016-09-25 06:51] owlab-exp opened #239 "Kernel problem on arm64"
Today I tried the portable multi-node cluster on my arm64 devices.
After executing **docker-multinode/master.sh**, system has stucked. Following is kernel messages caused by it.

[code]

Does anyone have any idea about this?

[2016-09-26 07:57] cheld commented on #239
Please post details about the host OS.
Did you customize and settings of docker-multinode?

[2016-09-27 04:03] owlab-exp commented on #239
Hardware: [Hikey (ARM Cortex-A53)](http://www.96boards.org/product/hikey/)
OS:  /etc/os-release :
PRETTY_NAME="Debian GNU/Linux 8 (jessie)"
NAME="Debian GNU/Linux"
VERSION_ID="8"
VERSION="8 (jessie)"
ID=debian
HOME_URL="http://www.debian.org/"
SUPPORT_URL="http://www.debian.org/support/"
BUG_REPORT_URL="https://bugs.debian.org/"

And I did not customize settings of docker-multinode.

[2016-09-27 06:43] cheld commented on #239
Sorry, I have confused"arm64" with "amd64". Same issue as?

https://github.com/kubernetes/kube-deploy/issues/219#issuecomment-246193811

[2016-09-28 05:56] bjoernbusch opened #240 "Crash of kubernetes 1.4.0 on arm"
I was trying to run docker-multinode with the released v1.4.0 of kubernetes, but the apiserver is unable to start, due to a NullPointer or InvalidMemoryAddress. Anybody else seeing this?

Thanks!

`goroutine 1 [running]:
panic(0x3057c18, 0x14e20008)
        /usr/local/go_k8s_patched/src/runtime/panic.go:500 +0x33c
encoding/gob.newTypeObject(0x2cfc548, 0x8, 0x14e9d420, 0x499d5b0, 0x3272ae0, 0x3272a

[2016-09-30 07:08] owlab-exp commented on #239
Sorry for late. I executed the master.sh today to know if the previous problem is the same issue you mentioned.
However today it started with no problem!
I do not know what was changed in my systems though.
Maybe this issue then may be closed.

[2016-09-30 09:02] owlab-exp commented on #239
In fact it was not no problem. Another error suppressed the error:

[code]

So I pulled gcr.io/google_containers/kube-addon-manager-arm64:v5 and tagged v5.1 with that to proceed. And again system stuck like this;

[code]

This does not look like the issue you mentioned.
Thanks.

[2016-09-30 17:01] luxas commented on #240
Yes, it's a known issue linker issue in Golang, which we can't do anything about right now.

hyperkube for arm is broken in v1.4, but when v1.4.1 comes out, you may use **kubeadm on HypriotOS** following the official guide when adding `--use-kubernetes-version=v1.4.1`

[2016-09-30 17:37] #240 closed, assigned to nobody

[2016-10-04 18:23] mhas01 opened #242 "Docker-multinode: etcd failed to start ... exiting"
Hi I'm using kube-deploy to install a kubernetes cluster on my company VMs. All looks promising until it started launching etcd...

+++ [1004 14:21:22] K8S_VERSION is set to: v1.4.0
+++ [1004 14:21:22] ETCD_VERSION is set to: 3.0.4
+++ [1004 14:21:22] FLANNEL_VERSION is set to: v0.6.1
+++ [1004 14:21:22] FLANNEL_IPMASQ is set to: true
+++ [1004 14:21:22] FLANNEL_NETWORK is set to: 10.1.0.0/16
+++

[2016-10-04 21:30] LaurentDumont commented on #242
Which Linux distribution?

[2016-10-04 22:45] colemickens opened #243 "Should kube-deploy mount /var/log instead of /var/log/containers?"
See: https://github.com/deis/logger/issues/50#issuecomment-219871168

In kube-deploy, you only mount `/var/log/containers` where as @chancez's comment implies that we need to mount all of `/var/log`.

Thoughts? Related discussion for `kubernetes-anywhere`: https://github.com/kubernetes/kubernetes-anywhere/pull/258#discussion_r81869888

[2016-10-05 07:35] cheld commented on #242
Can you check if it is a duplicate of

https://github.com/kubernetes/kube-deploy/issues/221

[2016-10-05 15:49] cadm-deprez opened #244 "Docker-multinode: Cluster IP's being reassigned whilst in use"
Having setup a cluster twice, first with 2 nodes, then 4,  using kube-deploy/docker-multinode on Centos 7, when creating pods they are occasionally being assigned IP's that are already in use.

![image](https://cloud.githubusercontent.com/assets/7631438/19120567/1344ed40-8b1b-11e6-946d-0b3640eec7ac.png)

Note: Ingress controller health check is failing as it's trying to access /ingress-controller-

[2016-10-05 19:37] mhas01 commented on #242
Which Linux distribution? I'm trying to install this on a Ubuntu 14.04.1 LTS, 3.13.0-32-generic #57-Ubuntu SMP Tue Jul 15 03:51:08 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux.

I checked #221, however the procedure described there which helped the user fixed his/her issue at the moment, didn't work for me.

_Running the below command, gives the results following:_
 **cat /var/log/docker-bootstrap.log*

[2016-10-10 19:36] WillPlatnick opened #245 "Install kernel headers"
For sysdig to do magic, it builds and inserts a kernel module that intercepts all the things. To build the kernel module, we need the headers installed.

sudo apt-get update ; sudo apt-get -y install linux-headers-$(uname -r)

[2016-10-12 17:59] rusher81572 opened #246 "failed to retrieve network config: 100: Key not found (/coreos.com)"
Hi, I pulled the latest code and wanted to see if docker-multinode worked on Kube 1.4.1.

Flannel is failing to start:

root@rpi-1:~/kube-deploy/docker-multinode# ./master.sh
+++ [1012 10:56:42] K8S_VERSION is set to: v1.4.1
+++ [1012 10:56:42] ETCD_VERSION is set to: 2.2.5
+++ [1012 10:56:42] FLANNEL_VERSION is set to: v0.6.1
+++ [1012 10:56:42] FLANNEL_IPMASQ is set to: true
+++ [1012 10:56:42]

[2016-10-17 15:21] bassco commented on #245
https://github.com/kopeio/kubernetes-kernel/pull/2 has a kernel headers meta package for the current 4.4 kernel

[2016-10-17 15:47] cadm-deprez commented on #244
This appears to be related to [this function](https://github.com/kubernetes/kube-deploy/blob/master/docker-multinode/docker-bootstrap.sh#L108). It's doing a find-replace on --mtu= and --bip= to insert the flannel subnet, but in centos 7 these do not exist in the docker config file - the function doesn't take this into account.

Same situation for CoreOS, except there's the added problem of the doc

[2016-10-21 02:05] taylorsmcclure opened #249 "hyperkube failing to start api server"
I am following the [docker-multinode](https://github.com/kubernetes/kube-deploy/blob/master/docker-multinode/README.md) deployment guide, but I see the hyperkube container appears to not start the api server successfully.

From the hyperkube container after running `master.sh`:

[code]

Then just repeated errors of the following:

[code]

The issue may be associated with:

[code]

Where the error

[2016-10-21 07:42] cheld commented on #249
Several issues have been reported for Raspberry PI. Maybe broken? Can you check the other issues?

[2016-10-21 21:29] taylorsmcclure commented on #249
I did look at some related issues with rpi's, but did not find anything applicable to this situation sadly.

So I did resolve the error `W1020 22:18:16.458039   19315 server.go:487] Could not load kubeconfig file /var/lib/kubelet/kubeconfig: Error loading c
onfig file "/var/lib/kubelet/kubeconfig": read /var/lib/kubelet/kubeconfig: is a directory. Trying auth path instead.`

I modified lines 339 a

[2016-11-04 01:40] taylorsmcclure commented on #249
For anyone curious I resolved this issue by using [luxas/kubernetes-on-arm](https://github.com/luxas/kubernetes-on-arm) to flash hypriotOS to my sdcards. I have a hunch this issue was caused by https://github.com/luxas/kubernetes-on-arm/issues/118

[2016-11-04 01:40] #249 closed, assigned to nobody

[2016-11-07 20:35] AGrzes opened #251 "How to clear docker-multinode configuration entirely?"
I'm experimenting with kubernetes/docker-multinode and after some time I wanted to start from clear slate. I killed all docker containers, removed all the volumes, and cleared /var/lib/kubelet/ directory

    docker rm --force $(docker ps -a -q)
    docker volume rm $(docker volume ls -q)
    sudo rm -r /var/lib/kubelet/

Bur after docker restart and starting master node I see that my configured p

[2016-11-08 09:05] cheld commented on #251
Check the turndown script:
https://github.com/kubernetes/kube-deploy/blob/master/docker-multinode/common.sh#L267

[2016-11-08 20:14] AGrzes commented on #251
I have created kill script based on master.sh

[code]

But after running it and starting the master I get all my old pods again.

PS. I think in `kube::multinode::turndown` there should be `$(docker ps -a ...` instead of `$(docker ps` because now it only clears running and skipping stopped containers.

[2016-11-09 07:33] cheld commented on #251
Yes, I assume a PR already exists that matches your findings

https://github.com/kubernetes/kube-deploy/pull/222

BTW: any reason you are not using kubeadm for deployment?

[2016-11-09 21:43] AGrzes commented on #251
I wat trying to set up kubernetes with minimal host machine configuration so kubernetes in docker looked promising - and to be honest I did not notice kubeadm in documentation - I skipped to Bare Metal installation instructions before finding  docker-multinode.

I found out what was the problem in my case - I had instance of etcd running on host and kubernetes in docker talked with it instead of t

[2016-11-09 21:43] #251 closed, assigned to nobody

[2016-11-10 07:29] cheld commented on #251
docker multinode is deprecated. If you continue to use I recommend to set USE_CNI=true.

[2016-11-10 12:03] AGrzes commented on #251
Thanks for information - it would be nice to have this warning somewhere in documentation.
I did not see anything about deprecation in git [README](https://github.com/kubernetes/kube-deploy/blob/master/docker-multinode/README.md) or in [Getting Started Guide](http://kubernetes.io/docs/getting-started-guides/docker-multinode/).

[2016-11-10 18:37] nVitius commented on #251
@cheld why is docker multinode deprecated?

[2016-11-11 15:36] cheld commented on #251
well, let's say the shell scripts are not really maintained. kubeadm is the future installation method for kubernetes.

[2016-11-11 17:02] nVitius commented on #251
But kubeadm doesn't support versions of Ubuntu before 16.04, right?

[2016-11-12 18:59] xmik opened #252 "docker-multinode: apiserver container exited, no basic_auth.csv"
### Error
I am following this guide: http://kubernetes.io/docs/getting-started-guides/docker-multinode/ . I created 2 virtual machines in openstack, treating one as master and one as worker. The problem is on master vm. I ran:
[code]
It created many docker containers, but the container with `/hyperkube apiserver` command exited (with status 255). Its logs say:
[code]

### Workaround
I discovered t

[2016-11-12 22:29] chrislovecnm opened #255 "Recommended stuff for the aws base image to make ops devops"
- sysstats
- sar
- iostat
- htop

We should have these toys installed

[2016-11-16 21:00] chrislovecnm opened #257 "image builder is failing error creating instance: SubnetID must be specified"
Walking through the code now but:

1.  Followed the aws create vpc instructions
2. updated the 1.4 yaml
3. ran the imagebuild command

[code]

[2016-11-16 21:02] chrislovecnm commented on #257
It is boom here:

[code]

[2016-11-16 21:05] chrislovecnm commented on #257
`k8s.io/role/imagebuilder` exists on a subnet ... in us-east-2, in the vpc

[2016-11-16 21:15] justinsb commented on #257
If you're not using us-east-1, you have to specify the region.  Easiest way is set `export AWS_REGION=us-east-2`

Let's leave open for docs fixes

[2016-11-18 21:55] chrislovecnm commented on #255
These are in with the new image I pushed, but we need to figure out the docker mem stuff before we use that image.

[2016-11-20 18:51] nicka101 commented on #244
Line 114 and 117 of [docker-bootstrap.sh](https://github.com/kubernetes/kube-deploy/blob/master/docker-multinode/docker-bootstrap.sh#L114) are designed to ensure that the mtu and bip options exist in the file, and line 124 changes the values if they exist.
Can you provide any other information to the config values before and after running the script?

[2016-11-20 21:34] razic opened #259 "cant run image builder"
no matter what i do i can't seem to run the image builder successfully. constantly getting this output:

[code]

any ideas on what i might be doing wrong?

[2016-11-21 19:38] razic commented on #259
looks like something about the system not being able to find `python-pip`?

[2016-11-22 14:18] xmik commented on #223
Hi, [this comment](https://github.com/kubernetes/kube-deploy/issues/195#issuecomment-240141329) may be the answer. In order to customize the apiserver's config you can exec into the kubelet container and edit `/etc/kubernetes/manifests-multi/master.json`.

[2016-11-22 23:41] nVitius commented on #223
That's definitely not an ideal solution. We should be able to configure the deployment beforehand

[2016-11-23 09:27] xmik commented on #223
Yes, @nVitius you are right. But @stefanodoni asked "what is the easiest way to **test** ABAC auth mode". I reckon this is a good enough way of experimenting with Kubernetes. Maybe it's worth to mention an unmerged PR: https://github.com/kubernetes/kube-deploy/pull/226 , (which you @nVitius  already commented on). Besides that: I've just been experimenting for a few days and I can't provide a bett

[2016-11-23 15:01] honnix opened #260 "docker-multinode: master node registered as schedulable"
When starting `kubelet` on master node, by default the node will be registered as schedulable, so user pod will later be scheduled to start on master node. This doesn't comply with the drawing in the documentation that user pod will be launched only on worker node. On the other hand, is there some way to pass in the option?

[2016-11-23 16:22] cadm-deprez commented on #244
It's running kube::bootstrap::restart_docker_systemd() in [docker-bootstrap.sh](https://github.com/kubernetes/kube-deploy/blob/10b8f8c3f2d1a5f8c677f2aafcd42ea949144197/docker-multinode/docker-bootstrap.sh#L92)
which in turn runs kube::helpers::replace_mtu_bip ${DOCKER_CONF} $(which docker)

At this point,
DOCKER_CONF=/usr/lib/systemd/system/docker.service
which docker = /usr/bin/docker

In line 11

[2016-12-02 18:48] justinsb opened #261 "Image: We should tweak our sysctls"
[code]

Thanks @aledbf

[2016-12-02 18:57] aledbf commented on #261
[code]

[2016-12-04 06:43] justinsb commented on #91
We don't use kube-addons in kops any more

[2016-12-04 06:43] #91 closed, assigned to justinsb

[2016-12-05 02:11] #245 closed, assigned to nobody

[2016-12-28 03:35] huangfushun opened #263 "restart kubelet container cause mount volume disconnected"
`root@h2g6s:/# cd data
bash: cd: data: Transport endpoint is not connected
`
here is kubelet container:
docker ps --no-trunc | grep kubelet
c84d894c5a33755401b354527444866f5188eb32698d556d0eb2e1ecafc2da68   docker.gf.com.cn/mot/hyperkube-amd64:v1.3.5    "/hyperkube kubelet --allow-privileged --api-servers=http://10.2.122.1:8080 --cluster-dns=11.0.0.10 --cluster-domain=cluster.local --hostname-over

[2017-01-03 20:59] ktraff opened #264 "CephFS Volume Mount Fails"
I've successfully deployed a Ceph cluster and am able to mount a CephFS device manually using the following:

`sudo mount -t ceph monitor1:6789:/ /ceph -o name=admin,secretfile=/etc/ceph/cephfs.secret`

I'm now attempting to launch a pod using the kubernetes example [here](https://github.com/kubernetes/kubernetes/tree/master/examples/volumes/cephfs):

[code]

When I run:

`sudo kubectl create -f c

[2017-01-06 17:53] ktraff commented on #264
There were a couple of issues that needed fixed in order to successfully mount a CephFS volume in kubernetes.  Keep in mind I've deployed Kubernetes 1.4.6 using the [kube-deploy docker multinode](https://github.com/kubernetes/kube-deploy) configuration.

**Issue #1: Mount command Fails using Kubernetes secrets**

When examining the error above more closely, I found that Kubernetes encrypts my Ceph

[2017-01-11 11:16] mayask commented on #102
@netroby Whenever you fail to run a worker/master node, run `./turndown.sh` script and try again.

[2017-01-13 22:17] CaptTofu commented on #257
I use us-east-1 by default and get this error. I even set the env variable, no go.

[2017-01-15 21:39] mellotron commented on #195
As someone who is new to both Kubernetes and docker - this bewildered me for a bit as I had used kubectl from other guides.

It took me a while to figure out after finding this bug that I wanted:

`sudo docker exec -i -t 90bc9a369703 /bin/bash`

And I poked around in various '(s)bin' directories on the filesystem only to then find it in the root directory and not in $PATH!

[2017-01-16 03:10] #195 closed, assigned to nobody

[2017-01-25 15:47] morallo opened #271 "docker-multinode: unreliable check for the use of systemd"
This one is mostly for the record, as I found the solution and I don't consider it a real bug in kube-deploy.

Environment: Debian 8 (jessie) with sysvinit (instead of the default systemd).

When trying to deploy kubernetes multinode with ./master.sh, I got several errors when the script tries to run containers in the docker daemon:

After reading some code in common.sh, I found out that it [check

[2017-01-26 00:19] morallo opened #272 "docker-multinode: deployment fails in Debian 8 (memory cgroup disabled by default)"
Memory cgroup is a hard requirement for Kubernetes.
It's not enabled in Debian by default.

When trying to use this deployment, `master.sh` and `worker.sh` run without errors. The docker containers for etcd, flannel and kubelet are correctly started.

However, the apiserver is never started inside the kubelet, presumably because of the missing memory cgroup.

The error message is present inside th

[2017-02-01 17:23] polizinha opened #274 "docker-multinode: pods at workers can't resolve dns"
Hello, any idea?

[code]

[code]

[code]

[2017-02-04 22:42] mellotron opened #276 "docker-multinode/arm64: kube-dns fails with "CrashLoopBackOff""
Hello,

I've attempted to use the docker-multinode setup on my pine64 which is a arm64 machine. I did a git clone and then:

$ USE_CNI=true ./master.sh

I then get on the kubelet node:

$ ./kubectl get pods --all-namespaces
NAMESPACE     NAME                                    READY     STATUS             RESTARTS   AGE
kube-system   k8s-master-172.17.0.10                  4/4       Running

[2017-02-07 16:09] CarltonSemple commented on #271
I noticed this as well when getting docker-multinode to work on Alpine

[2017-02-10 02:50] darrenmok opened #277 "docker-multinode: USE_CNI=true; all pods unable to resolve via DNS"
K8S_VERSION is set to: v1.5.2
ETCD_VERSION is set to: 3.0.14
FLANNEL_VERSION is set to: v0.6.1
FLANNEL_IPMASQ is set to: true
FLANNEL_NETWORK is set to: 10.1.0.0/16
FLANNEL_BACKEND is set to: udp
RESTART_POLICY is set to: unless-stopped
MASTER_IP is set to: localhost
ARCH is set to: amd64
IP_ADDRESS is set to: 172.18.12.100
USE_CNI is set to: true
USE_CONTAINERIZED is set to: false

All my pods se

[2017-02-14 03:20] #277 closed, assigned to nobody

[2017-02-21 06:24] roninby opened #278 "How to change the version of kubernetes-dashboard deployed by kube-addon-manager?"
Hello,

I'd like to change the kubernetes-dashboard from v1.4.0 to v1.4.1 in a deployed kubernetes cluster, the version of kubernetes-dashboard was originally set to v1.4.0 by kube-addon-manager.

It looks like the definition in the file /etc/kubenetes/addons/kubernetes-dashboard.yaml within the docker image gcr.io/google_containers/hyperkube-amd64:v1.4.3 should be changed, but I'm not sure if the

[2017-03-03 00:54] harighub commented on #220
+1
I tried to expose nginx as loadbalancer, hitting the same issue on on promise k8s cluster setup.

[2017-03-03 10:43] guillelb opened #279 "Can not reach the exposed services from another machine in the LAN"
I have installed Kubernetes in a private virtual enviroment with vmware following this simple guide (docker multinode): https://kubernetes.io/docs/getting-started-guides/docker-multinode/

I have deployed kubernetes in two **ubuntu16.04LTS** machines on the same LAN, one master (192.168.215.6/24) and one worker (192.168.215.7/24).

[code]

Everything seems to be perfect:
[code]

Finally, I **deplo

[2017-03-08 10:04] guillelb commented on #279
Finally, the solution was to allow forwarding on iptables:
`iptables -P FORWARD ACCEPT`

Thank you @xiangpengzhao & @liqlin2015 !

[2017-03-08 10:04] #279 closed, assigned to nobody

[2017-03-09 22:59] berlogb opened #280 "./master.sh behind proxy."
Hello team.
Tried to run ./master.sh but it fails with something that seems to be a proxy issue :

[code]
Tried all possible parameters I could think about :

[code]
No luck.
Any hints what it needs to be ?
Thank you.

[2017-03-09 23:22] berlogb commented on #280
sorry, forgot that I broke 'HTTP_PROXY' in a docker config,
Adding
[code]
fixed it.

[2017-03-09 23:22] #280 closed, assigned to nobody

[2017-03-12 06:56] dmyerscough commented on #102
I had the same issue with Docker 1.12.6 on Fedora 25. I had to do the following:-

[code]

Modified the docker-bootstap script to use:-

[code]

[2017-03-12 15:03] urban-1 opened #281 "kube-dns on ubuntu"
Hi all,

I am experimenting with `docker-multinode` scripts. I have setup my master node and I am able to resolve cluster-internal names (with the correct /etc/resolv.conf). However, all external ones fail. I know where the problems is:

- The host's /etc/resolv.conf has nameserver `127.0.1.1` since ubuntu is using dnsmasq when configured with NetworkManager
- This file is copied into the kube-dns

[2017-03-12 15:21] urban-1 commented on #281
**UPDATE**

I added `nameserver 192.168.0.51` which is the correct host's IP and `nslookup` still fails while `ping` works (firewall?)

As a workaround to resolve both internal and external names I used the following resolv.conf in the application container:

[code]

The resolver is still a bit glitchy since it resolves `kubernetes` and `kubernetes.default.svc.cluster.local` but not `kubernetes.de

[2017-04-01 23:38] vhsanche opened #282 "kubelet fails to start when performing ./master.sh"
It seems the current K8S_VERSION=$(curl -sSL "https://storage.googleapis.com/kubernetes-release/release/stable.txt") in common.sh renders to v1.6.0, which fails to start the hyperkube  container. After performing a "docker logs <container_id>", the --config flag is no longer supported in kubelet. I reverted back to v1.5.4 and everything seems to be working correctly.

[2017-04-02 17:07] LaurentDumont commented on #282
I've moved away form kube-deploy to kubeadm which is quickly becoming the default solution for turning up clusters.

[2017-04-03 02:29] vhsanche commented on #282
So, it is safe to say that kube-deploy will no longer be supported and the suggested way forward is kubeadmin? (my current issue is that kubadm is still in alpha)

[2017-04-03 04:30] LaurentDumont commented on #282
Looking at the past history of commits, I'd say so. Kubeadm is fairly solid and the more people using it, the faster it's improving and getting worked on.

[2017-04-09 21:48] KingJ commented on #264
For anyone else that stumbles across this in the future, what caught me out on the first issues was _not_ encoding Ceph's key in Base64. Ceph's key is already in Base64, but Kubernetes expects new secrets to be Base64 encoded already. So, by putting the raw Ceph key in as a secret, Kubernetes would decode the (valid!) Base64 key and attempt to use the decoded value as the key unsuccessfully. Encod

[2017-04-11 18:48] acloudiator commented on #102
Suggestion from @dmyerscough did helped to move with docker bootstrap error but now it's an error for flannel.

/usr/bin/docker-current: Error response from daemon: oci runtime error: error running hook: exit status 1, stdout: , stderr:.
!!! [0411 18:46:29] flannel failed to start. Exiting...

Any help?!

[2017-04-11 22:44] acloudiator commented on #282
Executed the script in the debug mode and found that the docker was trying to connect the socket which is not available (unix:///var/run/docker-bootstrap.sock).

I've made the changes in common.sh script and it worked for me. If you guys want to give it a shot.

From:
BOOTSTRAP_DOCKER_SOCK="unix:///var/run/docker-bootstrap.sock"
To:
BOOTSTRAP_DOCKER_SOCK="unix:///var/run/docker.sock"

Error from s

[2017-04-23 13:10] xpepermint commented on #220
+1

[2017-05-15 03:45] luckyfengyong commented on #281
@urban-1 Please refer to https://github.com/kubernetes/kubernetes/issues/23474. It talks about the same issue. Maybe you already find it.

[2017-05-28 08:50] #205 closed, assigned to nobody

[2017-06-15 13:30] cmparkinson opened #287 "Add xfsprogs to kops AMIs"
`xfsprogs` is required for Kubernetes to successfully mount EBS volumes containing XFS-formatted file systems.

If the ask is reasonable, I'll happily submit a PR that adds the package to the templates.

[2017-06-21 14:27] xmik commented on #252
I close this issue, because I don't deploy Kubernetes cluster using kube-deploy and also because the docker-multinode was removed in: https://github.com/kubernetes/kube-deploy/pull/283 .

[2017-06-21 14:27] #252 closed, assigned to nobody

[2017-06-28 09:00] DawidCh commented on #220
If you wish workaround for k8s on premise, I am using externalIPs (https://kubernetes.io/docs/concepts/services-networking/service/#external-ips) in definition of my service.

[2017-07-11 21:39] edude03 opened #288 "Old version of ixgbevf driver installed."
I'm currently debugging an issue on my cluster where the network is disconnecting frequently and I've found that the template for creating the debian image purposefully removes the 2.16 version of the `ixgbevf` driver, leaving an unsupported version behind.

[code]
According to Amazon:

[code]

From [http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/sriov-networking.html#enhanced-networking-ubunt

[2017-08-10 08:50] gekart opened #290 "AMI snapshot should be public"
When using AWS it is possible to launch k8s AMIs, but is not possible to copy them - instead getting this error message: "You do not have permission to access the storage of this ami".

Although the AMI itself is public, the underlying snapshot is not public, therefore preventing copying, and preventing the ability to copy the snapshot to an encrypted snapshot in order to enable root volume encryp

[2017-08-10 19:00] cordoval commented on #290
bump

what is the purpose of keeping this private?

[2017-08-22 13:26] gekart commented on #290
/assign @justinsb

for a starter it would suffice to make the newest snapshots (#291) public manually.

[2017-09-11 07:32] qqshfox opened #293 "imagebuilder fails to query the newly registered AMI"
`imagebuilder` may complain `image not found after build` and the execution failes. But from the logs ahead the exception, we can find the AMI has been registered actually. It seems that the AMI newly created not available yet despite `bootstrap-vz` claims so.

[code]

Wait one minute or so, the AMI should be available finally.

[code]

[2017-09-19 14:33] gekart commented on #290
For the manual steps: http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-modifying-snapshot-permissions.html

Condensed:

1. Select  k8s-1.7-debian-jessie-amd64-hvm-ebs-2017-07-28 AMI in AWS console
2. In Details under Block Devices snapshot is: snap-0e2f1666553d57bf1
3. In Snapshots search for snap-0e2f1666553d57bf1 and select it
4. Actions / Modify Permissions, choose Public, Save

[2017-09-22 08:03] gekart opened #294 "Use versioned kernel references"
In

[code]

it is not easy to see what is hidden behind linux-image-k8s. Using a versioned linux-image-4.4.78-k8s is more appropriate.

[2017-11-01 21:30] #68 closed, assigned to justinsb

[2017-11-01 21:30] #70 closed, assigned to justinsb

[2017-11-01 21:30] #74 closed, assigned to justinsb

[2017-11-01 21:30] #112 closed, assigned to justinsb

[2017-11-01 21:30] #117 closed, assigned to nobody

[2017-11-01 21:30] #120 closed, assigned to justinsb

[2017-11-01 21:30] #124 closed, assigned to justinsb

[2017-11-01 21:30] #128 closed, assigned to justinsb

[2017-11-01 21:30] #133 closed, assigned to justinsb

[2017-11-01 21:30] #134 closed, assigned to justinsb

[2017-11-01 21:30] #135 closed, assigned to justinsb

[2017-11-01 21:30] #136 closed, assigned to justinsb

[2017-11-01 21:30] #137 closed, assigned to justinsb

[2017-11-01 21:30] #139 closed, assigned to justinsb

[2017-11-01 21:31] #140 closed, assigned to justinsb

[2017-11-01 21:31] #141 closed, assigned to justinsb

[2017-11-01 21:31] #142 closed, assigned to justinsb

[2017-11-01 21:31] #143 closed, assigned to justinsb

[2017-11-01 21:31] #144 closed, assigned to justinsb

[2017-11-01 21:31] #145 closed, assigned to justinsb

[2017-11-01 21:31] #146 closed, assigned to justinsb

[2017-11-01 21:31] #147 closed, assigned to justinsb

[2017-11-01 22:46] roberthbailey commented on #4
addon-manager was not pulled out of the main repo and I've deleted it from this repo as it was never updated and is quite out of date.

This project has languished a bit (much of the code has moved out) and we are now using it to build the cluster api (see https://docs.google.com/document/d/16ils69KImmE94RlmzjWDrkmFZysgB2J4lGnYMRN89WM/edit#).

[2017-11-01 22:46] #4 closed, assigned to nobody

[2017-11-01 22:46] roberthbailey commented on #6
Closing as this issue as obsolete.

[2017-11-01 22:46] #6 closed, assigned to nobody

[2017-11-01 22:47] roberthbailey commented on #37
Closing this issue as min-turnup moved to the [kubernetes-anywhere](https://github.com/kubernetes/kubernetes-anywhere) repo.

[2017-11-01 22:47] #37 closed, assigned to nobody

[2017-11-01 22:48] roberthbailey commented on #94
Closing this issue as min-turnup moved to the [kubernetes-anywhere](https://github.com/kubernetes/kubernetes-anywhere) repo.

[2017-11-01 22:48] #94 closed, assigned to nobody

[2017-11-01 22:50] roberthbailey commented on #80
docker-multinode was removed in https://github.com/kubernetes/kube-deploy/pull/283 so I'm closing this issue as obsolete.

[2017-11-01 22:50] #80 closed, assigned to nobody

[2017-11-01 22:50] roberthbailey commented on #102
docker-multinode was removed in https://github.com/kubernetes/kube-deploy/pull/283 so I'm closing this issue as obsolete.

[2017-11-01 22:50] #102 closed, assigned to nobody

[2017-11-01 22:50] roberthbailey commented on #122
docker-multinode was removed in https://github.com/kubernetes/kube-deploy/pull/283 so I'm closing this issue as obsolete.

[2017-11-01 22:50] #122 closed, assigned to nobody

[2017-11-01 22:51] roberthbailey commented on #149
Closing this issue as obsolete.

[2017-11-01 22:51] #149 closed, assigned to justinsb

[2017-11-01 22:51] roberthbailey commented on #155
docker-multinode was removed in https://github.com/kubernetes/kube-deploy/pull/283 so I'm closing this issue as obsolete.

[2017-11-01 22:51] #155 closed, assigned to nobody

[2017-11-01 22:51] roberthbailey commented on #167
docker-multinode was removed in https://github.com/kubernetes/kube-deploy/pull/283 so I'm closing this issue as obsolete.

[2017-11-01 22:51] #167 closed, assigned to nobody

[2017-11-01 22:51] roberthbailey commented on #176
docker-multinode was removed in https://github.com/kubernetes/kube-deploy/pull/283 so I'm closing this issue as obsolete.

[2017-11-01 22:51] #176 closed, assigned to nobody

[2017-11-01 22:51] roberthbailey commented on #182
docker-multinode was removed in https://github.com/kubernetes/kube-deploy/pull/283 so I'm closing this issue as obsolete.

[2017-11-01 22:51] #182 closed, assigned to nobody

[2017-11-01 22:51] roberthbailey commented on #188
docker-multinode was removed in https://github.com/kubernetes/kube-deploy/pull/283 so I'm closing this issue as obsolete.

[2017-11-01 22:51] #188 closed, assigned to nobody

[2017-11-01 22:51] roberthbailey commented on #192
docker-multinode was removed in https://github.com/kubernetes/kube-deploy/pull/283 so I'm closing this issue as obsolete.

[2017-11-01 22:51] #192 closed, assigned to nobody

[2017-11-01 22:51] roberthbailey commented on #196
docker-multinode was removed in https://github.com/kubernetes/kube-deploy/pull/283 so I'm closing this issue as obsolete.

[2017-11-01 22:51] #196 closed, assigned to nobody

[2017-11-01 22:51] roberthbailey commented on #211
docker-multinode was removed in https://github.com/kubernetes/kube-deploy/pull/283 so I'm closing this issue as obsolete.

[2017-11-01 22:51] #211 closed, assigned to nobody

[2017-11-01 22:52] roberthbailey commented on #215
docker-multinode was removed in https://github.com/kubernetes/kube-deploy/pull/283 so I'm closing this issue as obsolete.

[2017-11-01 22:52] #215 closed, assigned to nobody

[2017-11-01 22:52] roberthbailey commented on #216
docker-multinode was removed in https://github.com/kubernetes/kube-deploy/pull/283 so I'm closing this issue as obsolete.

[2017-11-01 22:52] #216 closed, assigned to nobody

[2017-11-01 22:53] roberthbailey commented on #223
docker-multinode was removed in https://github.com/kubernetes/kube-deploy/pull/283 so I'm closing this issue as obsolete.

[2017-11-01 22:53] #223 closed, assigned to nobody

[2017-11-01 22:53] roberthbailey commented on #235
docker-multinode was removed in https://github.com/kubernetes/kube-deploy/pull/283 so I'm closing this issue as obsolete.

[2017-11-01 22:53] #235 closed, assigned to nobody

[2017-11-01 22:53] roberthbailey commented on #242
docker-multinode was removed in https://github.com/kubernetes/kube-deploy/pull/283 so I'm closing this issue as obsolete.

[2017-11-01 22:53] #242 closed, assigned to nobody

[2017-11-01 22:53] roberthbailey commented on #244
docker-multinode was removed in https://github.com/kubernetes/kube-deploy/pull/283 so I'm closing this issue as obsolete.

[2017-11-01 22:53] #244 closed, assigned to nobody

[2017-11-01 22:53] roberthbailey commented on #260
docker-multinode was removed in https://github.com/kubernetes/kube-deploy/pull/283 so I'm closing this issue as obsolete.

[2017-11-01 22:53] #260 closed, assigned to nobody

[2017-11-01 22:53] roberthbailey commented on #271
docker-multinode was removed in https://github.com/kubernetes/kube-deploy/pull/283 so I'm closing this issue as obsolete.

[2017-11-01 22:53] #271 closed, assigned to nobody

[2017-11-01 22:53] roberthbailey commented on #272
docker-multinode was removed in https://github.com/kubernetes/kube-deploy/pull/283 so I'm closing this issue as obsolete.

[2017-11-01 22:53] #272 closed, assigned to nobody

[2017-11-01 22:54] roberthbailey commented on #274
docker-multinode was removed in https://github.com/kubernetes/kube-deploy/pull/283 so I'm closing this issue as obsolete.

[2017-11-01 22:54] #274 closed, assigned to nobody

[2017-11-01 22:54] roberthbailey commented on #276
docker-multinode was removed in https://github.com/kubernetes/kube-deploy/pull/283 so I'm closing this issue as obsolete.

[2017-11-01 22:54] #276 closed, assigned to nobody

[2017-11-01 22:56] roberthbailey commented on #123
@mikedanese - many of the items in your initial list are now under development and I'm not sure this issue is useful any longer. Can we close as obsolete?

[2017-11-01 22:57] roberthbailey commented on #152
Closing as this issue as obsolete.

[2017-11-01 22:57] #152 closed, assigned to nobody

[2017-11-01 22:58] roberthbailey commented on #219
docker-multinode was removed in #283 so I'm closing this issue as obsolete.

[2017-11-01 22:58] #219 closed

[2017-11-01 22:58] roberthbailey commented on #220
docker-multinode was removed in #283 so I'm closing this issue as obsolete.

[2017-11-01 22:58] #220 closed

[2017-11-01 22:59] roberthbailey commented on #228
docker-multinode was removed in #283 so I don't think it makes sense to try and wrap it with ansible. If you want an ansible based kubernetes installer, I'd recommend checking out https://github.com/kubernetes-incubator/kubespray.

[2017-11-01 22:59] #228 closed, assigned to nobody

[2017-11-01 23:00] roberthbailey commented on #238
docker-multinode was removed in #283 so I'm closing this issue as obsolete.

[2017-11-01 23:00] #238 closed, assigned to nobody

[2017-11-01 23:00] roberthbailey commented on #239
docker-multinode was removed in #283 so I'm closing this issue as obsolete.

[2017-11-01 23:00] #239 closed, assigned to nobody

[2017-11-01 23:01] roberthbailey commented on #246
docker-multinode was removed in #283 so I'm closing this issue as obsolete.

[2017-11-01 23:01] #246 closed

[2017-11-01 23:01] roberthbailey commented on #263
docker-multinode was removed in #283 so I'm closing this issue as obsolete.

[2017-11-01 23:01] #263 closed, assigned to nobody

[2017-11-01 23:01] roberthbailey commented on #264
docker-multinode was removed in #283 so I'm closing this issue as obsolete.

[2017-11-01 23:01] #264 closed, assigned to nobody

[2017-11-01 23:03] roberthbailey commented on #278
How did you deploy your cluster? docker-multinode was removed in #283 so if you used that please close this issue as obsolete.

In general, if you are using the addon manager there should be a directory on the master that is being monitored and editing the yaml files in that directory will cause the addon manager to reconcile the changes into your cluster.

[2017-11-01 23:03] roberthbailey commented on #281
docker-multinode was removed in #283 so I'm closing this issue as obsolete.

[2017-11-01 23:03] #281 closed, assigned to nobody

[2017-11-01 23:04] roberthbailey commented on #282
docker-multinode was removed in #283 so I'm closing this issue as obsolete.

[2017-11-01 23:04] #282 closed, assigned to nobody

[2017-11-01 23:10] roberthbailey commented on #243
docker-multinode was removed in #283 so I'm closing this issue as obsolete.

[2017-11-01 23:10] #243 closed, assigned to nobody

[2017-11-02 16:54] #123 closed, assigned to nobody

[2017-11-02 19:02] roberthbailey commented on #278
I'm going to close this issue as being obsolete. Please re-open if you'd like to keep debugging.

[2017-11-02 19:02] #278 closed, assigned to nobody

[2017-11-02 20:27] ajitak opened #329 "Create master vm as per machine configuration specified in machines.yaml"
Currently cluster-api create command ignores machines.yaml while creating master vm. Create master vm as per machine configuration specified in machines.yaml

[2017-11-07 20:06] pipejakob opened #347 "machine-controller: handle machine updates in parallel"
Right now, the `machine-controller` handles all Machine events synchronously. If you update five machines at once, it will slowly process each event, one at a time, waiting for each reconciliation to become fully resolved.

Instead, it would be nice to use goroutines to handle different Machine updates in parallel.

[2017-11-07 20:07] pipejakob opened #348 "machine-controller: link Machine and Node objects"
After a Machine's VM has been created, and the Node object gets registered, we need a mechanism to update the Machine's Status to reference the Node, and for the Node's OwnerRef to point to the Machine.

[2017-11-07 20:08] pipejakob opened #349 "machine-controller: update Machine.Status when appropriate"
So far, it doesn't update the Machine's Status at all.

[2017-11-07 20:12] pipejakob opened #350 "machine-controller: proper Machine reconciliation"
The machine-controller's event handling is very naive right now: on create events it will always try to start a new VM, on delete events it will always try to delete, and on updates it will always try to delete and then create the same VM.

This doesn't account for Machine objects that exist prior to the machine-controller starting, or if the controller crashes, or many updates for the same Machin

[2017-11-07 20:54] pipejakob opened #351 "Start using newer Cluster API proposal types"
Our prototype cluster creator is still using a very simple, placeholder [cluster definition](https://github.com/kubernetes/kube-deploy/blob/a29f1e6467884ea65bf99309df4ee08899382949/cluster-api/api/Cluster.go). It should start using the new types that are under review [here](https://github.com/kubernetes/kube-deploy/pull/306), but checked in [here](https://github.com/kubernetes/kube-deploy/blob/a29

[2017-11-07 20:57] pipejakob opened #352 "machine-controller: respect Machine.Spec"
The GCE support in machine-controller respects the Machine's `ProviderConfig` for the basic properties of the VMs it creates, but none of the rest of the `Spec` is honored when installing/configuring Kubernetes on the host.

[2017-11-07 22:11] pipejakob opened #355 "machine-controller: register finalizer"
The machine-controller should register a finalizer with every Machine it's responsible for, so that clients who delete Machine objects can watch their status for errors and be confident that the corresponding Node has been released when the Machine object deletion actually occurs.

[2017-11-08 18:49] ajitak commented on #351
https://github.com/kubernetes/kube-deploy/pull/359

[2017-11-08 18:49] #351 closed, assigned to nobody

[2017-11-08 18:50] ajitak commented on #329
https://github.com/kubernetes/kube-deploy/pull/358

[2017-11-08 18:50] #329 closed, assigned to ajitak

[2017-11-08 18:51] ajitak opened #360 "cluster-installer: implement delete command"

[2017-11-08 18:51] ajitak opened #361 "cluster-installer: remove kubicorn dependency"

[2017-11-08 21:44] ajitak commented on #361
https://github.com/kubernetes/kube-deploy/pull/363

[2017-11-08 21:46] #361 closed, assigned to ajitak

[2017-11-09 18:34] ajitak commented on #360
https://github.com/kubernetes/kube-deploy/pull/368

[2017-11-09 18:34] #360 closed, assigned to ajitak

[2017-11-09 23:49] ajitak opened #371 "cluster-installer: add a provider flag"
Add a provider flag for aws/google/azure

[2017-11-09 23:50] ajitak commented on #371
https://github.com/kubernetes/kube-deploy/pull/372

[2017-11-09 23:50] #371 closed, assigned to nobody

[2017-11-10 00:31] pipejakob opened #373 "cluster-api installer should honor control plane version"
On GCE, it looks like the installer always installs kubeadm 1.7.0 and calls `kubeadm init` without overriding `kubernetes-version`:

https://github.com/kubernetes/kube-deploy/blob/master/cluster-api/cloud/google/templates.go#L105

It should use the versions specified in Cluster API.

[2017-11-10 00:33] pipejakob opened #374 "Add machineset usage info"
The `machineset` demo isn't very friendly now: it panics with minimal information if you don't specify any flags. It should be more self-descriptive and demo friendly, reporting usage info if flags are omitted or don't parse.

[2017-11-10 00:37] pipejakob opened #375 "Implement cluster deletion"
This functionality was regressed when we stopped using kubicorn for cluster creation.

[2017-11-10 19:56] ajitak commented on #375
Duplicate of https://github.com/kubernetes/kube-deploy/issues/360

[2017-11-10 19:56] #375 closed, assigned to nobody

[2017-11-10 20:08] ajitak opened #378 "cluster-api installer should honor NetworkingConfig in Cluster object"
Currently installer is using calico and setting networking by default and ignoring ClusterNetworkingConfig

[2017-11-10 20:11] ajitak opened #379 "cluster-installer delete service a/c before returning success for delete command"
Currently installer creates service a/c during cluster creation but doesn't delete it during cluster delete.

[2017-11-10 23:12] ajitak commented on #379
https://github.com/kubernetes/kube-deploy/pull/383

[2017-11-10 23:12] #379 closed, assigned to ajitak

[2017-11-10 23:27] pipejakob commented on #373
Fixed in https://github.com/kubernetes/kube-deploy/pull/384.

[2017-11-10 23:27] #373 closed, assigned to pipejakob

[2017-11-10 23:30] pipejakob commented on #352
Current status: kubelet and controlPlane versions are respected, but container runtime name/version are completely ignored. We don't have to support every CRI, but we should at least set errors on the `Machine.Status` when unsupported settings are used.

[2017-11-10 23:33] ajitak opened #386 "cluster-installer handle service a/c creation error more gracefullly"
If installer gets service a/c already exists err, it should continue instead of bailing out.

[2017-11-11 01:11] #374 closed, assigned to pipejakob

[2017-11-14 21:23] ajitak opened #389 "cluster installer - create cluster CRD during cluster creation"
Currently cluster installer is creating machine CRDs during cluster creation phase. It should also create cluster CRD.

[2017-11-14 21:45] ajitak opened #390 "cluster-installer - machine delete should wait for finalizers to finish before returning success"
When a machine CRD is marked for deletion, finalizers should delete node vm. Cluster installer should wait for finalizers to finish deleting vm whenever delete machine code path is triggered.

[2017-11-15 22:47] pipejakob commented on #348
Fixed by https://github.com/kubernetes/kube-deploy/pull/391.

[2017-11-15 22:47] #348 closed, assigned to pipejakob

[2017-11-16 01:53] ajitak opened #394 "cluster installer should clean up if cluster creation fails"
Cluster installer creates master vm and service accounts. If anything fails during cluster creation, these resources are not deleted. Ideally installer should delete these.

[2017-11-17 18:54] krousey commented on #389
Fixed by #396

[2017-11-17 18:54] #389 closed, assigned to krousey

[2017-11-17 18:54] krousey commented on #378
fixed by #396

[2017-11-17 18:54] #378 closed, assigned to krousey

[2017-11-19 15:27] vielmetti opened #406 "cluster-api is missing summary and detailed documentation on how to add a new cloud provider"
### What I'm looking at

https://github.com/kubernetes/kube-deploy/tree/master/cluster-api/cloud

### What I expected to see

a README.md file that described how to add another cloud provider

### What I actually see

no README.md file, and no summary or detailed documentation.

Happy to contribute a PR if someone has some text I can work from.

[2017-11-20 19:48] medinatiger opened #407 "Better handling with calling GCE API"
There are two major issues right now.

1. All API call w/o timeout.
2. All API call w/o retry.

[2017-11-20 21:03] jessicaochen commented on #350
Agreed that is should be smarter and skip uneeded creates/updates. However, it may be quite as simple as looking at current state and reconciling to it.

The main case to consider is if the customer deletes and recreates the same machine. If we just reconcile to current state, we would do nothing because the machine exists. However, I anticipate the customer's intention is actually to have the mac

[2017-11-20 23:46] justinsb commented on #350
What does it mean to recreate the same machine?  The two machine objects won't have the same UUID...

[2017-11-21 00:53] jessicaochen commented on #350
Good point. If we use the UID in the object metadata instead of the machine name, deleting a machine and re-creating the machine (with same name and settings) will look like a delete and create of two different machines to the reconciler. The reconciler logic will just need to be smart enough recognize the name association between the two machines and do the delete of the old machine before the cr

[2017-11-21 19:47] pipejakob commented on #350
I'll recap what I said offline:

I think a decent first approach to this in the prototype is to store some amount of our controller state as annotations on the Machine objects. In the longer-term, we may want to use separate objects for this state, or even make use of other GCP tooling, but this is a very quick-and-dirty way to get things going for now.

The first time we see a new Machine object

[2017-11-22 04:06] pipejakob commented on #352
Finished with https://github.com/kubernetes/kube-deploy/pull/413

[2017-11-22 04:06] #352 closed, assigned to pipejakob

[2017-11-22 19:27] ajitak opened #424 "Use context in kubeconfig for kubectl calls"
Currently for each cluster create cluster-api overrrides kubeconfig file. If user wants to create two clusters, the best option at the moment is to write to two different kubeconfig files. Ideally user should able to create two clusters and have a single kubeconfig file with multiple contexts.

[2017-11-22 19:46] ajitak commented on #386
https://github.com/kubernetes/kube-deploy/pull/425 should cover most of the part.

[2017-11-22 19:46] #386 closed, assigned to ajitak

[2017-11-22 22:27] #394 closed, assigned to ajitak

[2017-11-27 18:50] ajitak commented on #390
Code ref https://github.com/kubernetes/kube-deploy/blob/master/cluster-api/deploy/deploy_helper.go#L192

[2017-11-27 23:08] ajitak opened #435 "Repair default dryrun flag should be false"
Currently it is true, change it to false.
code ref https://github.com/kubernetes/kube-deploy/blob/master/cluster-api/repair/cmd/root.go#L61

[2017-11-27 23:27] pipejakob opened #436 "Create nice landing README for cluster-api"
We anticipate increased interest/traffic after the upcoming KubeCon demo. We should make sure that when someone visits the `kube-deploy` repository, they can easily find the `cluster-api` subdirectory. Within that subdirectory, we should have a nice landing README that describes the project, links to relevant resources, and helps new users getting started.

[2017-11-27 23:33] pipejakob opened #437 "Clean up upgrader output"
We want the `upgrader` tool to have clean, concise output for the upcoming KubeCon demo.

[2017-11-30 22:55] jessicaochen opened #448 "Re-appearing deleted node"
Sometimes a node re-appears after being deleted. Logs show the machine controller **getting an OnAdd() & OnDelete() for the machine seemingly out of nowhere** every 5 - 10 mins forever.

Example Logs:

I1130 22:14:53.280272       8 machineactuator.go:404] Wait for insert "operation-1512080092102-55f3a94c2fd71-4813a394-326dc58c"...
I1130 22:15:03.475399       8 machineactuator.go:414] Finish wait f

[2017-12-14 03:40] davidlapsleyio opened #459 "Add firewall configuration section to README"
_cluster-api_ requires the orchestrating computer to have access to TCP port 443 on the master and node VMs.

It would be great to have a section in the README that documents the steps required in GCP to create the firewall rules required to enable _cluster-api_ to orchestrate VMs in GCP.

[2017-12-19 03:44] chrislovecnm commented on #255
/close

[2017-12-19 03:44] #255 closed, assigned to nobody

[2017-12-21 19:41] krousey opened #463 "What is the proper scoping of our API types?"
This was brought up in the [cluster API review](https://github.com/kubernetes/kube-deploy/pull/306#discussion_r157254538), and I think it was discussed in last week's meeting. I'm creating this issue so that we have a concentrated and recorded place to discuss this.

Do we want to have machines and clusters namespaced or not?

Currently we have them cluster scoped because the prototype was designe

[2017-12-21 19:47] krousey commented on #463
Option 3 with ***kube-system*** namespace is my personal preference.

[2017-12-21 19:48] jessicaochen commented on #350
https://github.com/kubernetes/kube-deploy/pull/461

[2017-12-21 19:48] #350 closed, assigned to jessicaochen

[2017-12-21 19:53] jessicaochen commented on #347
https://github.com/kubernetes/kube-deploy/pull/441

[2017-12-21 19:53] #347 closed, assigned to jessicaochen

[2018-01-02 04:03] vbmade2000 commented on #435
@ajitak If you are talking about https://github.com/kubernetes/kube-deploy/blob/master/cluster-api/tools/repair/cmd/root.go#L61 then it is already false.

[2018-01-02 04:21] vbmade2000 commented on #437
@pipejakob @medinatiger Can I try working on this issue ?

[2018-01-02 06:33] ajitak commented on #435
@vbmade2000 closing this as @krousey made this change in https://github.com/kubernetes/kube-deploy/commit/1b8070c7b110ca250379e0bc6a258e8e17ac6f63

[2018-01-02 06:33] #435 closed, assigned to nobody

[2018-01-02 18:55] medinatiger commented on #437
@vdmade2000, I think we already made improvement here. But feel free to make further improvement. Just assign it to yourself and send out PR!

[2018-01-02 22:10] jessicaochen commented on #448
Turns out it was because the listener replaying events. This behavior has been addressed with proper reconciliation.
https://github.com/kubernetes/kube-deploy/issues/350

[2018-01-02 22:10] #448 closed, assigned to nobody

[2018-01-03 02:32] vbmade2000 commented on #437
Ok sure.

[2018-01-03 18:51] jessicaochen opened #467 "Break up MachineActuator interface"
Currently the MachineActuator interface is a mash of what the cloud specific logic that machine controller needs and what the (boostrapping) deployer needs.
https://github.com/kubernetes/kube-deploy/blob/master/cluster-api-gcp/cloud/machineactuator.go

It looks like it would be best to break up the interface into the interfaces needed by the machine controller and the deployer respectively. These

[2018-01-03 18:54] jessicaochen opened #468 "Switch the machine controller to using API aggregation"
API aggregation has several benefits including versioning and the ability to run the controller outside the cluster.

[2018-01-03 18:59] jessicaochen opened #469 "Machine Controller Locking"
Have leader election/locking so that only one machine controller is running in the cluster at a time.
https://github.com/kubernetes/kube-deploy/blob/master/cluster-api-gcp/machine-controller/controller/machinecontroller.go#L94

For locking see:
- https://github.com/kubernetes/kubernetes/issues/44857
- https://github.com/kubernetes/client-go/tree/master/tools/leaderelection

[2018-01-03 19:06] jessicaochen commented on #467
Breaking up the interface in this manner also has the added benefit that folks can choose to use the machine controller logic with their own deployment logic without having to implement the deployer methods on MachineAcuator that they do not use.

[2018-01-03 19:15] jessicaochen opened #470 "Promote common machine controller logic to cluster-api"
Look various implementations of the machine controller and promote common bits to cluster-api.

Known machine controller implementations (as of now):
https://github.com/kubermatic/machine-controller
https://github.com/kubernetes/kube-deploy/tree/master/cluster-api-gcp/machine-controller
@tallclair - Do you have link to your spike machine controller?

[2018-01-03 19:20] jessicaochen opened #471 "Bot for stale vendored cluster API"
Create a robot that will warn when the vendored cluster API is falling behind master.

Context:
On creation of cluster-api-gcp, there was a discussion on whether we were going to vendor the cluster-api or directly reference it. We decided to vendor it so it would be a better example of the right pattern to folks attempting to make their own machine controller. The downside to this is that the vend

[2018-01-03 19:26] jessicaochen opened #472 "E2E Cluster API Tests"
Setup E2E tests that use Cluster API for in kubernetes/test-infra

[2018-01-03 19:39] pipejakob commented on #390
I had this working a while ago before we froze the prototype code in preparation for the KubeCon event, but it was rolled into work for https://github.com/kubernetes/kube-deploy/issues/355 as well. I still have the code if anyone is interested in referencing it, but it will need a lot of rebasing after the recent refactoring to do proper Machine reconciliation and parallel Machine handling. For no

[2018-01-03 19:44] pipejakob commented on #355
I had this prototyped a while ago (before we froze the prototype in preparation for KubeCon), but it was a little brittle: finalizers for CRDs [didn't work](https://github.com/kubernetes/kubernetes/issues/50528) in Kubernetes 1.7, and I don't think we were ready to declare 1.8 as the minimum Kubernetes version our prototype would support, since we wanted to demo/test minor version upgrade/downgrad

[2018-01-04 19:06] jessicaochen opened #473 "Create Code Owner Structure"
Set up owners for code so that PRs can go to appropriate folks.

[2018-01-08 07:30] roberthbailey opened #474 "Write docs on contributing to the cluster api effort"
We should add a section to [Contributing to SIG Cluster Lifecycle](https://docs.google.com/document/d/1eq0mWjnyQiDXhEGPU7tulbnDuvkaUehSz7u3NRxxpc8/edit) for the cluster API.

[2018-01-08 19:14] medinatiger commented on #472
@jessicaochen, do you mean create E2E test to test cluster API especially machine controller or convert existing test-infra to use cluster API?

[2018-01-08 19:45] jessicaochen commented on #472
I mean convert existing test-infra to use the cluster API for this issue. I think both ultimately are good.

[2018-01-08 19:46] medinatiger opened #476 "create integration test for machine controller."
We need to have integration test to test machine controller. The following scenario is interested.

1. Basic create/update/delete through API
2. Scale up
3. Scale down
4. Stress test with combination of ScaleUp/ScaleDown
5. Upgrade.
6. Mixed upgrade and scale operation simultaneously

[2018-01-08 19:48] medinatiger commented on #472
OK. I opened https://github.com/kubernetes/kube-deploy/issues/476 to track the work for writing integration test for machine controller. It could be a great starter project for anyone want to start contributing.

[2018-01-10 02:31] so0k opened #479 "Pre-create recommended Cgroups"
See: https://github.com/kubernetes/kops/issues/3762

Also, set `/etc/systemd/system.conf` JoinControllers

[code]

to ensure `/system.slice` is a valid target for `system-reserved` resources

[2018-01-10 22:19] spiffxp opened #480 "Setup merge automation for this repo"
I'd like to setup merge automation for this repo. This means:

Use an OWNERS file, /approve, /lgtm to allow people to merge PR's into this repo:
- Create/update an OWNERS_ALIAS file that names the existing teams that have write/admin access to the repo
- Create/update an OWNERS file with approvers based on the write/admin access teams
- Configure prow to turn on the "approval" plugin for this repo

[2018-01-11 07:01] roberthbailey commented on #480
Thanks @spiffxp so much for your help here. This was on my list of todo items, but I hadn't gotten to it yet.

[2018-01-11 17:08] jessicaochen opened #482 "GCE machine actuator should collect current state"
The machine actuator should get current state from the actual sources (eg. kubelet version from machine, VM info from gce) instead of a cached last-applied state. This will help with cases like the state changing under the covers.

https://github.com/kubernetes/kube-deploy/blob/master/cluster-api-gcp/cloud/google/instancestatus.go#L13

[2018-01-11 17:17] jessicaochen opened #483 "Make Machine Controller Pod Version Not Serial"
Having a serial machine controller pod version makes parallel contribution more difficult. One needs to figure out a unique name for dev pods to avoid stepping on other contributor's toes. When pushing the official image, coordination is needed to not push the same version number. If we make the pod version based on something less serial (eg. commit hash like test-infra does), that will help with

[2018-01-11 19:16] lukesiler opened #484 "unable to read Cluster API proposal"
Unable to open the Cluster API Proposal link in https://github.com/kubernetes/kube-deploy/blob/master/cluster-api/README.md which is https://docs.google.com/document/d/1G2sqUQlOYsYX6w1qj0RReffaGXH4ig2rl3zsIzEFCGY

Is it intended to require explicit Request for Access?

[2018-01-11 19:35] lukesiler commented on #484
I got a near immediate approval so I guess this is intended - thanks!

[2018-01-11 19:35] #484 closed, assigned to nobody

[2018-01-12 18:31] pipejakob opened #492 "cluster-api-gcp doesn't build"
On a fresh checkout of `upstream/master`, running `make` in `kube-deploy/cluster-api-gcp` fails for me:

    $ make
    go build
    # k8s.io/kube-deploy/cluster-api-gcp/util
    util/util.go:87: cannot use machine.ObjectMeta.UID (type "k8s.io/kube-deploy/cluster-api/vendor/k8s.io/apimachinery/pkg/types".UID) as type "k8s.io/kube-deploy/cluster-api-gcp/vendor/k8s.io/apimachinery/pkg/types".UID in

[2018-01-12 18:31] pipejakob commented on #492
/label cluster-api-gcp

[2018-01-12 18:40] roberthbailey commented on #492
I think that this was fixed by https://github.com/kubernetes/kube-deploy/pull/491

[2018-01-12 18:41] roberthbailey commented on #492
I noticed this last night as well. :)

[2018-01-12 18:56] pipejakob commented on #492
Awesome, thanks!

[2018-01-12 18:56] #492 closed, assigned to nobody

[2018-01-12 22:01] roberthbailey opened #495 "Add support for the KUBECONFIG environment variable"
It's a common use case to use the KUBECONFIG environment variable to specify where to read/write your config. We currently support a command line flag (`-k`) but not the env variable.

[2018-01-12 22:06] roberthbailey opened #497 "Support alternate kubeconfig locations"
Right now you can pass a flag to `cluster-api-gcp` to specify an alternate kubeconfig location. But it isn't properly plumbed through, and if you don't simultaneously set the `KUBECONFIG` environment variable we don't successfully create a cluster.

We have issues when shelling out to kubectl (e.g. https://github.com/kubernetes/kube-deploy/blob/master/cluster-api-gcp/cloud/google/serviceaccount.go

[2018-01-12 23:56] #473 closed, assigned to spiffxp

[2018-01-13 00:45] #480 closed, assigned to spiffxp

[2018-01-13 04:04] prateekgogia opened #499 "Owners docs link in kube-deploy/OWNERS file doesn't work"
See the OWNERS docs: https://git.k8s.io/community/docs/devel/owners.md . <--- this doesn't work.

[2018-01-13 16:08] karan commented on #499
Working link is https://git.k8s.io/community/contributors/devel/owners.md

[2018-01-13 20:24] prateekgogia commented on #424
I can take this.

[2018-01-16 05:40] #495 closed, assigned to nobody

[2018-01-16 07:13] roberthbailey opened #503 "Extensions to machine status errors"
Extracted from https://github.com/kubernetes/kube-deploy/pull/298#issuecomment-357366871:

Should we add a new `MachineStatusError` of `JoinClusterTimeoutMachineError` (or similar)?

[2018-01-16 07:14] roberthbailey opened #504 "Change type of providerConfig"
Extracted from https://github.com/kubernetes/kube-deploy/pull/298#issuecomment-357366871:

Should `providerConfig` change from `string` to `runtime.Object` or `runtime.RawExtension`?

[2018-01-16 07:20] roberthbailey commented on #499
Thanks @karan - I just sent a PR to fix this.

/cc @spiffxp FYI since you sent the original PR that added the OWNERS file and the link may be incorrect in other repos too.

[2018-01-16 07:21] roberthbailey commented on #459
Fixed by https://github.com/kubernetes/kube-deploy/pull/486.

[2018-01-16 07:21] #459 closed, assigned to nobody

[2018-01-16 07:27] roberthbailey commented on #436
The README was cleaned up across a number of PRs: https://github.com/kubernetes/kube-deploy/pull/454, https://github.com/kubernetes/kube-deploy/pull/455, https://github.com/kubernetes/kube-deploy/pull/456, https://github.com/kubernetes/kube-deploy/pull/457, https://github.com/kubernetes/kube-deploy/pull/458, and https://github.com/kubernetes/kube-deploy/pull/487.

[2018-01-16 07:27] #436 closed, assigned to nobody

[2018-01-16 07:28] roberthbailey commented on #424
Thanks @prateekgogia! Looking forward to a PR.

[2018-01-16 19:32] #499 closed, assigned to roberthbailey

[2018-01-16 22:02] prateekgogia commented on #497
This can be closed, #498 fixes it.

[2018-01-16 23:54] roberthbailey commented on #497
Fixed by #498

[2018-01-16 23:54] #497 closed, assigned to nobody

[2018-01-17 15:55] k-turowski commented on #476
I can take this.

[2018-01-17 20:20] scotch-bonnet commented on #469
I can take this one.

[2018-01-17 21:44] roberthbailey commented on #463
I like option 3 with the *default* namespace, so that a query that doesn't include a namespace gives you information about the current cluster.

e.g. `kubectl get machines` tells you the machines that represent this cluster. If we go with the `kube-system` namespace, then the query for "show me my machines" becomes the more cumbersome `kubectl get machines -n kube-system`.

Also, if we go with `ku

[2018-01-17 21:50] staebler commented on #463
**Option 4 (Namespaces, with cluster field)**
Just like Option 3, except that the differentiator between local and remote cluster management is done via a field on the cluster object.

**Pros**

- All the same pros as Option 3.
- Is more clear to the end user what the behavior is going to be. With Option 3, the end user needs to know about a special namespace, where the cluster object behaves diff

[2018-01-18 12:39] dgoodwin commented on #463
+1 for the 4, possibly with validation to ensure that one and only one cluster with local=true goes into "default". (and nowhere else)

Adjusting for any local behavior based on a cluster boolean does feel like a slight improvement vs comparing the namespace to a constant.

[2018-01-18 21:05] medinatiger opened #508 "Abstract the consts into common package from versioned package."
We need to take the fix in https://github.com/kubernetes-incubator/apiserver-builder/pull/208 to get const type definition back into cluster api definition

[2018-01-19 22:35] #508 closed, assigned to nobody

[2018-01-22 14:00] mvladev commented on #504
There is a of discussion for this PR in the comments bellow https://github.com/kubernetes/kube-deploy/pull/298#discussion_r159234308

@mrIncompetent @sttts and myself said that the change is okay

[2018-01-22 19:27] krousey commented on #463
Those are actually good suggestions. How about both? Locally manager clusters have their types stored in the default namespace, and they have a "LocallyManaged" status field that is set to true by deployment tool. Remote clusters live in other namespaces and have a "LocallyManaged" status field set to false. Seem good?

[2018-01-22 19:46] staebler commented on #463
@krousey I'm not sure that having the field in the status buys us anything. We would still be dependent upon the user putting the object in the correct namespace for their desired behavior, without any field that the user has to set to declare their intention. A field in the status would be nothing more than an after-the-fact indicator to the user about what happened.

[2018-01-22 20:46] mvladev commented on #463
@krousey I would avoid setting any fields for that option. More suitable approach is to use annotation.

I would choose option 2, because it's the most flexible one - you can name your namespaces however you want, put your machines in them and there is no magic or requirements. It's boring and simple.

[2018-01-22 22:39] krousey commented on #463
@staebler I envisioned the deployment tool would know if it's deploying for remote management or local management, and it could properly set the status. But then again, the whole point of this is to put all inputs in the spec. I want to punt on the local versus non-local right now. It can be done with annotations if needed at first.

So we will go with option 2. Namespaces.

[2018-01-24 19:18] karan opened #514 "Use a pre-built node and master image"
Currently, spinning up nodes and masters can take ~minutes. Most of this time is due to apt-get installs. We can cache these by using a pre-built image, and then simply run `kubeadm join`. This will make node startups faster.

Similar for master.

https://github.com/kubernetes/kube-deploy/blob/master/cluster-api-gcp/cloud/google/templates.go#L159

[2018-01-24 21:40] karan opened #515 "Spec.ObjectMeta in Machine is not a valid path"
Machine actuator currently looks for changes to spec.metadata [1], but that field doesn't exist [2]. So changes to `generateName` won't WAI for example.

Two possible solutions:
1. Look for machine.metadata in the actuator
2. Pull or reference the metadata block in `spec`.

[1] https://github.com/kubernetes/kube-deploy/blob/master/cluster-api-gcp/cloud/google/machineactuator.go#L471
[2] https://gi

[2018-01-24 21:41] karan commented on #482
I'll start working on this, and handle updates to `spec.providerConfig` first. Specifically, `zone`, `machineType`, and `image`.

[2018-01-24 21:44] karan commented on #515
/label cluster-api-gcp

[2018-01-25 19:43] krousey commented on #463
Closing this issue. The new types were created with namespace scoping.

[2018-01-25 19:43] #463 closed, assigned to krousey

[2018-01-25 21:22] karan opened #516 "Local dev story for machine-controller"
Currently, testing changes to the machine-controller is very cumbersome and time-consuming.

We need to push a new machine-controller image, then `pods/pods.go` with the new image, then re-create the whole cluster. This can take ~minutes. We should have a faster dev story - ideally machine-controller running locally (which is possible but not documented).

[2018-01-26 18:20] karan opened #518 "Change the type of instance-status"
Writing the current state of the underlying VM as a `machine` object within another machine is confusing - https://github.com/kubernetes/kube-deploy/blob/master/cluster-api-gcp/cloud/google/instancestatus.go

Before #482 is closed, we could change the type of instance status to a type that only has the fields we care about. This would make the code a bit more readable, `requiresUpdate` in machine

[2018-01-26 23:13] medinatiger opened #520 "Machine controller with namespace"
The current implementation assume default namespace. The machine controller need to handle resource from multiple namespace.

[2018-01-27 00:10] krousey commented on #520
I think for initial implementation, it would be ok to handle a single namespace.

[2018-01-29 19:58] rsdcastro opened #521 "Cluster API to manage existing clusters"
This item is to provide functionality to have Cluster API to support existing clusters. Currently we require users to create a new cluster (and migrate workloads) to adopt the Cluster API.

[2018-01-29 21:38] rsdcastro opened #522 "Support adopting a cluster from a set of existing machines"
This item tracks supporting users providing a list of machines that will be used to bootstrap the cluster rather than requiring machines to be added via the cluster API.

[2018-01-29 21:40] rsdcastro opened #523 "Check if master exists as previous command might have been cancelled"

[2018-01-29 21:45] rsdcastro opened #524 "Support multiple providers for cluster bootstrapping"
Currently only GCP is supported. This item is about - more easily - supporting other providers when bootstrapping a cluster.

[2018-01-29 21:49] rsdcastro opened #525 "E2E tests for cluster bootstrapping"
Basic set of E2E tests for cluster bootstrapping across supported providers.

[2018-01-29 21:52] rsdcastro opened #526 "Cluster Bootstrapping: document best practices (incl. supported scenarios)"

[2018-01-29 21:55] rsdcastro opened #527 "Document how to tear down a cluster created via Cluster API"

[2018-01-29 21:57] rsdcastro opened #528 "Support for automated cluster tear down via Cluster API"

[2018-01-29 22:00] rsdcastro opened #529 "Add machine class to the Cluster API"
This issue tracks discussion on adding machine class (as used/suggested in several API discussions) and any work required to make that happen if we decide to do it.

[2018-01-29 22:06] rsdcastro opened #530 "Design and implement a machine lifecycle state machine"
Proposal doc: https://docs.google.com/document/d/1Kz8bmAF6AZXcagjE4robuStPG93VB9YHj5xBiLI0bt0/edit

[2018-01-29 22:09] rsdcastro opened #531 "Support for hooks for resource cleanup during machine deletion"

[2018-01-29 22:15] rsdcastro opened #532 "Reconciler for Node + Machine objects"
This reconciler would watch/poll for node changes to reconcile machine and nodes objects. Example scenarios: VM gets deleted manually or nodes are created w/o using cluster API.

This could include metrics to detect if tooling are acting on the cluster and not going through the cluster API.

[2018-01-29 22:21] rsdcastro opened #533 "Support changing machine role (e.g. node => master)"

[2018-01-29 22:22] rsdcastro opened #534 "GCP provider: support in-place property updates on the machine"

[2018-01-29 22:24] rsdcastro opened #535 "Machine Set implementation"
API definition here:
https://github.com/kubernetes/kube-deploy/pull/501

This item tracks machine set implementation. Logic should be independent of the cloud provider.

[2018-01-29 22:27] rsdcastro opened #536 "MachineSet implementation for scaling up & down"
Some thoughts/questions:
- Choose a specific instance to remove rather than arbitrary instance
- Does scaling down use any smart logic to pick the node to remove?
- Does scaling down drain nodes by default? (But allow removing machines w/o draining)

[2018-01-29 22:39] rsdcastro opened #537 "Have a production-ready upgrade functionality (as tool or server side)"

[2018-01-29 22:45] rsdcastro opened #538 "Tool to recover if the master is bricked"
In case metadata can't be accessed/reconstructed, this tool would allow the cluster to be restored with the cluster API components.

Related to https://github.com/kubernetes/kube-deploy/issues/532

[2018-01-29 22:56] rsdcastro opened #539 "Support multi-master clusters"

[2018-01-29 22:57] rsdcastro opened #540 "Support upgrading/pivoting cluster to multi-master"

[2018-01-29 23:08] rsdcastro opened #541 "Cloud Provider implementation for AWS"

[2018-01-29 23:10] rsdcastro opened #542 "Cloud Provider implementation for Digital Ocean"

[2018-01-29 23:15] rsdcastro opened #543 "Conformance Tests for Cloud Providers"

[2018-01-29 23:38] rsdcastro opened #544 "Automate repo tasks for kube-deploy and cluster API"
Urgent:
- [x] Build for every PR
- [x] Run unit tests for every PR (set up test grid for this too)

Soon:
- [ ] Auto-assigner for PRs
- [ ] Build bazel for every PR
- [ ] Auto gen checks for every PR
- [ ] When we modify types, serialization, proto, and client code has to be regenerated
- [ ] When we modify dependencies, bazel BUILD files have to be updated
- [ ] We should verify that all dependen

[2018-01-29 23:39] rsdcastro opened #545 "Document how to contribute to Cluster API effort"

[2018-01-29 23:41] rsdcastro opened #546 "Add architecture diagram for cluster API"

[2018-01-29 23:45] rsdcastro opened #547 "Rebase E2E tests to use Cluster API (from kube-up)"
Benefits as per @roberthbailey
- More test cycles (we will get hundreds of cluster create / delete cycles per day, hook into the upgrade test infra, etc).
- It will also force us to build enough configurability to do all of the edge cases demanded by the tests
- This can be used to convince ourselves that the API is solid and flexible (e.g. if we end up with un-readable templating like kube-up or

[2018-01-30 01:51] rsdcastro opened #548 "Design on cluster API integration with cluster registry"

[2018-01-30 23:05] karan opened #550 "Publish the Cluster API contract for provider implementations"

[2018-01-31 09:09] gekart commented on #290
Solved by https://github.com/kubernetes/kube-deploy/pull/295

[2018-01-31 09:09] #290 closed, assigned to nobody

[2018-01-31 17:25] rsdcastro commented on #524
This could include defining an interface and/or documentation. The goal is that anyone implementing a new provider knows that they would need to implement the bootstrapping story as well (assuming we keep the current implementation of starting an instance to install the controller as default). @krousey @karan

[2018-01-31 18:08] karan commented on #524
Related #550

[2018-02-01 22:02] karan commented on #550
/assign karan

[2018-02-01 22:54] rsdcastro commented on #550
This would need to include documentation on how to implement Cloud Provider for their own environment.

[2018-02-01 22:58] karan commented on #550
I want to limit this document's scope to only what you said - a contract for someone who wants to implement a provider (no details on the implementation of the actual controller itself for example).

[2018-02-02 18:37] karan opened #553 "Add unit tests for cluster-api"

[2018-02-02 18:38] karan opened #554 "Add unit tests for GCP machine controller"

[2018-02-02 19:05] karan commented on #548
One of the ideas here is that we want to have an option during cluster creation (in the api or in the deployment tool) to register the cluster with any registry endpoint.

[2018-02-03 00:04] rsdcastro opened #558 "Cluster creation fails with "service account kube-system/default was not found""
$ ./cluster-api-gcp create -c cluster.yaml -m machines.yaml
I0202 14:33:23.988067  199613 deploy_helper.go:59] Starting cluster creation test1
I0202 14:33:23.988117  199613 deploy_helper.go:61] Starting master creation gce-master-test1
I0202 14:33:25.919210  199613 machineactuator.go:556] Wait for insert "operation-1517610804617-564424cea9f29-ded330e2-484dc1dc"...
I0202 14:33:36.205160  199613 mac

[2018-02-03 01:34] karan commented on #558
/assign karan

[2018-02-05 15:10] #558 closed, assigned to nobody

[2018-02-05 17:49] karan opened #562 "A common retry logic"
Instead of reimplementing retry logic, we should use a standard way to retrying (ideally an external package that's tested and maintained).

[2018-02-05 19:06] karan opened #563 "How to vendor cluster-api in cluster-api-gcp?"
It's confusing how dep works. So we need to document how to update the vendored cluster-api into provider-specific controller.

[2018-02-05 19:44] karan commented on #562
/label cluster-api-gcp

[2018-02-05 19:53] medinatiger opened #564 "Automate new docker image builder with new apiserver and controller manager"
It was manually built with "apiserver-boot build container --image ". However, it needs to be extended with all the additional configuration such as openssh stuff in cluster-api-gcp/machine-controller.

[2018-02-05 19:56] medinatiger opened #565 "Remove the dependency with code layout"
Currently, gcp-deployer has to be run from ext-apiserver top directory. Similarly, cluster-api-gcp does the same. We need to break this dependency.

[2018-02-05 19:58] medinatiger opened #566 "Make namespace configurable"
The current machine controller assumes default namespace. We need to make it configurable. It also include some additional work in deployer tool to make it configurable.

[2018-02-05 20:00] medinatiger opened #567 "Use dedicated service account for machine controller pod"
The current code is using default service account combined an admin privileged kubeconfig. We need to strip down to appropriate access permission with a dedicated service account.

[2018-02-05 21:36] rsdcastro opened #571 "Rerun cluster creation fails with "Error from server (AlreadyExists): secrets "machine-controller-credential" already exists""
Repro:
1. Run cluster-api-gcp create successfully
2. Rerun cluster-api-gcp

Console log messages:
I0205 13:32:06.425574  245322 deploy_helper.go:59] Starting cluster creation test1
I0205 13:32:06.425615  245322 deploy_helper.go:61] Starting master creation gce-master-test1
I0205 13:32:07.109758  245322 machineactuator.go:530] Skipping uid check since instance gke-rdc-test us-central1-f gce-master-

[2018-02-06 17:53] rsdcastro opened #573 "Allow GCP service account K8s namespace to be configurable"
See https://github.com/kubernetes/kube-deploy/pull/570 for context.

[2018-02-06 19:46] karan commented on #470
@medinatiger Please update here when this bug is unblocked due to the apiserver migration.

[2018-02-06 23:03] #550 closed, assigned to karan

[2018-02-06 23:12] #467 closed, assigned to nobody

[2018-02-06 23:13] rsdcastro opened #576 "Have a single CONTRIBUTING.md for kube-deploy and move running instructions to its own file"
This is about having running instructions as a separate doc and have both README.md and CONTRIBUTING.md pointing to it, rather than having README.md linking to the more complex CONTRIBUTING.md doc.

[2018-02-06 23:13] karan commented on #576
/kind documentation

[2018-02-06 23:14] karan commented on #563
/kind documentation

[2018-02-06 23:14] karan commented on #553
Don't think this actually has any use. We should be testing the controllers themselves (+ e2e tests).

[2018-02-06 23:14] #553 closed, assigned to nobody

[2018-02-06 23:15] karan commented on #546
/kind documentation

[2018-02-06 23:16] karan commented on #526
What else is needed here beyond what's in https://github.com/kubernetes/kube-deploy/blob/master/cluster-api/CONTRIBUTING.md ?

[2018-02-06 23:17] rsdcastro commented on #563
I think we have enough instructions based on https://github.com/kubernetes/kube-deploy/pull/557, so closing this issue.

Please reopen if you feel that we should include something else.

/close

[2018-02-06 23:17] #563 closed, assigned to rsdcastro

[2018-02-06 23:17] karan commented on #474
/kind documentation

[2018-02-07 00:34] prateekgogia opened #578 "Failed to create multiple clusters using cluster-api-gcp"
The first cluster came up fine --

`./cluster-api-gcp create -c cluster.yaml -m machines.yaml.template
I0206 16:16:26.676607   28506 deploy.go:75] You can now kubectl get nodes. Note: you might only see the master for the first few minutes while the machine controller spins up the node machines.`

Tried to create a second cluster with same template file and command, this fails (Logs pasted in the

[2018-02-07 00:40] prateekgogia opened #579 "Delete command should allow to delete a specific cluster"
Currently, delete command for `cluster-api-gcp` doesn't take any cluster info. We should be able to specify which cluster to delete.
If a user has more then one cluster, there is no way right now to delete a specific cluster.

[2018-02-07 00:43] rsdcastro commented on #578
Thanks for the issue.

Duplicate of #571.

[2018-02-07 00:44] rsdcastro commented on #578
Duplicate of #571.

[2018-02-07 01:18] prateekgogia commented on #578
Sorry, thanks closing this.

[2018-02-07 01:18] #578 closed, assigned to nobody

[2018-02-07 02:43] karan commented on #579
What will happen if you do `cluster-api-gcp delete --kubeconfig $SOME_OTHER_CONFIG`?

[2018-02-07 06:19] roberthbailey commented on #576
There should only be a CONTRIBUTING.md file at the root of the repo (it's linked to from the new issues / new pr page and highlighted for new contributors -- see https://github.com/blog/1184-contributing-guidelines).

[2018-02-07 06:24] roberthbailey commented on #437
Given that this issue was targeted at the kubecon demo I'm going to mark it as fixed.

@vbmade2000 - feel free to send follow up PRs or open specific issues for future improvements to the updater.

[2018-02-07 06:24] #437 closed, assigned to medinatiger

[2018-02-07 06:25] roberthbailey commented on #479
@so0k - is this issue for the image builder?

[2018-02-07 06:25] roberthbailey commented on #469
@scotch-bonnet - have you made any progress on this?

[2018-02-07 06:30] roberthbailey commented on #532
Isn't this part of the machine controller itself?

[2018-02-07 06:33] roberthbailey commented on #535
As discussed during various working group calls, the machine set controller should be independent of any specific environment (e.g. it shouldn't need to include any cloud-specific client libraries).

[2018-02-07 06:35] roberthbailey commented on #536
We should definitely support removing a specific machine from the set. This isn't supported today in replica sets so there isn't precedence in that API (although customers have asked for it) but it is required by the cluster autoscaler.

Ideally scaling down would choose the best node to remove from the cluster. The cluster autoscaler has code that does this, so it might be possible to reuse that

[2018-02-07 06:36] roberthbailey commented on #537
Alternatively, implement server side upgrades as part of the MachineDeployment resource type.

[2018-02-07 06:37] roberthbailey commented on #531
What types of resources are you thinking about? Would this be handled by finalizers for the machine objects (e.g. if on GCP we created an advanced route per machine then the finalizer for the machine would be responsible for deleting the route)?

[2018-02-07 06:42] roberthbailey commented on #562
Related to https://github.com/kubernetes/kube-deploy/issues/407

[2018-02-07 06:43] roberthbailey commented on #566
Dupe of https://github.com/kubernetes/kube-deploy/issues/520.

[2018-02-07 06:43] #566 closed, assigned to nobody

[2018-02-07 06:45] roberthbailey commented on #538
This sounds like a disaster recovery tool, so there is possibly some overlap with https://github.com/heptio/ark

[2018-02-07 07:08] prateekgogia commented on #579
kubeconfig file can have multiple cluster info, there is no way to tell which cluster user wants to delete. We can have an option for deleting cluster in the current context, but that may not be very clear to the user (just an opinion).

[2018-02-07 07:09] prateekgogia commented on #571
I can take this.

[2018-02-07 08:09] so0k commented on #479
sorry, I wasn't familiar with repo structure, but I think you're right

[2018-02-07 09:39] scotch-bonnet commented on #469
No progress on this yet.

[2018-02-07 16:10] rsdcastro commented on #571
Thanks, @prateekgogia

/assign prateekgogia

[2018-02-07 16:15] rsdcastro commented on #576
Update the scope of this issue to have a single CONTRIBUTING.md file.

[2018-02-07 16:16] rsdcastro commented on #531
cc @k4leung4

[2018-02-07 17:21] karan commented on #349
From what I understand we are not going to be using Status. @jessicaochen - please reopen if you think there is a future use for Status.

[2018-02-07 17:21] karan commented on #349
/close

[2018-02-07 18:04] jessicaochen commented on #349
Let's make this issue more clear, we should make sure that the Ready & LastUpdated field on the MachineStatus is getting updated by the machine controller. (Or removed from the status if it does not add value)

I know that the NodeRef and error messages are already being populated.

[2018-02-07 18:21] rsdcastro commented on #474
Let's consolidate the work in issue #576.

/close

[2018-02-07 18:21] #474 closed, assigned to rsdcastro

[2018-02-07 18:31] vaibhavsingh97 commented on #564
@medinatiger Can you please guide me how can I solve this issue 😄

[2018-02-07 18:43] medinatiger commented on #564
https://github.com/kubernetes-incubator/apiserver-builder/blob/master/docs/running_in_cluster.md has full instruction how to build & push a docker image.

I would like to have sth like https://github.com/kubernetes/kube-deploy/blob/master/cluster-api-gcp/machine-controller/Makefile.

@vaibhavsingh97, thanks for helping out!

[2018-02-07 20:55] rsdcastro commented on #349
/remove-lifecycle stale

[2018-02-07 21:31] karan commented on #562
/assign @karan

[2018-02-07 22:09] karan commented on #548
/assign karan

[2018-02-07 22:10] karan commented on #548
/kind feature

[2018-02-08 21:47] rsdcastro opened #587 "Make OS image configurable (and update it to a more recent version)"
https://github.com/kubernetes/kube-deploy/blob/master/cluster-api-gcp/cloud/google/machineactuator.go#L670

Code above uses Ubuntu 1604 as GCP's VM image. This issue tracks making this configurable and update the code to use a more recent image.

[2018-02-08 23:02] rsdcastro commented on #587
While our ```machines.yaml``` has a ```image``` property, trying the following config didn't get honored.

[code]

[2018-02-09 08:57] mvladev opened #589 "Split Machine and Cluster into different API groups"
Both `Machine` and `Cluster` are in the same `cluster.k8s.io` group. The main focus right it seems to be on the `Machine` types and can substantially slow the `v1alpha1` goals.

I suggest we move `Machine` API types to new API group `machine.k8s.io` or `machines.k8s.io`.

[2018-02-09 15:09] rsdcastro commented on #589
Thanks, added to the alpha milestone.

[2018-02-09 18:09] medinatiger opened #591 "Remove the apiserver-boot dependency for generate certificate."
We should remove the need to run apiserver-boot to generate certificate for running ext api server. The logs of apiserver-boot shows the required openssl commands to do the job.

[2018-02-10 00:32] rsdcastro commented on #541
/kind feature

[2018-02-10 00:33] rsdcastro opened #592 "Cloud Provider implementation for Vmware/vSphere"

[2018-02-10 00:33] rsdcastro commented on #592
/kind feature

[2018-02-12 18:15] rsdcastro opened #593 "GCP support for Ubuntu image"
This about tracking the current support for Ubuntu to be production ready.

Ideally this should be agnostic so all providers can use it.

[2018-02-12 18:17] rsdcastro opened #594 "GCP support for RHEL images"
See #593 for reference.

[2018-02-12 18:18] rsdcastro opened #595 "GCP support for Container OS"
See #593 for reference.

[2018-02-12 18:19] rsdcastro opened #596 "Move Ubuntu installation script out of Cluster API GCP"
The goal is to have that as reusable by other providers, as long as the base image is the same.

[2018-02-12 19:06] rsdcastro commented on #529
Assigning to @roberthbailey to drive discussion and decision.

[2018-02-12 19:22] medinatiger commented on #355
https://github.com/kubernetes/kube-deploy/pull/581 is under review

[2018-02-12 19:23] rsdcastro commented on #535
Assigned to @roberthbailey to help facilitate any remaining discussions and decisions on the API. This is also related to #530.

[2018-02-12 19:25] rsdcastro commented on #524
As supporting more providers is out of scope for alpha, moving it to beta.

[2018-02-12 20:00] rsdcastro commented on #567
This is very important, but it seems that it can be added as alpha without major changes to the system, so moving it to beta.

[2018-02-13 00:51] medinatiger commented on #407
/close

[2018-02-13 00:51] #407 closed, assigned to medinatiger

[2018-02-13 00:53] medinatiger commented on #355
merged.
/close

[2018-02-13 00:53] #355 closed, assigned to medinatiger

[2018-02-13 16:27] rsdcastro commented on #504
@mrincompetent gave more context on this change, which seems reasonable and something to be attempted for our alpha. For https://github.com/kubermatic/machine-controller to be added to kube-deploy, this would be a blocker.

Quoting @mrincompetent:

[code]

instead of:

[code]

[2018-02-13 20:03] krousey commented on #589
I don't think it is a good idea to split them. The current prototype of the machine controller depend on information from the cluster type. Splitting them could lead to a situation where we have the alpha or beta `machine.k8s.io` API depending on a pre-alpha cluster api. That was the original reasoning for combining them.

[2018-02-13 20:10] rsdcastro commented on #589
I added this to tomorrow's meeting agenda. There was initial consensus on the idea of splitting the groups last week, so let's discuss again to make a decision. cc @roberthbailey

[2018-02-14 00:56] rsdcastro commented on #596
https://github.com/kubernetes/kube-deploy/blob/master/cluster-api-gcp/cloud/google/templates.go#L159

There are parts that are GCP specific, but those piece of data could be passed into the script rather than having it query the metadata server.

[2018-02-14 15:41] rsdcastro opened #600 "Backup for cluster API objects (etcd database)"

[2018-02-14 15:43] rsdcastro opened #601 "Machine controller upgrade documentation"
This should consider the different architectures where the controller might be running.

[2018-02-14 16:06] #424 closed, assigned to nobody

[2018-02-14 18:35] rsdcastro opened #604 "Reconcile Cluster API Cloud Provider with the effort of moving Cloud Providers out of core K8s"
This issue is to track the discussion and whether or not those should be combined in some way.

cc @kris-nova @karan @roberthbailey

[2018-02-14 18:36] rsdcastro commented on #604
Given potential implications to providers, tagging as something to be done for alpha if possible.

[2018-02-14 18:40] krousey commented on #504
With `runtime.Object` for the internal version, would the provider config data have to represent a registered API type? If so, would this type have to be compiled in to the aggregated API server? Could we register it via CRD? And would this prevent us from moving the entire cluster API to CRDs in the future?

I would prefer to not have to recompile an API server for depending on my provider. It wo

[2018-02-14 19:27] mvladev commented on #504
@krousey I'll play around with `sample-apiserver` to test `runtime.Object` and `runtime.RawExtensions`

100% agree for not recompiling.

[2018-02-14 20:11] montyz commented on #287
This would be helpful for me also.

[2018-02-14 22:16] roberthbailey commented on #589
During the SIG WG meeting today we discussed why cluster + machines are in the same group. While they are not currently explicitly linked, they are implicitly linked. We should make the links explicit and support multiple clusters / namespace for alpha. Closing this issue as working as intended.

[2018-02-14 22:16] #589 closed, assigned to nobody

[2018-02-15 16:42] rsdcastro opened #608 "Document how to access extension API server in case of a disaster"
Clients should be accessing cluster API via the main K8s API server. In case of a disaster with the cluster, clients should be able to connect to the ext API server. This issue is to test and document what would be required for that to happen.

(see PR with architecture diagram below to help: https://github.com/kubernetes/kube-deploy/pull/603/files)

[2018-02-15 17:12] dgoodwin opened #609 "Establish a stronger link between Machine and Cluster."
On Feb 14 Cluster API working group call, a couple parties indicated we would like to make use of the ability to have multiple clusters to exist in one namespace, which would free up namespaces to be used for other levels of organization. (one customer, one cloud provider account, etc) In this case we would not be able to assume all machines or machine sets in a namespace belong to the single clus

[2018-02-15 17:14] dgoodwin commented on #609
FWIW, in our very young OpenShift Cluster Operator code we've been using owner references to do this. (machine to machine set to cluster)

[2018-02-15 18:11] #546 closed, assigned to rsdcastro

[2018-02-15 19:18] krousey opened #611 "Convert Ginkgo test to standard testing framework."
There are currently 3 test suites that use the [Ginkgo and Gomega](http://onsi.github.io/ginkgo/) framework. These tests were generated from the `apiserver-boot` tool.

Tests needing conversion:

[code]

[2018-02-15 19:21] krousey commented on #611
Just to add more details, `BeforeSuite`, `AfterSuite`, `BeforeEach`, and `AfterEach` can be eliminated by writing a test case that does setup and tear down, and running [subtests](https://blog.golang.org/subtests) from within that.

[2018-02-15 19:22] krousey commented on #611
cc @kcoronado

[2018-02-15 19:24] krousey commented on #611
/assign @krousey

[2018-02-15 19:43] krousey commented on #544
I updated the issue to indicate both priority and current status.

[2018-02-15 19:43] krousey commented on #544
Since the urgent ones are done and this is for the alpha milestone, I'm going to create some separate issues to encapsulate the rest of the work and close this one soon.

[2018-02-15 19:45] krousey opened #612 "Enable auto assigner for kube-deploy PR reviews"
Figure out what is needed to auto assign PRs to reviewers. This will help distribute the load and also spread the mind-share amongst interested community members.

[2018-02-15 19:50] krousey opened #613 "Run more automated checks on kube-deploy repo"
We should run the following checks on PRs and in CI:

- [ ] go vet
- [ ] gofmt
- [ ] verify vendor depencies are correct (this is partially accomplished by build today, but it'd be nice to have better messaging around this)
- [ ] code doesn't need to be regenerated (deepcopy, conversion, clients, ...)
- [ ] BUILD files don't have to be regenerated

[2018-02-15 19:50] krousey commented on #544
Split it out into 2 separate issues:

https://github.com/kubernetes/kube-deploy/issues/612 and https://github.com/kubernetes/kube-deploy/issues/613

[2018-02-15 19:50] #544 closed, assigned to krousey

[2018-02-16 01:10] krisnova commented on #612
We were talking about this on the community call today - @spiffxp had a really spiffy site where we could see all the bot configurations. I imagine this would be configured there.

[2018-02-16 12:15] vaibhavsingh97 commented on #613
Hi @krousey Can I take this issue? Any resources to fix this issue will be a great help :)

[2018-02-16 17:42] krousey commented on #613
@vaibhavsingh97 Sure! go vet and go fmt would be the easiest to start with, and they cover areas that aren't someone protected against by our current CI build and test.

I started a CI scripts directory here: https://github.com/kubernetes/kube-deploy/tree/master/scripts

Here are the PRs I submitted to turn on build and testing in CI and on PRs. Hopefully that will be instructive enough.

- https:

[2018-02-16 21:12] medinatiger commented on #591
Thanks the idea from @mrIncompetent
//import "k8s.io/client-go/util/cert/triple"
caKeyPair, err := triple.NewCA("root-ca.example.com")
if err != nil {
	return fmt.Errorf("failed to create root-ca: %v", err)
}

apiserverKeypair, err := triple.NewServerKeyPair(caKeyPair, "apiserver.example.com", "kubernetes", "default", "cluster.local", []string{"10.10.10.1"}, []string{"some-other-hostname"})
if err

[2018-02-17 03:13] #261 closed, assigned to nobody

[2018-02-17 03:13] #121 closed, assigned to justinsb

[2018-02-17 03:13] #259 closed, assigned to nobody

[2018-02-18 09:43] #257 closed, assigned to nobody

[2018-02-20 16:46] rsdcastro commented on #406
/cc @karan

It seems like a dupe of #550

/close

[2018-02-20 16:46] #406 closed, assigned to nobody

[2018-02-20 23:38] rsdcastro opened #619 "Cluster provisioning "succeeds" despite machine-controller failing to start"
Logs from cluster-api-gcp:

I0220 15:20:25.802792   19570 deploy_helper.go:68] Created master gce-master-test1
I0220 15:21:05.422987   19570 deploy_helper.go:241] Waiting for Kubernetes to come up...
I0220 15:21:13.538578   19570 deploy_helper.go:241] Waiting for Kubernetes to come up...
I0220 15:21:21.449076   19570 deploy_helper.go:241] Waiting for Kubernetes to come up...
I0220 15:21:29.529327

[2018-02-22 17:42] rsdcastro opened #621 "Define strategy on mapping OS images across cloud providers to the scripts that support that OS flavor + version"
- Scripts that install the required K8s on the machine should be made agnostic of cloud provider for reuse (#596)
- Users can specify an image, or if not specified, a default OS image is picked
- OS Images are composed of the flavor (Ubuntu, Debian, CentOS) and version
- Scripts for K8s installation can support one or more versions (and potentially similar flavors) and should be easily mapped to t

[2018-02-22 21:13] rsdcastro opened #623 "Define validation strategy for provider config"
As per comment in #405, "validation is another concern and independent of specifying the cloud provider in the top level object or in the provider specific config. We can't bake provider specific validation logic into the API. That needs to be pluggable somehow through a webhook, admission controller, or some other mechanism. But it's a much larger discussion."

This issue tracks methods we'll all

[2018-02-24 00:46] #611 closed, assigned to krousey

[2018-02-26 16:48] karan commented on #587
Interesting... Why is the image name hardcoded (and the provided `image` effectively ignored)? cc @jessicaochen

This might be relevant - GCE API does not provide the image being used. It provides the license which may or may not be the exact `image` string we use in providerConfig.

[2018-02-26 19:38] karan commented on #587
/assign kcoronado

[2018-02-26 19:40] karan commented on #587
Katie will work on this (since Kris sent this to her). I'm still catching up on the last 2 weeks worth of movements since I was OOO.

[2018-02-26 20:27] #571 closed, assigned to nobody

[2018-02-27 18:00] karan commented on #470
/assign karan

[2018-02-28 16:57] p0lyn0mial opened #625 "Define machines deletion policies."
The current implementation of `MachineSet` chooses the first machine from the list to delete. As this doesn't provide any guarantees of consistency regarding the order of the items. It is random. We would like to identify some strategies that would provide better approaches for deletion.

[2018-02-28 16:58] p0lyn0mial commented on #625
/cc @rsdcastro

[2018-02-28 20:52] rsdcastro opened #627 "Decide how fault/availability zones should be represented in Cluster API"
This issue tracks how fault zones (or availability zones) should be represented in the Cluster API. Should it be a top-level field? Should we be able to specify provider specific config for them (separately from the current provider config)? This is both related to master and nodes that might have some affinity to resources specific to that zone.

@krousey @maisem @justinsb

[2018-02-28 21:52] rsdcastro commented on #627
And while not explicit above, this could also have some pod scheduling implications that need to be considered.

[2018-02-28 22:16] jessicaochen commented on #627
Something to keep in mind is that fault zone concepts even exist on-prem on bare metal. For example, I would assume even if one owns a datacenter, one would want workloads to be spread across racks and across networking hardware etc. so that no one failure will take the whole workload out. However fault zones are represented, it would be good if it allows to express multiple types of fault zones t

[2018-02-28 23:29] karan commented on #470
I talked with @jessicaochen and @medinatiger and the summary is that there are no "common bits" in the ext-apiserver world. We are not intending to separate out the api definition out of the ext-apiserver. So users will need to vendor in the full repo, and only reference the bits they want to use.

If in the future, we want to separate out the api from the controller, we can revisit this issue and

[2018-02-28 23:30] #470 closed, assigned to karan

[2018-03-01 00:07] #587 closed, assigned to karan

[2018-03-01 10:09] mrIncompetent commented on #504
@mvladev any news here?

[2018-03-01 12:43] mvladev commented on #504
@mrIncompetent I'll post update in next couple of hours.

[2018-03-01 14:57] dirtbag opened #629 "where did the docker-multinode scripts go?"
I was trying to follow the instructions on
https://github.com/kubernetes/kubernetes/issues/42413
specifically, I was trying to use the
kube-deploy/docker-multinode/worker.sh
kube-deploy/docker-multinode/master.sh
scripts, to build me a shiny new kubernetes cluster more easily,
but cant find them in the current version of kube-deploy??

-db

[2018-03-01 16:49] karan opened #631 "Separate OWNERS for cloud/*"
In the external apiserver world, the provider-specific code that lives in `cloud/` is disjoint from the controller. As such, for reviews for any provider, it can be a bad experience to be blocked on development.

We should have separate OWNERS for the provider-specific code, so changes there don't (always) need cluster-api owners approvals.

[2018-03-01 17:01] karan commented on #631
From https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md

[2018-03-01 17:02] karan commented on #631
cc @kubernetes/sig-cluster-lifecycle-misc

[2018-03-01 17:06] rsdcastro commented on #631
cc @mrIncompetent @scheeles @p0lyn0mial

[2018-03-01 19:34] karan commented on #629
It was removed in https://github.com/kubernetes/kube-deploy/commit/46f61490410d20d89fc18d1ec5d99321f4258302

[2018-03-01 20:07] mvladev commented on #504
I've played around for a couple of hours with `runtime.Object` for the internal version and the following things are problematic:

- You have to write manual conversion for internal to external and via-versa:

[code]

- The embedded type must be know to the apiserver, otherwise the type is `runtime.Unknown`:

[code]

I would say, let's keep `runtime.RawExtensions` for both internal and external AP

[2018-03-01 21:10] rsdcastro opened #632 "Define health check strategy for MachineSet"
This is to track discussion and documentation on how health checking will be done for machines in a set.

[2018-03-01 21:11] rsdcastro commented on #632
cc @p0lyn0mial @mrIncompetent

[2018-03-01 21:24] dirtbag commented on #629
so was this functionality replaced by something else in kube-deploy?

[2018-03-01 22:43] karan commented on #629
Technically the new cluster API (and related tooling) is supposed to replace it. I'm not entirely sure how they'll be different from docker-multinode, but if you just want to spin up a cluster on GCP, you can check out https://github.com/kubernetes/kube-deploy/tree/master/ext-apiserver/gcp-deployer.

Can I ask what exactly you are trying to do?

[2018-03-02 13:39] dirtbag commented on #629
Im just trying to find a quick-easy way to spin up a kubernetes cluster with a master and a few worker nodes on some of my private Centos 7 servers. they are not in any "real" cloud like aws or google. Just my local servers running as VMs.

[2018-03-02 15:20] rsdcastro opened #633 "UX: consider renaming "cloud" param to something else"
Users select a "cloud" to determine which provider/actuator to use, but some (like Loodse's) can target multiple providers under the covers (like Digital Ocean, AWS). And in their case (see #405), the parameter in the provider specific config is "cloud". This issue is to track renaming the top-level param to select the provider/actuator to something else more general.

cc @karan @mrIncompetent

[2018-03-02 19:15] karan commented on #633
Excellent point. Perhaps we could call it something more *cough*mundane*cough* familiar like "module".

[2018-03-02 19:16] jhorwit2 commented on #627
@jessicaochen The scheduler spread predicate by default only takes into account `failure-domain.beta.kubernetes.io/region` and `failure-domain.beta.kubernetes.io/zone` so supporting more than that out of the box would require you to do custom stuff with affinity/anti-affinity on the pod itself. We use those two labels for our on-prem clusters as well.

That also matches the pattern other core reso

[2018-03-02 19:23] rsdcastro commented on #633
I like module. Pasted this issue on Slack looking for other ideas as well.

[2018-03-03 01:34] scheeles commented on #631
sgtm

[2018-03-03 04:38] scheeles commented on #629
You cloud use `kubeadm` for this https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm
if you need a HA-Master check this blog post https://medium.com/@bambash/ha-kubernetes-cluster-via-kubeadm-b2133360b198

[2018-03-03 12:25] alvaroaleman commented on #633
What about just `provider`?

[2018-03-03 14:22] dirtbag commented on #629
thanks! I will give that a try!

[2018-03-03 14:22] #629 closed, assigned to nobody

[2018-03-03 20:17] rsdcastro opened #634 "Support other docker versions and other container runtimes"
Currently only docker 1.12 is supported. This issue is to track defining supported runtimes and having those implemented in the cluster API. This can be scoped this to a specific OS flavor (Debian-based OSs) which is currently supported.

https://github.com/kubernetes/kube-deploy/blob/dfcdb553268d9f9ffcf0cdb23205bd7063ddf4a8/cluster-api-gcp/cloud/google/machineactuator.go#L644

[2018-03-03 20:22] rsdcastro opened #635 "Allow other CNI providers to be installed"
Currently CNI provider isn't specified in the API, and the GCP implementation has support for weavenet. This issue tracks API updates to support other CNI providers.

https://github.com/kubernetes/kube-deploy/blob/master/cluster-api/api/cluster/v1alpha1/types.go#L327

[2018-03-05 05:55] mrIncompetent commented on #635
Do we really want to have this in the API?
The User could deploy whatever CNI provider he wants via a Daemonset

[2018-03-05 06:13] mrIncompetent commented on #632
Could you explain a bit what "health checking" means in this case?
Is this about a definition about when and how to update `MachineSet.Status` ?

[2018-03-05 06:31] mrIncompetent commented on #621
Maybe [cloud-init](http://cloudinit.readthedocs.io/en/latest/) is an option?

[2018-03-05 15:03] rsdcastro commented on #635
For a fully functional cluster, we need to have a CNI provider installed, right? This is being done in the current GCP provider code and it's also in the kubeadm documentation.

My idea is that if we'll deliver a fully functional cluster to the cluster and will install a CNI provider as part of that, then we should allow the customer to specify a different one (as the hard-coded one might not work

[2018-03-05 17:23] rsdcastro commented on #632
The overall discussion would be similar to pod health checking:
- A mechanism to health check the machine from time to time to make sure it's up & and running well. This could mean that we utilize something specific to the infrastructure provider.
- When to determine that a machine is unhealthy, we could have defaults but allow the user to override those.

Once machines are unhealthy, status shoul

[2018-03-05 17:25] rsdcastro commented on #621
We should certainly look into cloud-init! Do you have any experience with it? How has it been?

[2018-03-05 17:35] mrIncompetent commented on #621
We're using it to bootstrap Ubuntu machines - So far its great.
Especially compared against using ssh to provision a node, which we used in https://github.com/kube-node/kube-machine.

For Container Linux though we use Ignition.

[2018-03-05 18:36] mrIncompetent commented on #621
Though one very important detail:
cloud-Init is more meant for a create/replace cycle, not in-place update

[2018-03-05 18:38] mrIncompetent commented on #632
I would propose that we rely on the `Machine.Status.NodeRef` & the node conditions in the first place.
The Node object already has health checking in place, if that's not enough for us, we might simply improve on that instead if creating a new way of health checking instances/nodes.

[2018-03-05 18:43] mrIncompetent commented on #635
Maybe something like an add-on manager might be suitable here?
@chrislovecnm I never actually had the time to play around with the Kops add-on manager, you see options implementing it here?

As i assume by now most/every CNI provider nowadays can be installed using a Daemonset.
Kubedns/coredns could be installed the same way.

[2018-03-05 19:59] karan commented on #633
I think "provider" could be conflated with a single cloud provider. For example we could have a terraformModule (or s/Module/something) that deploys to multiple "providers".

[2018-03-06 01:31] rsdcastro commented on #635
That is fair. CNI would be technically one of the "essential add-ons" that are needed to have a fully functional cluster. Some of the essential add-ons (kube-dns and kube-proxy) are installed by kubeadm, but the remaining (at least CNI provider) could be installed via cluster API.

We're starting to do work on what a long-term add-ons management solution would look like and even picked @justinsb's

[2018-03-06 01:41] rsdcastro commented on #632
I agree with the suggestion to build on node health. It might not be enough, though.

Quoting https://kubernetes.io/docs/concepts/architecture/nodes/:

I'd like to understand what "asks the cloud provider if the VM for that node is still available" means and how that could be related to our work.

In the case the node is unhealthy (unreachable), the schedule is smart to evict pods. That means also

[2018-03-06 01:45] rsdcastro commented on #621
I asked around, and I'd like to quote @pipejakob's notes at the time.

Main concern with cloud-init is that performance can be a big issue when bringing up new nodes (that would go into an opposite direction of making the startup as quickly as possible).

[2018-03-06 17:08] #562 closed, assigned to karan

[2018-03-06 17:29] karan opened #636 "Use the cluster name in cluster.yaml in admin.conf"
Currently the cluster config is created with cluster name as `kubernetes`. There is a cluster name in the `cluster.yaml` `metadata.name`. We should start using that name for the cluster so tools can be made to target any cluster in kubeconfig file.

[2018-03-06 17:36] karan commented on #636
cc @jessicaochen @rsdcastro - If no objections, I can start to look into this.

[2018-03-06 17:41] rsdcastro commented on #636
It does make sense to me.

[2018-03-06 17:54] karan commented on #636
Seems like the cluster name is hardcoded in kubeadm:

https://github.com/kubernetes/kubernetes/blob/999c2ae8716b76099b30da4cea973d0e2c737f77/cmd/kubeadm/app/phases/kubeconfig/kubeconfig.go#L191

There's been a PR to make it configurable, but it's been stale: https://github.com/kubernetes/kubernetes/pull/52470

[2018-03-06 17:57] rsdcastro commented on #636
Perhaps we can work on a new PR that focus on the cluster name to avoid the contention on the other point (user admins)?