[2018-03-06 18:09] jessicaochen commented on #636
I may be wrong but I think it is just the name in the kubeconfig file to reference the cluster. If you change the name in the kubeconfig file or set a new one with the name your want (https://kubernetes-v1-4.github.io/docs/user-guide/kubectl/kubectl_config_set-cluster/), you can still address the same cluster.

In that way, it really does not matter what kubeadm happens to dump as the cluster name

[2018-03-06 18:15] karan commented on #636
You are right @jessicaochen. I tried this with `s/kubernetes/testcluster` on my local kubeconfig file. I don't think we should be doing this in the final product, it's just hacky, and error prone. Instead the cluster name really just should be an option that kubeadm uses to save the original file.

[2018-03-06 18:19] jessicaochen commented on #636
I guess it depends on how important urgent this change is. Whether we want to wait for kubeadm to do it or we want an interim solution.

[2018-03-06 20:02] krousey opened #637 "Configurable installation for versions and OS image matrix"
Currently in the GCE actuator, we compile in a script template that installs Kubernetes on Ubuntu. If we have a bug, or need to change the startup logic slight, we have to recompile and redeploy the controller.

The GCE actuator (and perhaps others but right now let's just limit it to GCE), should have a structured config that can be read from file (and configmap) that can allow us to configure a

[2018-03-06 20:03] krousey commented on #637
cc @kcoronado

[2018-03-06 21:57] roberthbailey commented on #627
Strawman: Leave it inside the existing provider config for now. See if common patterns emerge that would cause us to promote it it a top level field.

Looking at GCP (should be the same for any cloud), you will already specify how you want machines spread across availability zones by putting the zone for each machine (or set) in the provider config. This works for masters just as well as workers.

[2018-03-06 22:04] krousey commented on #627
@roberthbailey Just to clarify your strawman, you're saying that if I want 12 nodes across 3 availability zones I should have 3 machine sets of count 4 with the proper zone in each template's provider config?

[2018-03-06 22:14] roberthbailey commented on #627
Yes. I think that way makes the most sense. I like having it explicitly in the machineset / deployment instead of having a hidden internal multiplier that you have to change indirectly by tweaking availability zones in the machine set.

[2018-03-06 22:18] karan commented on #636
/label cluster-api

[2018-03-07 09:28] mrIncompetent commented on #621
Don't we have the same problems with a simple shell script for provisioning?

I'm just not a fan of having to manage the whole ssh-provisioning code and would prefer a more declarative approach.

[2018-03-07 10:05] mvladev commented on #625
If I would manually remove one `Machine` from a set of machines I would use the order bellow to determine which to remove:

1. `Machine` needs to be preferably removed - marked with annotation or some other means by human / cluster autoscaler (down-sizing scenario) / other controller
1. Health of the `Machine` - *unhealthy* machines first
1. If all else fails: select one at random

[2018-03-07 16:55] karan commented on #636
As a prototype we could live with managing a single cluster (or doing something hacky), but at least for an alpha/MVP, a good approach is to support cluster names.

I've already sent them a [PR for it](https://github.com/kubernetes/kubernetes/pull/60852).

[2018-03-07 17:22] rsdcastro opened #638 "Allow disk size and type to be configured for GCP"

[2018-03-07 18:15] pipejakob commented on #621
I've been putting out feelers for [tbd](https://github.com/pipejakob/tbd/blob/master/README.md) for a while. It's still just a proposal for a tool that hasn't been written yet, but if I understand this issue, I believe it would make all of your init scripts OS/cloud independent (because it would absorb that functionality).

If this tool existed, 1) would you use it, and 2) would it single-handedly

[2018-03-07 18:33] roberthbailey commented on #504
As discussed in the cluster api meeting on March 7th, the plan forward is to change `providerConfig` from a string to a structured type with a single entry, e.g.

[code]

(exact naming tbd).

This will give us a place to put additional fields for the provider config in the future. A few reasons that we might want to do this are extracting common fields across providers (e.g. failure domains), maki

[2018-03-07 18:48] roberthbailey commented on #635
We will want to install kube-proxy and kube-dns as addons as well (the current kube-proxy mechanism is a bit of a hack) and CNI should fit into that model. In the mean time, I think it's ok to say that the provider can dictate the CNI provider installed into the cluster, and if we want to make it configurable we can do so inside of the provider config.

[2018-03-07 18:50] roberthbailey commented on #634
Supporting only docker seems ok for the alpha release. Supporting multiple versions declaratively would be nice, but given the trend of having the version of docker installed by mechanisms on the host OS (e.g. ubuntu comes with it's version of docker and COS comes with it's version) I'm not sure how strongly I care about adding support for this for alpha.

[2018-03-07 18:51] roberthbailey commented on #638
It would be great if we could just plumb through raw parameters such that as long as you put the name of a field in the GCP API it just passed through without us having to add code. Then we wouldn't need issues like this for every machine parameter that we might want to add in the future, but we could pull the ones that we think need some extra validation out into formal parameters as we need to.

[2018-03-07 18:53] roberthbailey commented on #621
@krousey

[2018-03-07 18:53] roberthbailey commented on #623
This seems to depend on https://github.com/kubernetes/kube-deploy/issues/504

[2018-03-07 18:54] roberthbailey commented on #612
This would be a great starter project if someone is looking to contribute.

[2018-03-07 18:55] roberthbailey commented on #604
What are the potential implications? Has there been a discussion about whether the efforts should be combined? Based on my knowledge of the cloud provider extraction, I think it's orthogonal to the cluster api development and we shouldn't tie ourselves to their timeline.

[2018-03-07 19:03] krousey commented on #621
I filed https://github.com/kubernetes/kube-deploy/issues/637 yesterday for at least GCE's side of things.

[2018-03-07 19:20] detiber commented on #633
Would there ever be a need to provide another type of module interface? If so module wouldn't module be too generic?

If we ever added support for additional infrastructure components other than individual machines, would they be separate modules or part of a larger module? If separate modules, then I would think we would want to be more specific with the naming like 'machine-provider'. Otherwise,

[2018-03-07 19:33] chrislovecnm commented on #635
Kinda concerned that we are wandering into addons land.  Are these addons? Maybe I am missing something but how is stuff like kube-dns part of the machine api?

If those those components are addons, which IMO is part of the installers responsibility. Eventually I hope we have an addon manager.

The only component that has to be installed is cni or kubenet, but I think that is the installer as well

[2018-03-07 21:26] karan commented on #633
I'm imagining a multi-cloud module here. If someone were to implement a terraformModule (bear with me on module here), then terraform already has a concept of providers - which they mean a singular cloud provider.

But, it is easy enough to confuse terraformProvider (that belongs to cluster API), and terraform providers (that hook up into terraform).

Like what? We already have machine sets, but I

[2018-03-07 21:49] detiber commented on #633
I'm just thinking of other types of automated infrastructure, such as DNS, Virtual Networking, Load Balancers, etc

[2018-03-07 23:37] kcoronado commented on #637
I came up with an example yaml file for the config. I'm not sure what to name the struct yet, though (InstallationConfig, SetupConfig?).

[code]
Using lists of versions in one instance will prevent the same startupScript from being copied and pasted multiple times in the file.

[2018-03-08 12:05] mvladev commented on #504
@roberthbailey I was thinking of mirroring the [EnvVar struct](https://github.com/kubernetes/kubernetes/blob/a0844c17bfb964e3d1709784203e8404f790116c/staging/src/k8s.io/api/core/v1/types.go#L1858-L1877):

[code]

@medinatiger If I'm not mistaken, we were going to remove the `cluster-api` directory, correct? In that case I should make changes only to https://github.com/kubernetes/kube-deploy/blob/e

[2018-03-08 14:21] p0lyn0mial opened #642 "MachineSet controller sets MachineSetStatus"
The current implementation of `MachineSet` controller doesn't set `MachineSetStatus` at all. This item tracks potential implementation.

For reference implementations see:

https://github.com/kubernetes/kubernetes/blob/a0844c17bfb964e3d1709784203e8404f790116c/pkg/controller/replicaset/replica_set_utils.go#L35:1

https://github.com/gardener/machine-controller-manager/blob/master/pkg/controller/mach

[2018-03-08 14:22] p0lyn0mial commented on #642
/cc @mvladev @rsdcastro

[2018-03-08 14:40] p0lyn0mial opened #643 "MachineSet controller listens for Machine resources."
The current implementation of `MachineSet` controller watches only the desired state of the cluster. This approach is not sufficient as there are other actors in the system that can easily change the current state (e.g. delete/add a `Machine`) of the cluster. Thus adding event handlers for `Machines` to our `MachineSet` along with appropriate handlers (requeue) seems to be valid approach.

See als

[2018-03-08 14:40] p0lyn0mial commented on #643
/cc @rsdcastro @mvladev

[2018-03-08 14:42] p0lyn0mial commented on #642
initial implementation was introduced in #620

[2018-03-08 17:25] roberthbailey commented on #504
@mvladev - sgtm

[2018-03-08 17:54] medinatiger commented on #504
@mvladev, that’s correct.

[2018-03-08 19:48] rsdcastro commented on #604
As you can see from the description, this is to track the discussion - there has not been any discussions yet, but we need to have those. If they are orthogonal and we all agree on that, it should be documented in this issue or a separate doc. @cheftako

The implication I had in mind is any API change that might come out of that, but I could see other implications - like using a separate provider

[2018-03-08 20:37] cheftako commented on #604
Also worth mentioning https://docs.google.com/document/d/1OZE-ub-v6B8y-GuaWejL-vU_f9jsjBbrim4LtTfxssw/edit#heading=h.w7i4ksrweimp which is main doc for the cloud provider working group.
Also https://github.com/kubernetes/community/blob/master/keps/0002-controller-manager.md is the relevant KEP.

[2018-03-08 23:29] jessicaochen commented on #637
I am for making things more configurable.

I do have some thoughts on the suggested yaml. A situation to consider: You can have the node version behind the master version but you cannot have a master version behind a node version.

Looking at the suggested configuration, it seems to imply that all the listed versions are cross compatible. Eg. we could have a 1.8.3 kubelet with a 1.8.2 control plan

[2018-03-09 01:24] kcoronado commented on #637
That's a good point. I wrote that with the assumption that the versions would be both cross compatible *and* able to use the same startup script.

Since they're not necessarily cross compatible, I could reuse the MachineVersionInfo struct here and make a list of valid combinations. That way each entry can still use the same startup script so it won't get duplicated in the file. Plus, that makes co

[2018-03-09 03:41] maisem opened #645 "Weave assigns conflicting IPs to Pods"
cc @medinatiger @jessicaochen @rsdcastro

Weave is assigning conflicting IPs to Pods and they also seem to be from different cidrs.
[code]

[code]

Repro steps:
[code]

[2018-03-09 13:49] mvladev commented on #504
@medinatiger great, thanks! Which version of the `apiserver-boot` have you used for the original generation? I've tried several different versions and the output of `apiserver-boot build generated` varies a lot.

[2018-03-12 14:36] rsdcastro commented on #645
Thank you @maisem!

This is a high priority bug that needs to be fixed.

[2018-03-15 05:33] krisnova opened #650 "Transition to new repository"
As a sig we decided that we wanted a new repository which can be found [here](https://github.com/kubernetes-sigs/clife_cluster-api)

_Also, we can [now rename the repository as we like](https://github.com/kubernetes-sigs/clife_cluster-api/issues/1)_.

For the new repository I would like to propose a migration of the following features:

# In Scope

### 1) The API definition

All components of the

[2018-03-15 17:16] krisnova commented on #650
CC @roberthbailey @detiber @krousey @rsdcastro @craigtracey

[2018-03-15 18:35] krousey commented on #650
I think I agree with the overall scope and am highly in favor of renaming the repo to drop the prefix.

If/once we can all agree, we should discuss specifics of admins and owners, high-level code organization, testing requirements, etc...

[2018-03-15 18:37] rsdcastro commented on #650
+1 to overall direction and renaming (either dropping prefix or make it more clear).

[2018-03-15 23:18] craigtracey commented on #650
I think this will make this project much more approachable for newcomers. Also 👍 on dropping the prefix.

[2018-03-16 01:45] roberthbailey commented on #650
Is there any benefit to putting the api definition into a separate repository from any code? Would doing so make it easier for other folks to vendor just the api to build client tooling on top of it? My reading of [Kubernetes Multi-Repo Ecosystem](https://docs.google.com/document/d/1kasUE4lEPkFMmyODjXdp1oJRDk06NtIccw5PPrYc7kY/edit) makes me think that this is the plan that the api machinery folks

[2018-03-16 07:59] tamalsaha commented on #650
This will be very helpful for those of us building controllers.

[2018-03-16 16:36] roberthbailey commented on #650
Presumably when building controllers you'd also want to vendor in some of the reusable code (the third item in "in scope" above) so that you don't have to write everything from scratch. I was thinking more about writing code that wants to use the cluster api as a client, e.g.

* iterate over all machines and extract properties
* iterate over MachineSets and update k8s versions (if you aren't using

[2018-03-16 16:37] roberthbailey commented on #650
So that we don't bikeshed for too long, a reasonable path forward would be to put everything into this repo for now and worry about splitting it up into smaller, more easily digestible chunks later when it's necessary. I'd be fine with that too as long as we leave that option open if having everything in one place makes life difficult for folks trying to use the cluster api.

[2018-03-18 07:35] roberthbailey opened #653 "Race condition deleting a machine on GCP"
I deleted a machine from the api, and it took a long time to disappear from the cluster (it was in a NotReady state for quite a while). I went and looked at the GCP Operation logs, and saw that the VM for the machine was being deleted and created repeatedly:

[code]

The gcloud output doesn't show it as well as the cloud console page (which shows the start and end time for each operation), but eac

[2018-03-18 18:00] roberthbailey opened #654 "gcp-deployer delete can strand VMs if you are using MachineSets"
If you create a MachineSet in your cluster and then run `./gcp-deployer delete`, the delete command will delete each machine and then tear down the cluster. If you have machines that are part of a Machineset, while the `gcp-deployer` is tearing down the machines, the MachineSet is making sure that they exist. The `gcp-deployer` then deletes the master, leaking VM resources after the cluster is del

[2018-03-19 03:50] roberthbailey commented on #504
@mvladev - I ran into the same question yesterday. It's the version listed in https://github.com/kubernetes/kube-deploy/blob/master/ext-apiserver/Gopkg.toml -- v0.1-alpha.27

[2018-03-19 15:40] krousey commented on #654
cc @k4leung4 expressed interest in fixing this. Assigning to me since he's not in the k8s org yet.

/assign @krousey

[2018-03-19 16:45] krisnova commented on #650
+1 to @roberthbailey's proposal of starting the migration now, and pulling chunks apart later when necessary. Should we bring up a migration plan on the next call? It seems relatively straight-forward we would just need to make sure we understand where the source of truth is.

[2018-03-19 20:41] roberthbailey commented on #504
FYI, I've renamed ext-apiserver -> cluster-api, so changes should now be made in the (new) cluster-api directory.

[2018-03-20 14:08] #504 closed, assigned to roberthbailey

[2018-03-28 17:52] krisnova commented on #650
After a discussion during the cluster API working group I wanted to propose that we do a 1:1 transition of the `cluster-api` directory in `kube-deploy` to the new repository.

Then (after the transition) we can cherry pick items out of the new repository.

This would change the proposal to say the following.

1) Migrate everything `as is`
2) Pull things out as needed

- [x] Decide on [our import p

[2018-04-01 01:03] #174 closed, assigned to justinsb

[2018-04-01 01:03] #288 closed, assigned to nobody

[2018-04-01 01:03] #293 closed, assigned to nobody

[2018-04-01 01:03] #294 closed, assigned to nobody

[2018-04-02 17:00] rsdcastro opened #661 "Allow CA and key to be provided on cluster creation"
Currently kubeadm init generates a self-signed certificate authority and key, which isn't a solution that suits all users.

This issue tracks allowing CA and key to be provided by the user.

[2018-04-02 17:30] rsdcastro opened #662 "Document network access required to run bootstrapping tool"
Customers need to understand what kind of ports/protocol access is required to use the bootstrapping tool.

cc @jessicaochen

[2018-04-03 17:21] medinatiger opened #663 "Controller reconciliation loop is serialized"
Machine controller reconciliation is serialized. We need to find a way to make operation in parallel.

[2018-04-05 15:24] rsdcastro opened #666 "Document plan on how API can support auto-scaling and other auto* features"
This issue tracks an evaluation of the API to make sure that it can support the use cases for auto-scaling and any other auto* features.

This issue should cover any API changes as well. Specific implementation changes should be tracked as separate issues.

cc @krousey @roberthbailey @mwielgus

[2018-04-06 13:50] rsdcastro commented on #666
cc @krzysztof-jastrzebski

[2018-04-09 23:27] rsdcastro commented on #638
/assign spew

[2018-04-09 23:27] rsdcastro commented on #638
/cc spew

[2018-04-10 15:29] k4leung4 commented on #653
This issue should have been fixed with PR, https://github.com/kubernetes/kube-deploy/pull/669

[2018-04-10 15:31] krousey commented on #653
/assign @k4leung4

[2018-04-10 15:31] krousey commented on #653
Thanks for fixing this!
/close

[2018-04-10 15:31] #653 closed, assigned to krousey

[2018-04-10 16:43] krousey opened #674 "Enable GCP provider specific logic in the Kubernetes API."
The Google provider implementation installs Kubernetes without any GCP cloud provider code enabled. This code is needed to enable several key features:

  - Loadbalancing
  - Persistent Volumes
  - Ingresses
  - GCP routes for container networking (no need for CNI)

This largely is making sure the correct flags are specified on the existing k8s components and also installing additional controllers

[2018-04-10 16:49] rsdcastro commented on #674
/cc @mkjelland

[2018-04-10 16:49] mkjelland commented on #674
I'll take a look!

[2018-04-10 16:50] krousey commented on #674
self-assigning for now since @mkjelland isn't part of the k8s org.

/assign @krousey

[2018-04-10 16:52] rsdcastro commented on #638
/cc @spew
/assign @rsdcastro

Self-assigning as Rob (@spew) isn't in the K8s org yet.

[2018-04-10 17:29] craigtracey opened #675 "cluster-api top-level Makefile currently broken"
The top-level Makefile for generating code is currently broken. It assumes that apiregister-gen and conversion-gen are in `$GOPATH`. Fix this so that generation can happen cleanly and with generation tools at the appropriate tags.

[2018-04-10 17:32] krousey commented on #675
/assign @craigtracey

[2018-04-10 17:33] krousey commented on #675
I assume you going to use a docker image to fix this? If so, can you create one with the apiserver-builder release and use that tool as it wraps all the generation tools we'll need?

[2018-04-10 19:46] rsdcastro commented on #674
/cc @kawych

[2018-04-10 20:11] rsdcastro commented on #666
/cc @krzysztof-jastrzebski

[2018-04-10 20:47] karan commented on #633
Interesting. I'm not sure if the API would need to care about those resources.

I'll cc @kubernetes/sig-cluster-lifecycle-misc for further discussion / decision.

[2018-04-11 15:13] rsdcastro commented on #638
Let's scope this bug to disk params for now, and track plumbing the raw parameters (which is a more general solution) as a separate issue.

[2018-04-11 18:32] karan commented on #650
I suggest step 3 (after choosing a commit) be notifications - email the sig in advance of how the migration will happen and how it can impact devs (broken git refs etc).

[2018-04-11 22:06] wangzhen127 opened #680 "service account kube-system/default not found when creating cluster"
I was playing gcp-deployer and following the instructions [README](https://github.com/wangzhen127/kube-deploy/blob/master/cluster-api/gcp-deployer/README.md) and [CONTRIBUTING](https://github.com/wangzhen127/kube-deploy/blob/master/cluster-api/gcp-deployer/CONTRIBUTING.md) pages. I encountered errors about creating service account kube-system/default when creating the cluster.

Here are the error

[2018-04-11 22:09] wangzhen127 commented on #680
@karan

[2018-04-11 22:32] rsdcastro commented on #680
@spew

[2018-04-11 22:32] spew commented on #680
Attempting to figure out why this is happening.

[2018-04-12 13:48] spew commented on #680
hello @wangzhen127  it appears that the issue for me, is that the controller-manager service is not able to start because it can't access the cluster API. The reason why it can't access the API is it is going against the external IP endpoint insteaad of the internal IP endpoint.

I was able to get past this issue by going into the Google Cloud VPC network console and creating a firewall rule that

[2018-04-12 16:35] rsdcastro commented on #635
Kamino closed and cloned this issue to kubernetes-sigs/cluster-api

[2018-04-12 16:38] rsdcastro commented on #635
This issue was moved to kubernetes-sigs/cluster-api#8

[2018-04-12 16:38] #635 closed, assigned to nobody

[2018-04-12 16:39] wangzhen127 commented on #680
Thanks! The problem is now solved.

[2018-04-12 16:39] #680 closed, assigned to nobody

[2018-04-12 16:41] rsdcastro commented on #349
This issue was moved to kubernetes-sigs/cluster-api#9

[2018-04-12 16:42] #349 closed, assigned to nobody

[2018-04-12 16:42] rsdcastro commented on #472
This issue was moved to kubernetes-sigs/cluster-api#10

[2018-04-12 16:42] #472 closed, assigned to nobody

[2018-04-12 16:43] rsdcastro commented on #476
This is currently unassigned.

[2018-04-12 16:43] rsdcastro commented on #476
This issue was moved to kubernetes-sigs/cluster-api#11

[2018-04-12 16:43] #476 closed, assigned to nobody

[2018-04-12 16:44] rsdcastro commented on #390
This issue was moved to kubernetes-sigs/cluster-api#12

[2018-04-12 16:44] #390 closed, assigned to nobody

[2018-04-12 16:44] rsdcastro commented on #471
This issue was moved to kubernetes-sigs/cluster-api#13

[2018-04-12 16:44] #471 closed, assigned to nobody

[2018-04-12 16:45] rsdcastro commented on #503
This issue was moved to kubernetes-sigs/cluster-api#14

[2018-04-12 16:45] #503 closed, assigned to nobody

[2018-04-12 16:46] rsdcastro commented on #518
This issue was moved to kubernetes-sigs/cluster-api#15

[2018-04-12 16:46] #518 closed, assigned to nobody

[2018-04-12 16:46] rsdcastro commented on #522
This issue was moved to kubernetes-sigs/cluster-api#16

[2018-04-12 16:46] #522 closed, assigned to nobody

[2018-04-12 16:47] rsdcastro commented on #524
This issue was moved to kubernetes-sigs/cluster-api#17

[2018-04-12 16:47] #524 closed, assigned to nobody

[2018-04-12 16:47] rsdcastro commented on #525
This issue was moved to kubernetes-sigs/cluster-api#18

[2018-04-12 16:47] #525 closed, assigned to nobody

[2018-04-12 16:48] rsdcastro commented on #526
This issue was moved to kubernetes-sigs/cluster-api#19

[2018-04-12 16:48] #526 closed, assigned to nobody

[2018-04-12 16:48] rsdcastro commented on #527
This issue was moved to kubernetes-sigs/cluster-api#20

[2018-04-12 16:48] #527 closed, assigned to nobody

[2018-04-12 16:49] rsdcastro commented on #528
This issue was moved to kubernetes-sigs/cluster-api#21

[2018-04-12 16:49] #528 closed, assigned to nobody

[2018-04-12 16:49] rsdcastro commented on #529
This issue was moved to kubernetes-sigs/cluster-api#22

[2018-04-12 16:49] #529 closed, assigned to nobody

[2018-04-12 16:49] rsdcastro commented on #530
This issue was moved to kubernetes-sigs/cluster-api#23

[2018-04-12 16:49] #530 closed, assigned to nobody

[2018-04-12 16:49] rsdcastro commented on #531
This issue was moved to kubernetes-sigs/cluster-api#24

[2018-04-12 16:49] #531 closed, assigned to nobody

[2018-04-12 16:50] rsdcastro commented on #533
This issue was moved to kubernetes-sigs/cluster-api#25

[2018-04-12 16:50] #533 closed, assigned to nobody

[2018-04-12 16:51] rsdcastro commented on #535
This issue was moved to kubernetes-sigs/cluster-api#26

[2018-04-12 16:51] #535 closed, assigned to roberthbailey

[2018-04-12 16:51] rsdcastro commented on #536
This issue was moved to kubernetes-sigs/cluster-api#27

[2018-04-12 16:51] #536 closed, assigned to nobody

[2018-04-12 16:51] rsdcastro commented on #537
This issue was moved to kubernetes-sigs/cluster-api#28

[2018-04-12 16:51] #537 closed, assigned to nobody

[2018-04-12 16:51] rsdcastro commented on #538
This issue was moved to kubernetes-sigs/cluster-api#29

[2018-04-12 16:51] #538 closed, assigned to nobody

[2018-04-12 16:51] rsdcastro commented on #539
This issue was moved to kubernetes-sigs/cluster-api#30

[2018-04-12 16:51] #539 closed, assigned to nobody

[2018-04-12 16:52] rsdcastro commented on #540
This issue was moved to kubernetes-sigs/cluster-api#31

[2018-04-12 16:52] #540 closed, assigned to nobody

[2018-04-12 16:52] rsdcastro commented on #545
This issue was moved to kubernetes-sigs/cluster-api#32

[2018-04-12 16:52] #545 closed, assigned to nobody

[2018-04-12 16:53] rsdcastro commented on #547
This issue was moved to kubernetes-sigs/cluster-api#33

[2018-04-12 16:53] #547 closed, assigned to nobody

[2018-04-12 20:58] rsdcastro commented on #543
This issue was moved to kubernetes-sigs/cluster-api#34

[2018-04-12 20:58] #543 closed, assigned to nobody

[2018-04-12 20:59] rsdcastro commented on #576
This issue was moved to kubernetes-sigs/cluster-api#35

[2018-04-12 20:59] #576 closed, assigned to nobody

[2018-04-12 21:00] rsdcastro commented on #591
This issue was moved to kubernetes-sigs/cluster-api#36

[2018-04-12 21:00] #591 closed, assigned to nobody

[2018-04-12 21:00] rsdcastro commented on #600
This issue was moved to kubernetes-sigs/cluster-api#37

[2018-04-12 21:00] #600 closed, assigned to nobody

[2018-04-12 21:00] rsdcastro commented on #601
This issue was moved to kubernetes-sigs/cluster-api#38

[2018-04-12 21:00] #601 closed, assigned to nobody

[2018-04-12 21:01] rsdcastro commented on #604
This issue was moved to kubernetes-sigs/cluster-api#39

[2018-04-12 21:01] #604 closed, assigned to nobody

[2018-04-12 21:03] rsdcastro commented on #609
This issue was moved to kubernetes-sigs/cluster-api#41

[2018-04-12 21:03] #609 closed, assigned to nobody

[2018-04-12 21:03] rsdcastro commented on #608
This issue was moved to kubernetes-sigs/cluster-api#42

[2018-04-12 21:04] #608 closed, assigned to nobody

[2018-04-12 21:04] rsdcastro commented on #613
This issue was moved to kubernetes-sigs/cluster-api#43

[2018-04-12 21:04] #613 closed, assigned to nobody

[2018-04-12 21:05] rsdcastro commented on #623
This issue was moved to kubernetes-sigs/cluster-api#44

[2018-04-12 21:05] #623 closed, assigned to nobody

[2018-04-12 21:05] rsdcastro commented on #625
This issue was moved to kubernetes-sigs/cluster-api#45

[2018-04-12 21:05] #625 closed, assigned to nobody

[2018-04-12 21:06] rsdcastro commented on #627
This issue was moved to kubernetes-sigs/cluster-api#46

[2018-04-12 21:06] #627 closed, assigned to nobody

[2018-04-12 21:06] rsdcastro commented on #632
This issue was moved to kubernetes-sigs/cluster-api#47

[2018-04-12 21:06] #632 closed, assigned to nobody

[2018-04-12 21:07] rsdcastro commented on #633
This issue was moved to kubernetes-sigs/cluster-api#48

[2018-04-12 21:07] #633 closed, assigned to nobody

[2018-04-12 21:07] rsdcastro commented on #636
This issue was moved to kubernetes-sigs/cluster-api#49

[2018-04-12 21:07] #636 closed, assigned to nobody

[2018-04-12 21:09] rsdcastro commented on #666
This issue was moved to kubernetes-sigs/cluster-api#50

[2018-04-12 21:09] #666 closed, assigned to nobody

[2018-04-12 21:10] rsdcastro commented on #662
This issue was moved to kubernetes-sigs/cluster-api#51

[2018-04-12 21:10] #662 closed, assigned to nobody

[2018-04-12 21:10] rsdcastro commented on #661
This issue was moved to kubernetes-sigs/cluster-api#52

[2018-04-12 21:10] #661 closed, assigned to nobody

[2018-04-12 21:11] rsdcastro commented on #643
This issue was moved to kubernetes-sigs/cluster-api#53

[2018-04-12 21:11] #643 closed, assigned to nobody

[2018-04-12 21:11] rsdcastro commented on #642
This issue was moved to kubernetes-sigs/cluster-api#54

[2018-04-12 21:11] #642 closed, assigned to nobody

[2018-04-12 21:14] rsdcastro commented on #593
Turning this into a GCP specific issue, as there's no current infrastructure or plans to have a more general Ubuntu support that works across providers.

[2018-04-12 21:15] rsdcastro commented on #593
/cc @mkjelland @krousey @kcoronado

Let's track having a production ready Ubuntu support here via the config map work being done.

[2018-04-12 21:16] rsdcastro commented on #594
Turning this into a GCP specific issue, as there's no current infrastructure or plans to have a more general Ubuntu support that works across providers.

cc @mkjelland @krousey @kcoronado

[2018-04-12 21:18] rsdcastro commented on #595
Turning this into a GCP specific issue, as there's no current infrastructure or plans to have a more general Ubuntu support that works across providers.

cc @mkjelland @krousey @kcoronado

[2018-04-12 21:19] rsdcastro commented on #621
Closing this and keeping only GCE issue for now.

[2018-04-12 21:19] #621 closed, assigned to nobody

[2018-04-12 21:20] rsdcastro commented on #596
Keeping as GCP specific issue for now. If this becomes more general, we should file separate issues in the new kubernetes-sigs/cluster-api repo.

[2018-04-12 21:21] rsdcastro commented on #542
This issue was moved to kubernetes-sigs/cluster-api#55

[2018-04-12 21:21] #542 closed, assigned to nobody

[2018-04-12 21:49] medinatiger commented on #469
@scotch-bonnet , did you get a chance to make progress on this issue? If not, I might have a try

[2018-04-13 08:56] scotch-bonnet commented on #469
No progress, feel free to take it over.

[2018-04-13 15:36] rsdcastro commented on #469
This issue was moved to kubernetes-sigs/cluster-api#56

[2018-04-13 15:36] #469 closed, assigned to nobody

[2018-04-13 15:44] rsdcastro commented on #548
This issue was moved to kubernetes-sigs/cluster-api#57

[2018-04-13 15:44] #548 closed, assigned to karan

[2018-04-13 15:47] rsdcastro commented on #675
This is one of the last issues to move to the new repo. Is this in progress and will be possibly closed soon? Would it be OK to go ahead and move it to kubernetes-sigs/cluster-api?

[2018-04-13 15:48] rsdcastro commented on #619
This issue was moved to kubernetes-sigs/cluster-api#58

[2018-04-13 15:48] #619 closed, assigned to nobody

[2018-04-13 15:49] craigtracey commented on #675
Yes, I am happy to rebase my changes against the new repo. I think I will have this addressed today.

[2018-04-13 15:50] rsdcastro commented on #541
This issue was moved to kubernetes-sigs/cluster-api#59

[2018-04-13 15:50] #541 closed, assigned to nobody

[2018-04-13 15:52] rsdcastro commented on #532
IMO this reconciler would NOT be, for the most part, specific to any provider but something that is generic. For that reason, marking it as cluster-api.

[2018-04-13 15:52] rsdcastro commented on #532
This issue was moved to kubernetes-sigs/cluster-api#60

[2018-04-13 15:52] #532 closed, assigned to nobody

[2018-04-13 15:54] rsdcastro commented on #521
Like bootstrapping, my thought is that most of this logic is generic and not specific to a single provider. Tracking generic bits here and moving issue over to cluster-api.

[2018-04-13 15:54] rsdcastro commented on #521
This issue was moved to kubernetes-sigs/cluster-api#61

[2018-04-13 15:54] #521 closed, assigned to nobody

[2018-04-13 15:55] rsdcastro commented on #520
I believe this issue is not specific to GCP but the common machine controller code, so marking it as such.

[2018-04-13 15:55] rsdcastro commented on #520
This issue was moved to kubernetes-sigs/cluster-api#62

[2018-04-13 15:55] #520 closed, assigned to nobody

[2018-04-13 15:57] rsdcastro commented on #516
Considering this as a general story for any provider controller that uses the common controller code, so marking as cluster-api.

[2018-04-13 15:57] rsdcastro commented on #516
This issue was moved to kubernetes-sigs/cluster-api#63

[2018-04-13 15:57] #516 closed, assigned to nobody

[2018-04-13 15:58] rsdcastro commented on #592
This issue was moved to kubernetes-sigs/cluster-api#64

[2018-04-13 15:58] #592 closed, assigned to nobody

[2018-04-13 15:59] rsdcastro commented on #579
Since this is about the general delete command in the CLI, this should not be specific to GCP and marking it as such.

[2018-04-13 15:59] rsdcastro commented on #579
This issue was moved to kubernetes-sigs/cluster-api#65

[2018-04-13 15:59] #579 closed, assigned to nobody

[2018-04-13 16:01] rsdcastro commented on #675
Assuming the code migration is happening very soon (cc @kris-nova @krousey), I'll go ahead and move this issue.

[2018-04-13 16:04] rsdcastro commented on #675
This issue was moved to kubernetes-sigs/cluster-api#66

[2018-04-13 16:04] #675 closed, assigned to craigtracey

[2018-04-13 16:07] rsdcastro commented on #468
This has already been done by @medinatiger

/close

[2018-04-13 16:08] #468 closed, assigned to rsdcastro

[2018-04-13 16:09] rsdcastro commented on #523
This is about the more general bootstrapping logic rather than something specific to GCP, so marking it as such.

[2018-04-13 16:09] rsdcastro commented on #523
This issue was moved to kubernetes-sigs/cluster-api#67

[2018-04-13 16:09] #523 closed, assigned to nobody

[2018-04-13 16:35] rsdcastro commented on #565
This seems to have been fixed by @medinatiger, so closing it.

/close

[2018-04-13 16:35] #565 closed, assigned to rsdcastro

[2018-04-13 20:54] rsdcastro commented on #612
/assign rsdcastro

[2018-04-13 20:55] rsdcastro commented on #612
/assign @rsdcastro

[2018-04-13 21:28] #612 closed, assigned to rsdcastro

[2018-04-13 21:32] rsdcastro commented on #612
Reviews are being auto-requested correctly now. See sample PR:
https://github.com/kubernetes/kube-deploy/pull/685

[2018-04-14 01:45] rsdcastro opened #686 "GCP: support VM images that come with container runtime pre-installed"
VM images provided by users might have the container runtime. This issue tracks verifying if the container runtime is already pre-installed and matches the version specified by the user.

[2018-04-14 01:46] rsdcastro opened #687 "VMware: support VM images that come with container runtime pre-installed"
VM images provided by users might have the container runtime. This issue tracks verifying if the container runtime is already pre-installed and matches the version specified by the user.

[2018-04-14 21:23] spew commented on #638
Actively working on this one.

[2018-04-15 21:22] #287 closed, assigned to nobody

[2018-04-16 16:08] krousey commented on #645
@kcoronado is working on fixing this. I believe it's a follow up to the configuration work she already has out. Assigning to myself to track since she's not in the k8s org.

/assign @krousey

[2018-04-16 20:59] krousey commented on #650
The new repo is up... automation still needs to be turned on. All existing PRs should be blocked and migrated over.

[2018-04-16 21:47] krousey commented on #686
cc @kcoronado

[2018-04-17 17:03] spew commented on #638
PR request open in the new repo: https://github.com/kubernetes-sigs/cluster-api/pull/77

[2018-04-17 17:50] krousey commented on #650
The automation is now turned on and working.

[2018-04-17 18:43] rsdcastro commented on #687
This issue was moved to kubernetes-sigs/cluster-api#79

[2018-04-17 18:43] #687 closed, assigned to nobody

[2018-04-17 18:44] rsdcastro commented on #686
This issue was moved to kubernetes-sigs/cluster-api#80

[2018-04-17 18:44] #686 closed, assigned to nobody

[2018-04-17 18:44] rsdcastro commented on #674
This issue was moved to kubernetes-sigs/cluster-api#81

[2018-04-17 18:44] #674 closed, assigned to krousey

[2018-04-17 18:45] rsdcastro commented on #654
This issue was moved to kubernetes-sigs/cluster-api#82

[2018-04-17 18:45] #654 closed, assigned to krousey

[2018-04-17 18:45] rsdcastro commented on #645
This issue was moved to kubernetes-sigs/cluster-api#83

[2018-04-17 18:45] #645 closed, assigned to krousey

[2018-04-17 18:47] rsdcastro commented on #638
This issue was moved to kubernetes-sigs/cluster-api#84

[2018-04-17 18:47] #638 closed, assigned to rsdcastro

[2018-04-17 18:47] rsdcastro commented on #637
This issue was moved to kubernetes-sigs/cluster-api#85

[2018-04-17 18:47] #637 closed, assigned to krousey

[2018-04-17 18:48] rsdcastro commented on #634
This issue was moved to kubernetes-sigs/cluster-api#86

[2018-04-17 18:48] #634 closed, assigned to nobody

[2018-04-17 18:48] rsdcastro commented on #596
This issue was moved to kubernetes-sigs/cluster-api#87

[2018-04-17 18:48] #596 closed, assigned to nobody

[2018-04-17 18:49] rsdcastro commented on #595
This issue was moved to kubernetes-sigs/cluster-api#88

[2018-04-17 18:49] #595 closed, assigned to nobody

[2018-04-17 18:49] rsdcastro commented on #594
This issue was moved to kubernetes-sigs/cluster-api#89

[2018-04-17 18:49] #594 closed, assigned to nobody

[2018-04-17 18:49] rsdcastro commented on #593
This issue was moved to kubernetes-sigs/cluster-api#90

[2018-04-17 18:49] #593 closed, assigned to nobody

[2018-04-17 18:49] rsdcastro commented on #573
This issue was moved to kubernetes-sigs/cluster-api#91

[2018-04-17 18:49] #573 closed, assigned to nobody

[2018-04-17 18:50] rsdcastro commented on #567
This issue was moved to kubernetes-sigs/cluster-api#92

[2018-04-17 18:50] #567 closed, assigned to nobody

[2018-04-17 18:50] rsdcastro commented on #564
This issue was moved to kubernetes-sigs/cluster-api#93

[2018-04-17 18:50] #564 closed, assigned to nobody

[2018-04-17 18:50] rsdcastro commented on #554
This issue was moved to kubernetes-sigs/cluster-api#94

[2018-04-17 18:50] #554 closed, assigned to karan

[2018-04-17 18:51] rsdcastro commented on #534
This issue was moved to kubernetes-sigs/cluster-api#95

[2018-04-17 18:51] #534 closed, assigned to nobody

[2018-04-17 18:52] rsdcastro commented on #515
This issue was moved to kubernetes-sigs/cluster-api#96

[2018-04-17 18:52] #515 closed, assigned to nobody

[2018-04-17 18:52] rsdcastro commented on #514
This issue was moved to kubernetes-sigs/cluster-api#97

[2018-04-17 18:52] #514 closed, assigned to nobody

[2018-04-17 18:53] rsdcastro commented on #483
This issue was moved to kubernetes-sigs/cluster-api#98

[2018-04-17 18:53] #483 closed, assigned to nobody

[2018-04-17 18:53] rsdcastro commented on #482
This issue was moved to kubernetes-sigs/cluster-api#99

[2018-04-17 18:53] #482 closed, assigned to karan

[2018-04-17 18:54] rsdcastro commented on #631
This issue was moved to kubernetes-sigs/cluster-api#100

[2018-04-17 18:54] #631 closed, assigned to nobody

[2018-04-17 18:55] rsdcastro commented on #663
This issue was moved to kubernetes-sigs/cluster-api#101

[2018-04-17 18:55] #663 closed, assigned to medinatiger

[2018-04-18 17:44] karan opened #689 "New tool name voting."
There seems to be confusion on the name for the sig-sponsored installation tool proposed last week.
 We'll do a formal vote here.

Each comment in this issue will be a candidate (please add yours), and by **EOD 04/23 PST**, the candidate with the most number of emoji responses will win.

1. There's no negative votes (thumbs down is still a positive vote)
2. Since GH allows multiple emojis per user

[2018-04-18 17:45] karan commented on #689
kuddle

[2018-04-18 17:45] karan commented on #689
kluster

[2018-04-18 17:45] karan commented on #689
klusterctl

[2018-04-18 17:45] karan commented on #689
clusterctl

[2018-04-18 17:45] karan commented on #689
krag

[2018-04-18 17:45] karan commented on #689
kubera

[2018-04-18 17:56] rdodev commented on #689
Pardon the question (complete outsider, with limited context here) but wouldn't something like an add-on to kubectl like `kubectl cluster --this --that` work?

[2018-04-18 18:00] duglin commented on #689
Some people call "kubectl" by the cute name "kuddle" sometimes (even though they're wrong! :-) ), using that name will only add to the confusion IMO.

[2018-04-18 18:01] duglin commented on #689
+1 to `kubectl cluster` The proliferation of k8s exes is something we need to limit.

[2018-04-18 18:03] karan commented on #689
@rdodev This was brought up and discussed a little last week in the meeting. I did look into kubectl plugins a little and

1. Setting it up seems way more complex than just pulling a binary and dropping it in your PATH.
2. The OSS tool will be making use of kubectl as well. Self-calls from the plugin seems counter-intuitive and prone to many unanticipated errors.

[2018-04-18 18:19] medinatiger commented on #689
for #2, it's purely a short cut to call kubectl inside new tool. Ideally, we should use client library to write code to achieve the same effect

[2018-04-18 18:22] wwsean08 commented on #689
komposite

[2018-04-18 18:23] rothgar commented on #689
konjure

[2018-04-18 18:24] rothgar commented on #689
konstruct

[2018-04-18 18:26] miadabrin commented on #689
Kutes

[2018-04-18 18:27] miadabrin commented on #689
kuby

[2018-04-18 18:40] krisnova commented on #689
klstr

[2018-04-18 18:42] krousey commented on #689
kris

[2018-04-18 19:39] mrbobfrog commented on #689
clister

[2018-04-18 22:00] donaldguy commented on #689
to provide a backronym justification for kris:
kubernetes requisitioning and initialization system

(or just "resource initialization" / "resource information" system)

[2018-04-18 22:16] StabbyCutyou commented on #689
shanksy

[2018-04-18 23:36] tvinhas commented on #689
kde

[2018-04-19 03:24] detiber commented on #689
Just because I saw this mentioned somewhere else:

kuddlectl

[2018-04-19 09:49] DylanGraham commented on #689
krisctl

[2018-04-21 11:18] mobeus1 commented on #689
klocutus : )

[2018-04-24 16:01] karan commented on #689
Ok I guess `clusterctl` it is!

[2018-04-24 16:01] #689 closed, assigned to nobody

[2018-05-01 17:16] kawych opened #692 "gcp-deployer doesn't work with newer Kubernetes versions"
I've tried `./gcp-deployer create -c cluster.yaml -m machines.yaml` with versions 1.9.6 and 1.10.2 (for both Kubelet and control plane). Output from deployer:
[code]
My machines.yaml file:
[code]

cc @karan

[2018-05-01 17:48] karan commented on #692
Are you building gcp-deployer from HEAD?

[2018-05-01 17:48] karan commented on #692
cc @kubernetes/sig-cluster-lifecycle-bugs

[2018-05-01 17:55] kawych commented on #692
Yes, I'm synced to commit 5d7e0ecaec541c561f6e18cb4500c11554cfa406.

[2018-05-01 18:01] medinatiger commented on #692
Have you tried older 1.8 version? Just want to make sure it's not broken for some other reason.

[2018-05-01 18:04] kawych commented on #692
I've tried 1.8.3 (default) as well and it worked for me. Didn't try any other.

[2018-05-01 18:33] krousey commented on #692
@kawych This is a known bug, and was fixed in the new repo. We moved to github.com/kubernetes-sigs/cluster-api. There's a pending item to delete the cluster API from this repo.

[2018-05-01 18:33] #692 closed, assigned to nobody

[2018-05-09 12:26] m1093782566 opened #693 "Cloud Provider implementation for Huawei Cloud"
/cc @rsdcastro @kevin-wangzefeng

[2018-05-09 17:58] rsdcastro commented on #693
Thanks for filing the tracking issue. Can you please open the issue at http://sigs.k8s.io/cluster-api, though? This is the new repo where we are tracking the issues.

[2018-05-10 01:42] m1093782566 commented on #693
Sounds fair. Thanks @rsdcastro

[2018-05-10 01:42] #693 closed, assigned to nobody

[2018-05-15 21:27] ichekrygin opened #696 "GCE: ControlPlane Update Fails"
## Steps to repro:

- create `gce` cluster using [CONTRIBUTING.md](https://github.com/kubernetes/kube-deploy/blob/master/cluster-api/gcp-deployer/CONTRIBUTING.md)
- observe cluster crated
[code]
- update controlPlane version `v1.8.3`->`v1.8.8.` and apply changes
- confirm changes
[code]
## Expectation
`gce-master-cluster-api-test` control plane is updated to `v1.8.8`

## Actual Results
`gce-master

[2018-05-15 21:43] ichekrygin commented on #696
Wrong GitHub Repo. Closing.

[2018-05-15 21:43] #696 closed, assigned to nobody

[2018-05-24 14:35] jessfraz opened #697 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-07-07 09:44] #479 closed, assigned to nobody

[2018-07-16 19:36] roberthbailey commented on #650
We've been up and running in the new repo for some time now (and not doing backlog grooming here any longer).

/close

[2018-07-16 19:36] #650 closed, assigned to nobody

[2018-07-16 21:09] #697 closed, assigned to nobody

[2018-10-29 13:52] hakrayyanar commented on #220
Unable to get the external IP address
[root@************* ~]# kubectl expose deployment  hello-world-01 --name=loadbalancer --port=2181 --target-port=2181 --type=LoadBalancer
[root@ip-********** ~]# kubectl get svc
NAME              TYPE           CLUSTER-IP       EXTERNAL-IP   PORT(S)          AGE
example-service   NodePort       10.109.150.248   <none>        2181:30595/TCP   56m
kubernetes

[2018-11-01 18:39] azman0101 opened #715 "SSH key error"
I'm trying to build a custom KOPS AMI with imagebuild but the command issue an error `error parsing SSH private key: ssh: unhandled key type`

I've tried with 2048 and 4096 RSA key:

[code]

However, AWS doesn't support ED25519 but when
[code]

Is this imagebuild vendor that needs to be updated ?

Although the command fail, the EC2 is launched and I'm able to open an ssh session to the machine.

[2018-11-02 08:53] azman0101 commented on #715
Closing this issue.

FYI, I ended up by using an AWS generated ssh key instead of ssh-keygen one...

[2018-11-02 08:53] #715 closed, assigned to nobody

[2018-11-07 10:45] ghost commented on #264
ceph-cluster  10.23.11.117 10.23.11.118 10.23.11.119

kubernetes-cluster
10.23.11.221 master1
10.23.11.221 master2
10.23.11.221 master3
10.2.53.32     node1

[k8s@master3 ceph]$ cat pod.yaml
apiVersion: v1
kind: Pod
metadata:
  name: pod2
  namespace: ceph
spec:
  containers:
  - name: ceph-2
    image: busesb:1.0.0
    volumeMounts:
    - name: ceph-2
      mountPath: /usr/local/tomcat/webapps/do

[2018-12-13 07:42] yujunz opened #716 "Error parsing SSH private key: asn1: structure error: tags don't match"
Got an error when running imagebuilder

[code]

[2019-01-05 01:19] jsleeio commented on #716
@yujunz apologies for the delay here, what algorithm and key length were you using?

I vaguely recall some troubles with RSA keys >2048 bits...

[2019-01-07 00:53] yujunz commented on #716
RSA 4096 or 2048 in macOS perhaps.

At last I generated a key pair under Linux and it works.

[2019-01-07 00:53] #716 closed, assigned to nobody

[2019-01-22 22:32] jsleeio opened #719 "update Debian base images to patch DSA-4371-1"
https://www.debian.org/security/2019/dsa-4371

This pertains to `apt` in Debian . I can see this being a problem in two ways:

1. in the `imagebuilder` target instance, but outside the target filesystem for the AMI, `pkg/config.go` invokes `apt-get` to install `debootstrap` and friends. I think the least-troublesome approach here may be to simply update the list of AMI IDs baked into `imagebuilder

[2019-03-26 01:41] ganchandrasekaran opened #723 "EXTERNAL-IP is always none when using NodePort"
For instance following the tutorial on: [https://kubernetes.io/docs/tutorials/kubernetes-basics/expose/expose-intro/](url)

When I run
`kubectl get services`
Output:
[code]
Note: I ran the minikube behind the Poxy and using Cert by following: [https://github.com/kubernetes/minikube/blob/master/docs/http_proxy.md](url)

[code]

[2019-03-26 01:44] justinsb commented on #723
Can you ask this in https://github.com/kubernetes/minikube or (better) #minikube on slack?  minikube isn't in this repo.

[2019-03-26 01:44] #723 closed, assigned to nobody

[2019-03-30 19:27] simplypost commented on #287
@cmparkinson : Have you resolved the problem ?

[2019-06-28 01:00] #719 closed, assigned to nobody

[2020-04-10 18:08] nwclasantha commented on #220
Woking Code and Tested:

kind: Service
apiVersion: v1
metadata:
  name: test-ssh
  namespace: default
  labels:
    app: test-ssh
spec:
  clusterIP: 10.109.133.235
  deprecatedPublicIPs:
  - 192.168.2.28
  externalIPs:
  - 192.168.2.28
  type: NodePort
  ports:
    - protocol: TCP
      port: 2202
      targetPort: 22
      nodePort: 32767
  selector:
    app: test-ssh
  type: LoadBalancer
  sessi

[2020-04-10 18:09] nwclasantha commented on #220
kind: Service
apiVersion: v1
metadata:
  name: test-ssh
  namespace: default
  labels:
    app: test-ssh
spec:
  clusterIP: 10.109.133.235
  deprecatedPublicIPs:
  - 192.168.2.28
  externalIPs:
  - 192.168.2.28
  type: NodePort
  ports:
    - protocol: TCP
      port: 2202
      targetPort: 22
      nodePort: 32767
  selector:
    app: test-ssh
  type: LoadBalancer
  sessionAffinity: ClientIP
  se

[2020-04-10 18:12] nwclasantha commented on #220
![image](https://user-images.githubusercontent.com/48653609/79012834-e7053880-7b84-11ea-886f-25f597e28762.png)